@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jncl93');
  src:  url('fonts/icomoon.eot?jncl93#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jncl93') format('truetype'),
    url('fonts/icomoon.woff?jncl93') format('woff'),
    url('fonts/icomoon.svg?jncl93#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e932";
}
.icon-video:before {
  content: "\e931";
}
.icon-check-circle:before {
  content: "\e930";
}
.icon-arrow-circle:before {
  content: "\e92f";
}
.icon-menu:before {
  content: "\e92e";
}
.icon-puntitos:before {
  content: "\e92d";
}
.icon-estirilizacion:before {
  content: "\e900";
}
.icon-endoscopia:before {
  content: "\e90b";
}
.icon-obstetricia:before {
  content: "\e926";
}
.icon-hospitalizacion:before {
  content: "\e927";
}
.icon-laboratorio:before {
  content: "\e928";
}
.icon-emergencia:before {
  content: "\e929";
}
.icon-operaciones:before {
  content: "\e92a";
}
.icon-salud-ocupacional:before {
  content: "\e92b";
}
.icon-residuos-solidos:before {
  content: "\e92c";
}
.icon-corazon:before {
  content: "\e901";
}
.icon-buscador:before {
  content: "\e902";
}
.icon-calendario:before {
  content: "\e903";
}
.icon-carrito-cotizaciones:before {
  content: "\e904";
}
.icon-carrito-vacio:before {
  content: "\e905";
}
.icon-cerrar:before {
  content: "\e906";
}
.icon-check-lineal:before {
  content: "\e907";
}
.icon-check-09:before {
  content: "\e908";
}
.icon-check-24:before {
  content: "\e909";
}
.icon-comodin:before {
  content: "\e90a";
}
.icon-descargar:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e90d";
}
.icon-error:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-filtros:before {
  content: "\e910";
}
.icon-flecha-abajo:before {
  content: "\e911";
}
.icon-flecha-arriba:before {
  content: "\e912";
}
.icon-flecha-derecha:before {
  content: "\e913";
}
.icon-flecha-izquierda:before {
  content: "\e914";
}
.icon-galeria:before {
  content: "\e915";
}
.icon-google:before {
  content: "\e916";
}
.icon-intranet:before {
  content: "\e917";
}
.icon-check-3:before {
  content: "\e918";
}
.icon-mas:before {
  content: "\e919";
}
.icon-menos:before {
  content: "\e91a";
}
.icon-mensaje-enviado:before {
  content: "\e91b";
}
.icon-mi-cuenta:before {
  content: "\e91c";
}
.icon-mis-cotizaciones:before {
  content: "\e91d";
}
.icon-mis-datos:before {
  content: "\e91e";
}
.icon-orden:before {
  content: "\e91f";
}
.icon-play-video:before {
  content: "\e920";
}
.icon-regresar:before {
  content: "\e921";
}
.icon-remover:before {
  content: "\e922";
}
.icon-skype:before {
  content: "\e923";
}
.icon-telefono:before {
  content: "\e924";
}
.icon-youtube:before {
  content: "\e925";
}
