.footer
	background: $c-4
	margin: 0 0
	padding: 60px 20px 25px 20px

.footer__container
	max-width: 1220px
	margin: auto

.footer__middle
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start

.footer__middle__box
	width: 21%
	margin: 0 auto
	h4
		font-family: $t-1
		font-size: 12px
		text-transform: uppercase
		margin-bottom: 0
		padding-bottom: 25px
		color: $blanco
	li
		font-family: $t-0
		font-size: 12px
		color: $blanco
		padding-bottom: 20px
		&:last-child
			padding-bottom: 0
		a
			opacity: .7
			transition: all .25s ease
			@media screen and (min-width: 1025px)
				&:hover
					opacity: 1
	a
		color: $blanco
		text-decoration: none

.footer__middle__redes
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	width: 16%
	h4
		font-family: $t-1
		font-size: 12px
		text-transform: uppercase
		margin-bottom: 0
		color: $blanco
		padding-right: 5px
		padding-top: 8px
	.btn__redes
		width: calc(100% - 70px)

.footer__box__phone
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 10px
	span
		color: $c-2
		font-size: 25px
		margin: 0
		padding-right: 5px
	a
		font-family: $t-1
		font-size: 18px
		color: $blanco
		margin: 0

.footer__box__horarios
	font-family: $t-0
	font-size: 13px
	color: #ABABAB
	padding-bottom: 20px
	p
		margin-bottom: 5px

.footer__box__info
	font-family: $t-1
	font-size: 14px
	color: $blanco
	a
		display: block
		color: $blanco
		margin-bottom: 10px

.footer__box__btn--responsive
	display: none

.footer__whatsapp
	a
		position: relative
		display: inline-block
		padding-left: 25px
		&:before
			content: '\e933'
			position: absolute
			font-family: $icomoon
			font-size: 17px
			color: $blanco
			bottom: 0
			left: 0

.footer__bottom
	margin-top: 57px
	color: $c-6
	font-size: 14px
	border-top: 1px solid rgba(255, 255, 255, 0.05)
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	padding-top: 25px

.footer__bottom__derechos
	margin: auto
	margin-left: 0
	font-family: $t-0
	font-size: 12px
	color: $blanco
	opacity: .4
	p
		margin-bottom: 0

.footer__bottom__web
	margin: auto
	margin-right: 0
	font-family: $t-0
	font-size: 12px
	color: $blanco
	p
		margin-bottom: 0
	span
		color: #F27490
		font-size: 8px
		animation: latidos .6s infinite
		transform-origin: center
		display: inline-block
		margin-right: 4px
	a
		font-family: $t-5
		font-size: 11px
		color: $blanco

+keyframes(latidos)
	0%
		transform: none
	50%
		transform: scale(1.2)
	100%
		transform: none

@media screen and (max-width: 1200px)
	.footer__middle__redes
		width: 20%
		h4
			padding-top: 0
			padding-bottom: 15px
		.btn__redes
			width: 100%
	.footer__middle__box
		width: 18.6%

@media screen and (max-width: 920px)
	.footer__middle__box
		&:nth-child(3), &:nth-child(4)
			display: none
	.footer__middle__box
		width: 37.6%
		&:nth-child(2)
			width: 25%
	.footer__middle__redes
		width: 28%

@media screen and (max-width: 767px)
	.footer__middle__box
		width: 50%
		margin-left: 0
	.footer__middle__box
		&:nth-child(2)
			display: none
	.footer
		padding: 60px 15px 25px 15px

	.footer__middle__redes
		width: 40%

@media screen and (max-width: 480px)
	.footer__middle__box
		width: 100%
		text-align: center
	.footer__box__phone
		justify-content: center
	.footer__middle__redes
		width: 100%
		h4
			display: none
		.btn__redes
			width: 100%
			ul
				justify-content: center
	.footer__bottom
		display: block
		text-align: center
		padding-top: 20px
		margin-top: 20px
	.footer
		background: $c-2
		padding: 25px 15px 20px 15px
	.footer__bottom__derechos
		padding-bottom: 5px
	.footer__box__btn--responsive
		display: block
		margin-bottom: 20px
		a
			font-family: $t-2
			font-size: 13px
			color: $blanco
			text-transform: uppercase
			height: 40px
			line-height: 40px
			background-color: $c-3
			display: inline-block
			padding: 0px 20px
			border-radius: 2px

	.footer__box__horarios
		color: $blanco

	.footer__box__phone span
		color: $blanco

	.footer__bottom__derechos
		opacity: 1
