.header
	height: 120px

.header_main
	width: 100%
	background: $blanco
	position: fixed
	top: 0
	left: 0
	z-index: 100

.header_up
	padding: 0 20px

.header_up_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	max-width: 1200px
	width: 100%
	margin: auto

.header_down
	width: 100%
	height: 50px
	background: $c-2
	box-sizing: border-box
	padding: 0 20px

.header_down_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	max-width: 1250px
	width: 100%
	position: relative
	box-sizing: border-box
	padding: 0 6.5%
	margin: auto

@media screen and (max-width: 1200px)
	.header
		height: 70px
	
	.header_main
		border-bottom: 1px solid $c-7

	.header_down
		display: none

	.header_up
		padding-right: 0

@media screen and (max-width: 767px)
	.header_up
		padding: 0 15px

@media screen and (max-width: 480px)
	.header_up_content
		max-width: 364px

// ---------------------
// ELEMENTOS
// ---------------------

// +++ LOGO +++
.header_logo
	display: block
	width: 142px
	margin: 0
	img
		display: block
		width: 100%
		height: auto

@media screen and (max-width: 330px)
	.header_logo
		width: calc(100% - 140px)
// <<< END >>>

// +++ BUSQUEDA +++
.header_search
	width: calc(100% - 535px)
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-left: 25px

.header_search_input
	position: relative
	+placeholder($c-0,$t-0)
	input
		width: 100%
		height: 70px
		background: none
		color: $c-0
		font-family: $t-0
		font-size: 14px
		border: none
		border-left: 1px solid $c-7
		border-right: 1px solid $c-7
		box-sizing: border-box
		padding: 0 15px 0 33px

.header_search_icon
	display: block
	width: 23px
	height: 23px
	line-height: 23px
	background: none
	color: $c-3
	font-size: 23px
	text-align: center
	border: none
	position: absolute
	top: 50%
	right: 25px
	padding: 0
	margin-top: -11.5px

.header_search_block
	width: 640px
	background: $blanco
	opacity: 0
	visibility: hidden
	transition: all .25s ease-in-out
	position: absolute
	top: 70px
	left: 0
	box-sizing: border-box
	padding: 20px 15px 22px 15px
	&.active
		opacity: 1
		visibility: visible

.header_search_block_items
	padding-bottom: 53px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
	li
		width: 22%
		margin: 0 4% 0 0
		&:nth-child(4n-4)
			margin-right: 0

.header_search_block_img
	width: 100px
	margin: 0 0 18px 0
	img
		display: block
		width: 100%
		height: auto

.header_search_block_text1
	margin-bottom: 6px
	h3
		line-height: 13.2px
		color: $c-0
		font-family: $t-0
		font-size: 11px
		margin-bottom: 0

.header_search_block_text2
	line-height: 14.4px
	color: $c-1
	font-family: $t-1
	font-size: 12px
	p
		margin-bottom: 0

.header_search_block_button
	a
		display: block

.header_search_overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .7
		visibility: visible
		z-index: 80

@media screen and (max-width: 1200px)
	.header_search
		width: calc(100% - 364px)
		padding-left: 0

	.header_search_block
		width: 100%

@media screen and (max-width: 960px)
	.header_search_block_items
		li
			width: 48%
			margin-top: 40px
			&:nth-child(-n+2)
				margin-top: 0
			&:nth-child(odd)
				margin-right: 4%
			&:nth-child(even)
				margin-right: 0

@media screen and (max-width: 767px)
	.header_search
		display: none
// <<< END >>>

// +++ INTRANET +++
.header_intranet
	width: 107px

.header_intranet_link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	height: 70px
	box-sizing: border-box
	padding: 0 13px
	@media screen and (min-width: 1025px)
		&:hover
			.header_intranet_icon
				color: $c-3
			.header_intranet_text
				color: $c-3

.header_intranet_icon
	display: block
	width: 22px
	height: 22px
	line-height: 22px
	color: $c-0
	font-size: 20px
	text-align: center
	@media screen and (min-width: 1025px)
		transition: .25s ease-in-out

.header_intranet_text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-2
	font-size: 14px
	padding-left: 5px
	@media screen and (min-width: 1025px)
		transition: .25s ease-in-out

@media screen and (max-width: 1200px)
	.header_intranet
		display: none
// <<< END >>>

// +++ CUENTA +++
.header_cuenta
	width: 150px
	position: relative
	z-index: 2
	@media screen and (min-width: 1025px)
		&:hover
			.header_cuenta_boxes
				opacity: 1
				visibility: visible
			.header_cuenta_icon
				color: $c-3
			.header_cuenta_text
				color: $c-3
			.header_cuenta_select
				color: $c-3
				transform: rotate(-180deg)

.header_cuenta_link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	width: 100%
	height: 70px
	border-left: 1px solid $c-7
	border-right: 1px solid $c-7
	position: relative
	box-sizing: border-box
	padding: 0 46px 0 13px


.header_cuenta_icon
	display: block
	width: 22px
	height: 22px
	line-height: 22px
	color: $c-0
	font-size: 20px
	text-align: center
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out

.header_cuenta_text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-2
	font-size: 14px
	padding-left: 5px
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out

.header_cuenta_select
	display: block
	width: 20px
	height: 20px
	line-height: 20px
	color: $c-0
	font-size: 20px
	text-align: center
	position: absolute
	top: 50%
	right: 12px
	margin-top: -10px
	@media screen and (min-width: 1025px)
		transform: rotate(0)
		transition: all .25s ease-in-out

.header_cuenta_boxes
	width: 250px
	box-shadow: 0 5px 30px rgba(0,0,0,0.15)
	position: absolute
	top: 70px
	left: 0
	@media screen and (min-width: 1025px)
		opacity: 0
		visibility: hidden
		transition: all .25s ease-in-out

// hover - bloque select 1 
.header_cuenta_box1
	width: 250px
	background: $blanco
	box-sizing: border-box
	padding: 0 10px
	&.show
		display: block
	&.hide
		display: none

.header_cuenta_box1_up
	max-width: 199px
	width: 100%
	border-bottom: 1px solid $c-7
	box-sizing: border-box
	padding: 30px 15px 25px 15px
	margin: 0 auto 0 auto

.header_cuenta_box1_up_text
	display: block
	line-height: 1
	color: $c-4
	font-family: $t-2
	font-size: 12px
	margin-bottom: 8px

.header_cuenta_box1_up_button
	font-size: 0
	.btn__general
		width: 100%
		height: 40px
		font-family: $t-2
		font-size: 12px
		border-radius: 3px
	.btn__general__text
		line-height: 40px
		padding: 0
		margin: 0

.header_cuenta_box1__down
	max-width: 199px
	width: 100%
	box-sizing: border-box
	padding: 23px 15px 24px 15px
	margin: 0 auto 0 auto

.header_cuenta_box1_down_text
	display: block
	line-height: 1
	color: $c-4
	font-family: $t-2
	font-size: 12px
	margin-bottom: 8px

.header_cuenta_box1_down_button
	font-size: 0
	.btn__general
		width: 100%
		height: 40px
		color: $c-0
		font-family: $t-1
		font-size: 12px
		border: 1px solid #e0e0e0
		border-radius: 3px
		box-sizing: border-box
	.btn__general__text
		line-height: 40px
		padding: 0
		margin: 0

// hover - bloque select 2
.header_cuenta_box2
	width: 250px
	background: $blanco
	&.show
		display: block
	&.hide
		display: none

.header_cuenta_box2_head
	border-bottom: 1px solid $c-7
	padding: 26px 38px 17px 38px

.header_cuenta_box2_head_text1
	display: block
	line-height: 1
	color: $c-4
	font-family: $t-0
	font-size: 12px
	margin-bottom: 10px

.header_cuenta_box2_head_text2
	display: block
	line-height: 1
	color: $c-4
	font-family: $t-1
	font-size: 19px

.header_cuenta_box2_links
	border-bottom: 1px solid $c-7
	padding: 20px 38px 27px 38px
	li
		margin-bottom: 23px
		&:last-child
			margin-bottom: 0

.header_cuenta_box2_link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center

.header_cuenta_box2_link_icon
	display: block
	width: 15px
	height: 15px
	line-height: 15px
	color: $c-0
	font-size: 15px
	text-align: center
	margin: 0

.header_cuenta_box2_link_text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-0
	font-size: 14px
	padding-left: 10px
	margin: 0

.header_cuenta_box2_foot
	padding: 20px 38px 19px 38px

.header_cuenta_box2_foot_link
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-2
	font-size: 12px

@media screen and (max-width: 1200px)
	.header_cuenta
		display: none
// <<< END >>>

// +++ COTIZACIONES +++
.header_cotizaciones
	width: 136px
	border-right: 1px solid $c-7
	box-sizing: border-box

.header_cotizaciones_link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	height: 70px
	box-sizing: border-box
	padding: 0 13px
	@media screen and (min-width: 1025px)
		&:hover
			.header_cotizaciones_icon
				color: $c-3
			.header_cotizaciones_text
				color: $c-3

.header_cotizaciones_icon
	display: block
	width: 22px
	height: 22px
	line-height: 22px
	color: $c-0
	font-size: 20px
	text-align: center
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out

.header_cotizaciones_text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-2
	font-size: 14px
	padding-left: 5px
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out

@media screen and (max-width: 1200px)
	.header_cotizaciones
		width: 60px
		border-right: none

	.header_cotizaciones_link
		padding: 0

	.header_cotizaciones_icon
		margin: 0

	.header_cotizaciones_text
		display: none

@media screen and (max-width: 767px)
	.header_cotizaciones
		width: calc(100% - 304px)

	.header_cotizaciones_link
		width: 60px
		margin-left: auto
		margin-right: 0

@media screen and (max-width: 480px)
	.header_cotizaciones
		width: 60px

	.header_cotizaciones_link
		width: 100%
// <<< END >>>

// +++ MENU +++
.header_menu_wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap

.header_menu_item
	padding: 0 25px
	margin: 0
	&:first-child
		padding-left: 0
	&:last-child
		padding-right: 0
	&.active
		.header_menu_link
			&:after
				opacity: 1
				visibility: visible
	@media screen and (min-width: 1025px)
		&:hover
			.header_menu_link
				&:after
					opacity: 1
					visibility: visible
			.header_megamenu
				display: block

.header_menu_inicio
	padding-right: 0

.header_link_inicio
	display: block
	width: 25px
	height: 50px
	line-height: 48px
	color: $blanco
	font-size: 24px
	text-align: center

.header_menu_link
	display: inline-block
	height: 50px
	line-height: 50px
	color: $blanco
	font-family: $t-2
	font-size: 13px
	text-transform: uppercase
	position: relative
	padding: 0 2px
	&:after
		content: ""
		width: 100%
		height: 2px
		background: $c-3
		opacity: 0
		visibility: hidden
		position: absolute
		bottom: 0
		left: 0

.header_menu_overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .7
		visibility: visible
		z-index: 80

// megamenu
.header_megamenu
	width: 100%
	background: $blanco
	position: absolute
	top: 50px
	left: 0
	display: none

.header_megamenu_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	padding: 45px 35px 40px 35px

.header_megamenu_list
	width: 16%
	line-height: 1
	font-size: 0
	margin: 48px 5% 0 0
	&:nth-child(5n+5)
		margin-right: 0
	&:nth-child(-n+5)
		margin-top: 0

.header_megamenu_item
	margin-bottom: 13px

.header_megamenu_subtitle
	display: block
	line-height: 1.2
	color: $c-3
	font-family: $t-2
	font-size: 12px
	margin-bottom: 15px

.header_megamenu_link
	display: inline-block
	line-height: 1.2
	color: $c-1
	font-family: $t-0
	font-size: 12px

.header_megamenu_ver_todo_link
	display: inline-block
	line-height: 1.2
	color: $c-1
	font-family: $t-2
	font-size: 12px

@media screen and (max-width: 1200px)
	.header_menu_item
		padding: 0 15px
// <<< END >>>

// +++ IDIOMAS +++
.header_idiomas
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 13px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
	li
		margin: 0 4px 0 0
		&:last-child
			margin-right: 0

.header_idiomas_link
	display: block
	line-height: 50px
	color: $blanco
	&.active
		color: $c-3
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out
		&:hover
			color: $c-3
// <<< END >>>

// MENU RESPONSIVE
.menu_mobile_open
	display: none
	width: 80px
	height: 70px
	box-sizing: border-box
	padding-left: 20px

.menu_mobile_open_icon
	display: block
	width: 100%
	height: 70px
	line-height: 70px
	color: $c-0
	font-size: 26px
	text-align: center
	cursor: pointer
	border-left: 1px solid $c-7
	box-sizing: border-box
	margin: 0

.header_menu_mobile_overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .7
		visibility: visible
		z-index: 110

body.active
	overflow: hidden

@media screen and (max-width: 1200px)
	.menu_mobile_open
		display: block

@media screen and (max-width: 767px)
	.menu_mobile_open_icon
		border-right: 1px solid $c-7
// <<< END >>>

// MENU ASIDE RESPONSIVE - PLANTILLA
.mega__menu__mobile
	width: 100%
	max-width: 300px
	height: 100%
	background: $blanco
	position: fixed
	top: 0
	left: 0
	transform: translateX(-100%)
	opacity: 0
	transition: all .3s ease
	z-index: 120
	overflow: auto
	&.active
		opacity: 1
		transform: translateX(0)
.menu__mobile__close
	height: 40px
	width: 100%
	cursor: pointer
	text-align: right
	padding: 10px 15px
	box-sizing: border-box
	border-bottom: 1px solid rgba(000, 000, 000, .15)
	background: $c-15
	color: $blanco
	display: flex
	justify-content: space-between
	font-family: $t-0
	align-items: center
	h3
		position: relative
		padding-left: 23px
		font-weight: normal
		margin: 0
		font-size: 16px
		&:before
			content: "\e913"
			font-family: icomoon
			position: absolute
			top: 0
			left: 0
	span
		width: 20px
		height: 20px
		display: block
		position: relative
		margin: 0
		color: $blanco
		&:before
			content: "\e906"
			font-family: icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 18px
.menu__mobile__ctn
	height: calc(100% - 40px)
	overflow: auto
.menu__mobile__no__login
	padding: 20px 15px
	box-sizing: border-box
	font-size: 14px
	font-family: $t-0
	color: $c-0
.ctn__sesion__on, .ctn__sesion__new
	text-align: center
	margin: 0 0 15px 0
	p
		margin: 0 0 10px 0
.ctn__sesion__new
	margin: 0
.menu__mobile__categorias
	height: auto
	overflow: auto
	a
		position: relative
		display: block
		padding: 15px
		font-size: 13px
		font-family: $t-0
		box-sizing: border-box
		border-bottom: 1px solid rgba(000, 000, 000, .15)
		color: $c-0
		&:before
			position: absolute
			content: "\e914"
			font-family: icomoon
			top: 15px
			bottom: 0
			margin: auto
			right: 10px
			font-size: 15px
.menu__header__categorias__mobile
	height: 50px
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 15px
	box-sizing: border-box
	background: #fff
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	color: $c-0
	font-family: $t-0
.menu__heder__close__mobile
	position: relative
	height: 20px
	width: 20px
	cursor: pointer
	&:before
		content: "\e906"
		font-family: icomoon
		position: absolute
		top: 0
		left: 0
		font-size: 18px
		color: $c-2
.menu__header__title__mobile
	h3
		margin: 0
		font-weight: normal
		padding-left: 23px
		box-sizing: border-box
		position: relative
		color: $c-1
		font-size: 16px
		font-family: $t-1
		text-transform: uppercase
		&:before
			content: "\e913"
			cursor: pointer
			position: absolute
			top: 0
			left: 0
			font-family: $icomoon
			color: $c-1
.menu__ctn__categorias__mobile
	height: calc(100% - 50px)
	overflow: auto
	&.sub__categorias
		height: calc(100% - 100px)
.menu__mobile__categorias__lists, .menu__mobile__subcategorias__lists
	position: relative
	height: 100%
	width: 100%
	ul
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		z-index: -1
		&.active
			opacity: 1
			visibility: visible
			position: relative
			z-index: 2
.menu__footer__mobile
	height: 50px
	line-height: 50px
	padding: 0 15px
	box-sizing: border-box
	border-top: 1px solid rgba(0, 0, 0, 0.15)
	a
		color: $c-0
		font-family: $t-0
		font-size: 16px

.menu__mobile__login
	background: $c-2
	padding: 0 15px

.menu_mobile_login_box
	.header_cuenta_box2_head
		border-bottom: 1px solid rgba(255,255,255,.5)
	.header_cuenta_box2_links
		border-bottom: 1px solid rgba(255,255,255,.5)
	.header_cuenta_box2_head_text1
		color: $blanco
	.header_cuenta_box2_head_text2
		color: $blanco
	.header_cuenta_box2_link_text
		color: $blanco
	.header_cuenta_box2_link_icon
		color: $blanco
	.header_cuenta_box2_foot_link
		color: $blanco

.menu_link_mobile_main
	&:before
		display: none

// links externos
.menu_link_mobile_toggle
	display: inline-block
	&:before
		width: 44px
		height: 44px
		line-height: 44px
		text-align: center
		transition: all .25s ease-in-out
		top: 0 !important
		bottom: auto !important

.menu_link_mobile_toggle.active_toggle
	&:before
		transform: rotate(-90deg)

.menu_links_mobile_toggle
	display: none
// <<< END >>>

// ASIDE CARRITO DE COTIZACIONES
.ctn__car__sidebar
	width: 90%
	max-width: 600px
	height: 100%
	position: fixed
	top: 0
	right: 0
	background: $blanco
	padding: 80px 40px 45px 40px
	box-sizing: border-box
	transition: all .3s ease
	transform: translateX(100%)
	opacity: 0
	&.active
		z-index: 120
		opacity: 1
		transform: translateX(0)
.ctn__car__sidebar__prin
	height: 100%
	flex-wrap: wrap
	align-content: space-between
.ctn__car__sidebar__title
	height: 20px
	display: flex
	justify-content: space-between
	width: 100%
	position: relative
	h3
		margin: 0
		font-family: $t-1
		font-size: 24px
		font-weight: normal
		color: $c-1
.car__close__sidebar
	position: absolute
	top: 2px
	right: 0
	height: 24px
	width: 24px
	cursor: pointer
	&:before
		content: "\e906"
		font-family: $icomoon
		left: 0
		color: $c-0
		width: 100%
		height: 100%
		line-height: 24px
		font-size: 24px
		text-align: center
.ctn__car__sidebar__items
	width: 100%
	height: calc(100% - 160px)
	padding: 20px 0 20px 0
	box-sizing: border-box
.ctn__car__scroll
	height: 100%
	overflow: auto
.car__item
	display: flex
	justify-content: space-between
	border-bottom: 1px solid $c-6
	padding: 20px 35px 20px 0
.car__item__img
	width: 72px
	height: 72px
	img
		display: block
		margin: 0
		max-width: 100%
		height: auto
.car__item__info
	width: calc(100% - 92px)
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	position: relative
.car__item__name
	width: 100%
	margin-bottom: 10px
	h4
		font-weight: normal
		margin: 0
		color: $c-0
		font-family: $t-0
		font-size: 14px
.car__item__cant
	font-family: $t-1
	font-size: 14px
	color: $c-0
	p
		margin: 0
.car__item__price
	text-align: right
.car__item__close 
	position: absolute
	top: 0
	right: 0
	height: 12px
	width: 12px
	cursor: pointer
	&:before
		content: "\e605"
		position: absolute
		top: 0
		left: 0
		font-family: icomoon
		font-size: 12px
		color: $c-4
.price__old
	text-decoration: line-through
	font-size: 14px
	font-family: $t-0
	color: $c-4
	margin-bottom: 7px
.price__new
	font-family: $t-2
	font-size: 15px
	color: $c-2
.car__side__bottom
	width: 100%
	height: 170px
	display: flex
	flex-wrap: wrap
.car__side__bottom__total
	display: flex
	justify-content: space-between
	width: 100%
	flex-grow: 1
.car__side__sub
	font-size: 14px
	font-family: $t-1
	color: $c-0
	text-transform: uppercase
.car__side__precio
	font-size: 20px
	font-family: $t-2
	color: $c-2
.car__side__btn
	width: 100%
	a
		display: block
		width: 100%
		margin: 0 0 10px 0
		text-align: center
		&:last-child
			margin: 0
	.button__general
		width: 100%
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0
	.btn__general__text
		padding: 0

.car__side__btn_2
	color: $c-0
	font-family: $t-2
	font-size: 14px
	border: 1px solid $c-8

.car__vacio
	height: 100%
	width: 100%
	display: none
	position: relative
	padding: 0 15px 25px 15px
	box-sizing: border-box
	overflow: auto
.car__vacio__close
	display: block
	width: 20px
	height: 20px
	line-height: 20px
	color: $c-0
	font-size: 20px
	text-align: center
	cursor: pointer
	position: absolute
	top: 0
	right: 0
.car__vacio__prin
	display: flex
	align-items: center
	width: 100%
	height: 100%
.car__vacio__img
	figure
		max-width: 81px
		margin: 0 auto
	img
		max-width: 100%
		margin: 0
		display: block
		height: auto
.car__vacio__parraf
	text-align: center
	margin: 50px 0 70px 0
	font-family: $t-2
	font-size: 20px
	color: $c-1
	line-height: 26.8px
	p
		margin: 0
.car__vacio__lists
	border-bottom: 1px solid #f0f0f0
	border-top: 1px solid #f0f0f0
	margin: 30px 0
	padding: 70px 0 50px 0
	box-sizing: border-box
.car__vacio__item
	margin: 0 0 55px 0
	position: relative
	display: block
	padding-right: 40px
	box-sizing: border-box
	&:last-child
		margin: 0
	&:before
		content: "\e92f"
		font-family: $icomoon
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		right: 0
		width: 30px
		height: 30px
		color: $c-4
		font-size: 30px
.car__vacio__item__title
	h3
		margin: 0
		font-weight: normal
		color: $c-4
		font-size: 16px
		font-family: $t-1
.car__vacio__item__parraf
	margin-top: 9px
	font-family: $t-0
	font-size: 15px
	color: $c-4
	p
		margin: 0
.car__vacio__btn
	width: 100%
	a
		width: 100%
		text-align: center
	.button__general
		width: 100%

.header_car_overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .7
		visibility: visible
		z-index: 110

@media screen and (max-width: 1024px)
	.ctn__car__sidebar
		padding: 50px 20px 45px 20px
	.car__close__sidebar
		margin-right: 36px
	.car__side__bottom
		height: 160px
	.car__vacio
		padding: 0
	.car__vacio__parraf
		margin-top: 30px
	.car__vacio__lists
		padding: 30px 0
	.car__vacio__item
		margin-bottom: 30px

@media screen and (max-width: 960px)
	.car__item
		padding-right: 0
	.car__close__sidebar
		margin-right: 2px

@media screen and (max-width: 767px)
	.ctn__car__sidebar
		padding: 30px 15px
	.car__item
		padding-top: 10px
		padding-bottom: 10px
	.car__vacio__prin
		align-items: center
	.car__vacio__ctn
		height: 100%
		overflow: auto
	.car__vacio__item
		padding-right: 30px
		&:before
			width: 20px
			height: 20px
			font-size: 20px
	.ctn__car__sidebar__title
		h3
			font-size: 18px
// <<< END >>>

// COMPONENTE CARRITO - PLANTILLA
.comp__car
	&.two
		.iten__car__minus
			left: inherit
			right: 10px
			bottom: 0
			top: inherit
			&:before
				content: "\e608"
				font-family: icomoon
		.item__car__more
			&:before
				content: "\e609"
				font-family: icomoon
		.item__car__cant__select
			height: 30px
			width: 100px
	&.three
		.item__car
			border-left: 1px solid $c-7
			border-right: 1px solid $c-7
			padding: 15px
			&:first-child
				border-top: 1px solid $c-7
		.item__car__img
			width: 112px
		.item__car__info
			width: calc(100% - 112px)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			flex-direction: column
			position: relative
			box-sizing: border-box
			padding-left: 15px
		.item__car__cant
			width: 87px
			position: absolute
			top: 0
			right: 0
		.item__car__delete
			display: inline-block
			width: auto
			color: $c-0
			font-family: $t-2
			font-size: 14px
			cursor: pointer
			position: absolute
			top: 60px
			right: 0
			&:before
				display: none
		.item__car__title,
		.item__car__text
			width: calc(100% - 58%)
		.item__car__price
			width: 100%
		.item__price__new
			margin-left: 0
.car__header
	display: flex
	width: 100%
.car__header__item
	padding: 0 15px
	box-sizing: border-box
	border-bottom: 1px solid
	justify-content: space-between
	h3
		margin: 0
		padding: 0
	&.producto
		width: 70%
	&.cantidad
		width: 30%
.item__car
	display: flex
	justify-content: space-between
	padding: 15px 0
	box-sizing: border-box
	align-items: center
	border-bottom: 1px solid $c-7
.item__car__img
	width: 100px
	img
		display: block
		width: 100%
		height: auto
.item__car__info
	width: calc(70% - 120px)
	box-sizing: border-box
	padding-right: 50px

.item__car__title
	margin-bottom: 5px
	h4
		line-height: 14.4px
		color: $c-0
		font-family: $t-0
		font-size: 12px
		margin-bottom: 0

.item__car__text
	line-height: 16.9px
	color: $c-1
	font-family: $t-1
	font-size: 14px
	p
		margin-bottom: 0

.item__car__price
	display: flex
	align-items: center
.item__car__sku
	span
		margin-right: 10px
		&:last-child
			margin-right: 0
.item__price__old
	text-decoration: line-through
.item__price__new
	margin-left: 10px
.item__car__cant
	width: calc(30% - 20px)
	h3
		margin: 0 0 10px 0
		font-weight: normal
		display: none
.item__car__sub__total
	width: calc(100% - 80px)
.item__car__cant__select
	width: 85px
	height: 43px
	position: relative
	border: 1px solid #e0e0e0
	border-radius: 3px
.iten__car__minus
	width: 25px
	height: 43px
	line-height: 43px
	color: $c-0
	text-align: center
	position: absolute
	top: 0
	left: 0
	cursor: pointer
.item__car__more
	width: 25px
	height: 43px
	line-height: 43px
	color: $c-0
	text-align: center
	position: absolute
	top: 0
	right: 0
	cursor: pointer
.item__car__select
	width: 35px
	height: 100%
	text-align: center
	margin: 0 auto
	input
		border: none
		background: none
		width: 35px
		height: 100%
		color: $c-1
		font-family: $t-0
		font-size: 14px
		text-align: center
		box-sizing: border-box
		padding: 0
.item__car__delete
	width: 20px
	height: 20px
	position: relative
	&:before
		content: "\e922"
		position: absolute
		top: 0
		left: 0
		font-family: $icomoon
		font-size: 20px
		cursor: pointer
		color: $c-0

@media screen and (max-width: 1024px)
	.comp__car.three
		.item__car__title,
		.item__car__text
			width: calc(100% - 32%)

@media screen and (max-width: 960px)
	.comp__car.three
		.item__car__title,
		.item__car__text
			width: calc(100% - 52%)

@media screen and (max-width: 767px)
	.comp__car
		&.three
			.item__car__delete
				order: 2
				top: 50%
				transform: translateY(-50%)
			.item__car__price
				order: 3
			.item__car__cant
				order: 4
				margin: 0
				position: static
				margin-top: 10px
			.item__car__sub__total
				order: 5
			.item__car__title,
			.item__car__text
				width: calc(100% - 150px)

	.item__car
		flex-wrap: wrap
	.car__header
		display: none
	.item__car__cant
		width: calc(100% - 82px)
		order: 4
		margin-top: 5px
		margin-left: auto
		h3
			display: block
	.item__car__img
		width: 70px
	.item__car__delete
		order: 3
	.item__car__info
		width: calc(100% - 120px)
		padding-right: 20px
	.item__car__sub__total
		width: 60px
		span
			display: block
			font-size: 11px

@media screen and (max-width: 480px)
	.comp__car
		&.three
			.item__car
				padding-left: 10px
				padding-right: 10px
			.item__car__img
				width: 70px
			.item__car__info
				width: calc(100% - 70px)
			.item__car__delete
				width: 20px
				height: 20px
				font-size: 0
				&:before
					display: block
			.item__car__title,
			.item__car__text
				width: calc(100% - 30px)
// <<< END >>>