footer.footer(role='contentinfo')
	.footer__container
		.footer__middle
			.footer__middle__box
				.footer__box__phone
					span.icon-telefono
					a(href="tel:2720203") (511) 272-0203
				.footer__box__horarios
					p L-V: 8:00am a 7:00pm
					p S-D: 10:00am a 4:00pm
				.footer__box__info
					.footer__whatsapp
						a(onclick="gtag('event', 'Contactenos', {event_category: 'Contactenos', event_action: 'Contactenos', event_label: 'whatsapp'});", target='_blank', href='https://api.whatsapp.com/send?phone=51987569067&text=Hola') +51 980533867
					a(href="mailto:ventas@ultraschall.com.pe") ventas@ultraschall.com.pe
					a(href="tel:3312154") Fax: 331-2154
			.footer__middle__box
				h4 Empresa
				ul
					li
						a(href="" target="_blank") Información SMV
					li
						a(href="" target="_blank") Información Financiera
					li
						a(href="" target="_blank") Memorias
					li
						a(href="" target="_blank") Hechos de Importancia
			.footer__middle__box
				h4 Servicio al cliente
				ul
					li
						a(href="" target="_blank") Intranet
					li
						a(href="terminos-condiciones.html") Politicas de Provacidad
					li
						a(href="contacto.html") Contacto
			.footer__middle__box
				h4 Links de Interés
				ul
					li
						a(href="servicio-tecnico.html") Servicio Técnico
					li
						a(href="capacitaciones.html") Capacitaciones
			.footer__middle__redes
				h4 Síguenos:
				.btn__redes
					ul
						li
							a(href="" class="btn__redes__icon btn__redes--facebook")
								span.icon-facebook
						li
							a(href="" class="btn__redes__icon btn__redes--skype")
								span.icon-skype
						li
							a(href="" class="btn__redes__icon btn__redes--youtube")
								span.icon-youtube
						li
							a.btn__redes__icon.btn__redes--linkedin(href='#')
								span.icon-linkedin
						li
							a.btn__redes__icon.btn__redes--moodle(href='#')
								img.icon_moodle_color(src=`${STATIC_URL}img/icon-moodle.svg`, alt='')
								img.icon_moodle_white(src=`${STATIC_URL}img/icon-moodle-white.svg`, alt='')
		.footer__bottom
			.footer__bottom__derechos
				p Ultraschall Todos los derechos reservados 2018
			.footer__bottom__web
				p Diseño web 
					span(class="icon-corazon") 
					| por 
					a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital