span.header_menu_overlay
span.header_search_overlay
span.header_menu_mobile_overlay
span.header_car_overlay
header.header
	.header_main
		section.header_up
			.header_up_content
				a(href="home.html", class="header_logo")
					img(src=`${STATIC_URL}img/header-logo.png`, width="142", height="49", alt="")
				.menu_mobile_open
					span.menu_mobile_open_icon.btn__mobile.icon-menu
				.header_search
					.header_search_input
						input(type="text", name="search", placeholder="¿Qué buscas?")
						button(class="header_search_icon icon-buscador")
						.header_search_block
							.header_search_block_items
								ul
									-for (var i = 0; i < 4; i++)
										li
											a(href="", class="header_search_block_item")
												figure.header_search_block_img
													img(src=`${STATIC_URL}img/header-search-img-1.jpg`, width="100", height="100", alt="")
												.header_search_block_text1
													h3 TUTTNAUER
												.header_search_block_text2
													p.
														Autoclave mesa 23 Lt automatica clase-N c.bomba de aire y impresora TUTTNAUER
							.header_search_block_button
								a(href="#", class="btn__general btn__general--purple")
									.btn__general__text.btn__general__text1
										span.span__txt__black MÁS PRODUCTOS
									.btn__general__text.btn__general__text2
										span.span__txt__black MÁS PRODUCTOS
				.header_intranet
					a(href="#", class="header_intranet_link")
						span.header_intranet_icon.icon-intranet
						span.header_intranet_text Intranet
				.header_cuenta
					a(href="#", class="header_cuenta_link")
						span.header_cuenta_icon.icon-mi-cuenta
						span.header_cuenta_text Mi cuenta
						span.header_cuenta_select.icon-flecha-abajo
					.header_cuenta_boxes
						.header_cuenta_box1.show
							.header_cuenta_box1_up
								span.header_cuenta_box1_up_text ¿Tienes cuenta?
								.header_cuenta_box1_up_button
									a(href="login.html", class="btn__general btn__general--purple")
										.btn__general__text.btn__general__text1
											span.span__txt__black INICIA SESIÓN
										.btn__general__text.btn__general__text2
											span.span__txt__black INICIA SESIÓN
							.header_cuenta_box1__down
								span.header_cuenta_box1_down_text Nuevo en Ultraschall
								.header_cuenta_box1_down_button
									a(href="login.html", class="btn__general")
										.btn__general__text.btn__general__text1
											span.span__txt__black REGÍSTRATE
										.btn__general__text.btn__general__text2
											span.span__txt__black REGÍSTRATE
						.header_cuenta_box2.hide
							.header_cuenta_box2_head
								span.header_cuenta_box2_head_text1 Hola,
								span.header_cuenta_box2_head_text2 Antonio
							.header_cuenta_box2_links
								ul
									li
										a(href="#", class="header_cuenta_box2_link")
											span.header_cuenta_box2_link_icon.icon-mis-datos
											span.header_cuenta_box2_link_text Mi Perfil
									li
										a(href="#", class="header_cuenta_box2_link")
											span.header_cuenta_box2_link_icon.icon-mis-cotizaciones
											span.header_cuenta_box2_link_text Mis Cotizaciones
							.header_cuenta_box2_foot
								a(href="#", class="header_cuenta_box2_foot_link") CERRAR SESIÓN
				.header_cotizaciones
					a(href="#", class="header_cotizaciones_link btn__car__prin")
						span.header_cotizaciones_icon.icon-carrito-cotizaciones
						span.header_cotizaciones_text Cotizaciones
		section.header_down
			.header_down_content
				nav.header_menu
					ul.header_menu_wrap
						li.header_menu_item.header_menu_inicio
							a(href="home.html", class="header_link_inicio icon-home")
						li.header_menu_item.hover.active
							a(href="productos.html", class="header_menu_link") Productos
							.header_megamenu
								.header_megamenu_content
									-for (var i = 0; i < 10; i++)
										article.header_megamenu_list
											a(href="productos.html", class="header_megamenu_subtitle") Tratamiento de Residuos Sólidos Hospitalarios
											ul.header_megamenu_links
												li.header_megamenu_item
													a(href="productos.html", class="header_megamenu_link") Agitadores
												li.header_megamenu_item
													a(href="productos.html", class="header_megamenu_link") Anoscopios
												li.header_megamenu_item
													a(href="productos.html", class="header_megamenu_link") Aspiradores de Pared
												li.header_megamenu_item
													a(href="productos.html", class="header_megamenu_link") Audiómetros Clínicos
												li.header_megamenu_ver_todo
													a(href="productos.html", class="header_megamenu_ver_todo_link") Ver todo >
						li.header_menu_item
							a(href="servicio-tecnico.html", class="header_menu_link") Servicio Técnico
						li.header_menu_item
							a(href="nosotros.html", class="header_menu_link") Nosotros
						li.header_menu_item
							a(href="proyectos-integrales.html", class="header_menu_link") Proyectos Integrales
						li.header_menu_item
							a(href="capacitaciones.html", class="header_menu_link") Capacitaciones
						li.header_menu_item
							a(href="contacto.html", class="header_menu_link") Contacto
				.header_idiomas
					ul
						li
							a(href="#", class="header_idiomas_link active") ESP
						li
							span /
						li
							a(href="#", class="header_idiomas_link") ING

//- MENU ASIDE RESPONSIVE - PLANTILLA
artilce.mega__menu__mobile.menu__mobile__prin
	.menu__mobile__close.btn__menu__close__mobile 
		h3 Volver
		span
	.menu__mobile__ctn
		.menu__mobile__no__login
			.ctn__sesion__on
				p ¿ Tienes cuenta ?
				a(href="login.html", class="btn__general btn__general--purple")
					.btn__general__text.btn__general__text1
						span.span__txt__black Iniciar Sesión
					.btn__general__text.btn__general__text2
						span.span__txt__black Iniciar Sesión
			.ctn__sesion__new
				p ¿ Nuevo en Ultraschall ?
				a(href="login.html", class="btn__general btn__general--orange")
					.btn__general__text.btn__general__text1
						span.span__txt__black Registrarse
					.btn__general__text.btn__general__text2
						span.span__txt__black Registrarse

		//- CAJA QUE SE CLONA DESDE DESKTOP
		.menu__mobile__login
		//- END
			
		.menu__mobile__categorias
			ul
				- for (var h = 1; h <= 1; h++)
					li
						a(href="#", data-id=`categorias-mobile-${h+0}`, class="btn__cat__mobile") Productos
				li
					a(href="servicio-tecnico.html", class="menu_link_mobile_main") Servicio Técnico
				li
					a(href="nosotros.html", class="menu_link_mobile_main") Nosotros
				li
					a(href="proyectos-integrales.html", class="menu_link_mobile_main") Proyectos Integrales
				li
					a(href="capacitaciones.html", class="menu_link_mobile_main") Capacitaciones
				li
					a(href="contacto.html", class="menu_link_mobile_main") Contacto
				li
					a(href="#", class="menu_link_mobile_main") Intranet
				li
					a(href="terminos-condiciones.html", class="menu_link_mobile_main") Politica de Privacidad
				li
					a(href="#", class="menu_link_mobile_toggle menuOpenLinksToggle") Empresa
					ul.menu_links_mobile_toggle
						li
							a(href="#", class="menu_link_mobile_main") Información SMV
						li
							a(href="#", class="menu_link_mobile_main") Información Financiera
						li
							a(href="#", class="menu_link_mobile_main") Memorias
						li
							a(href="#", class="menu_link_mobile_main") Hechos de Importancia
artilce.mega__menu__mobile.menu__mobile__categorias__prin
	.menu__header__categorias__mobile
		.menu__header__title__mobile.categorias__title__mobile
			h3 PRODUCTOS
		.menu__heder__close__mobile.btn__menu__close__mobile
	.menu__ctn__categorias__mobile
		.menu__mobile__categorias__lists
			.menu__mobile__categorias
				- for (var i = 1; i <= 10; i++)
					ul(id=`categorias-mobile-${i+0}`)
						- for (var j = 1; j <= 10; j++)
							li
								a(href="#", data-id=`sub-categorias-mobile-${j+0}`, class="btn__subcat__mobile") Sala de Operaciones
artilce.mega__menu__mobile.menu__mobile__subcategorias
	.menu__header__categorias__mobile
		.menu__header__title__mobile.subcategorias__title__mobile
			h3 SALA DE OPERACIONES
		.menu__heder__close__mobile.btn__menu__close__mobile
	.menu__ctn__categorias__mobile.sub__categorias
		.menu__mobile__subcategorias__lists
			.menu__mobile__categorias
				- for (var k = 1; k <= 8; k++)
					ul(id=`sub-categorias-mobile-${k+0}`)
						- for (var l = 1; l <= 8; l++)
							li
								a(href="productos.html") Agitadores
	.menu__footer__mobile
		a(href="categories-animales.html") Ver todo
//- <<< END >>>

section.ctn__car__sidebar
	article(class="car__vacio", style="display:none")
		span.car__vacio__close.icon-cerrar
		.car__vacio__prin
			.car__vacio__ctn
				.car__vacio__img
					figure
						img(src=`${STATIC_URL}img/car-vacio-img-2.png`, width="81" height="81" alt="" )
				.car__vacio__parraf
					p AÚN NO HAS AGREGADO PRODUCTOS A TU CARRITO DE COTIZACIONES
				.car__vacio__btn
					a(href="#", class="btn__general btn__general--purple")
						.btn__general__text.btn__general__text1
							span.span__txt__black CONTINUAR COMPRANDO
						.btn__general__text.btn__general__text2
							span.span__txt__black CONTINUAR COMPRANDO
	article(class="ctn__car__sidebar__prin", style="display:block")
		.ctn__car__sidebar__title
			h3 Carrito De Cotizaciones
			.btn__car__close.car__close__sidebar
		.ctn__car__sidebar__items
			.ctn__car__scroll
				.comp__car.one
					- for (var i = 1; i <= 3; i++)
						.item__car
							.item__car__img
								figure 
									img(src=`${STATIC_URL}img/item-carrito.jpg`, width="100", height="100", alt="")
							.item__car__info
								.item__car__title
									h4 TUTTNAUER
								.item__car__text
									p.
										Autoclave mesa 23 Lt automatica clase-N c.bomba de aire y impresora TUTTNAUER
							.item__car__cant
								.item__car__cant__select
									.item__car__select
										input(type="text" value="1", class="soloNumber")
									.iten__car__minus.button__minus -
									.item__car__more.button__more +
							.item__car__delete
		.car__side__bottom
			.car__side__btn
				a(href="carrito.html", class="car__side__btn_1 btn__general btn__general--purple")
					.btn__general__text.btn__general__text1
						span.span__txt__black IR AL CARRITO DE COTIZACIONES
					.btn__general__text.btn__general__text2
						span.span__txt__black IR AL CARRITO DE COTIZACIONES
				a(href="productos.html", class="car__side__btn_2 btn__general")
					.btn__general__text.btn__general__text1
						span.span__txt__black SEGUIR VIENDO
					.btn__general__text.btn__general__text2
						span.span__txt__black SEGUIR VIENDO