extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.busqueda__resultados
		.busqueda__resultados__container
			.busqueda__resultados__content
				.busqueda__resultados__image
					img(src=`${STATIC_URL}img/busqueda-resultados-img.png`, alt="")
				.busqueda__resultados__title
					h3 Tu búsqueda de "dfae" no obtuvo resultados
				.busqueda__resultados__text
					p Estamos trabajando para brindarte los mejores productos de la mejor calidad.
				.busqueda__resultados__btn
					a(href="#", class="btn__general btn__general--purple")
						.btn__general__text.btn__general__text1
							span.span__txt__black REGRESAR AL INICIO
						.btn__general__text.btn__general__text2
							span.span__txt__black REGRESAR AL INICIO

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})