extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.capacitaciones__banner
		.banner__general
			.banner__general__container
				.banner__general__background(style=`background-image: url('${STATIC_URL}img/banner-img.png');`)
					.banner__general__content
						.banner__general__box
							.banner_general__title
								h2 CAPACITACIONES
							.banner__general__icon
								img(src=`${STATIC_URL}img/banner-general-icon.png`, alt="")

	section.capacitaciones
		.cap__container
			.cap__box
				.cap__box__mes
					.cap__box__mes__text
						p Elige mes:
					.cap__box__mes__input
						.general__input.general__input--select.general__input__icon--right
							.general__input__inside
								.general__input__ico.general__input__ico__right.icon-flecha-abajo
								select(name="", class="general__input__input")
									option(value="0") Diciembre
									option(value="1") Enero
									option(value="2") Febrero
				.cap__box__categorias
					.cap__box__categorias__text
						p Categoría:
					.cap__box__categorias__btn
						.btn__tabs.btn__tabs--gray
							button.btn__tabs__box.filter(type="button" data-filter="all") Todos
							button.btn__tabs__box.filter(type="button" data-filter=".item-comercial") Comercial
							button.btn__tabs__box.filter(type="button" data-filter=".item-tecnica") Técnica
							button.btn__tabs__box.filter(type="button" data-filter=".item-legal") Legal
			.cap__content.container(id="Container")
				.cap__content__item.item-tecnica.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap.item--caducado
								img(src=`${STATIC_URL}img/capacitaciones-1.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Técnica
								.item__general__text--cap
									p Gane contratos y adjudicaciones en licitaciones y concursos públicos
								.item__general__date
									p 2 de Diciembre 2017
				.cap__content__item.item-comercial.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-2.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Comercial
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 11 de Diciembre 2017
				.cap__content__item.item-comercial.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-3.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Comercial
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 12 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/item-general-cap.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación comercial centrífugas y microscopios
								.item__general__date
									p 10 de Diciembre 2017
				.cap__content__item.item-tecnica.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap.item--caducado
								img(src=`${STATIC_URL}img/capacitaciones-4.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Técnica
								.item__general__text--cap
									p Gane contratos y adjudicaciones en licitaciones y concursos públicos
								.item__general__date
									p 10 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap.item--caducado
								img(src=`${STATIC_URL}img/capacitaciones-5.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 10 de Diciembre 2017
				.cap__content__item.item-tecnica.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-6.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Técnica
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 9 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-7.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación comercial centrífugas y microscopios
								.item__general__date
									p 9 de Diciembre 2017
				.cap__content__item.item-tecnica.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-8.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Técnica
								.item__general__text--cap
									p Gane contratos y adjudicaciones en licitaciones y concursos públicos
								.item__general__date
									p 9 de Diciembre 2017
				.cap__content__item.item-comercial.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap.item--caducado
								img(src=`${STATIC_URL}img/capacitaciones-9.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Comercial
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 7 de Diciembre 2017
				.cap__content__item.item-comercial.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-10.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Comercial
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 7 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-11.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación comercial centrífugas y microscopios
								.item__general__date
									p 7 de Diciembre 2017
				.cap__content__item.item-tecnica.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-1.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Técnica
								.item__general__text--cap
									p Gane contratos y adjudicaciones en licitaciones y concursos públicos
								.item__general__date
									p 7 de Diciembre 2017
				.cap__content__item.item-comercial.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-2.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Comercial
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 5 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/capacitaciones-3.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación técnica electrocardiógrafos y faja ergonométrica
								.item__general__date
									p 3 de Diciembre 2017
				.cap__content__item.item-legal.mix
					a(href="capacitaciones-detalle.html").item__general__container--cap
						.item__general__content--cap
							figure.item__general__img--cap
								img(src=`${STATIC_URL}img/item-general-cap.png`, alt="", height="207")
							.item__general__box
								.item__general__title--cap
									h3 Legal
								.item__general__text--cap
									p Capacitación comercial centrífugas y microscopios
								.item__general__date
									p 3 de Diciembre 2017
			.cap__paginador
				.btn__paginador
					.btn__paginador__prev
						span.icon-flecha-derecha
					ul.paginador__list
						li
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
					.btn__paginador__next
						span.icon-flecha-izquierda

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js")
	script.
		$(()=>{
			$(function(){
				$('#Container').mixItUp();
			});
		})