extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.cap__detalle
		.cap__detalle__container
			.cap__detalle__content
				.cap__detalle__info
					.cap__dettale__title
						h3 Técnica
							strong Gane contratos y adjudicaciones en licitaciones y concursos públicos
					.cap__detalle__date
						p 12 de Diciembre 2017
					.cap__detalle__img
						img(src=`${STATIC_URL}img/cap-detalle-img.png`, alt="")
					.cap__detalle__text
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
						br
						| Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
						br
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
						br
						| Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				.cap__detalle__formulario
					.cap__detalle__formulario__container
						.cap__detalle__formulario__box
							.cap__detalle__form__title
								h3 Inscríbete aquí
							form(class="cap__detalle__form", id="formulario-capacitaciones")
								ul
									li
										.cap__detalle__input
											.input-one-line.input-one-line--white
												label.input-one__label Nombre y Apellidos*
												input(type="text", class="validate[required] input-one")
												span.input-one--span
									li
										.cap__detalle__input
											.input-one-line.input-one-line--white
												label.input-one__label Email*
												input(type="email", class="validate[required,custom[email]] input-one")
												span.input-one--span
									li
										.cap__detalle__input
											.input-one-line.input-one-line--white
												label.input-one__label Empresa*
												input(type="text", class="validate[required] input-one")
												span.input-one--span
									li
										.cap__detalle__textarea
											.input-one-line.input-one-line--white
												label.input-one__label Mensaje*
												textarea(type="text", class="validate[required] input-one input-one--textarea")
												span.input-one--span
									li
										.cap__detalle__campos
											p (*) Campos Obligatorios
									li
										.cap__detalle__btn
											button(class="btn__general btn__general--purple btnCapacitaciones")
												.btn__general__text.btn__general__text1
													span.span__txt__black ENVIAR MENSAJE
												.btn__general__text.btn__general__text2
													span.span__txt__black ENVIAR MENSAJE

//- js
append scripts
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script(src=`${STATIC_URL}js/jquerysticky.js`)
	script.
		$(()=>{
			//- +++ fixed +++
			var window_width =  $(window).width();
			var width = $(window).innerWidth();

			if (window_width <= 1024) {
				$(".cap__detalle__formulario__container").trigger("sticky_kit:detach");
			} else {
				make_sticky();
			}

			$(window).resize(function() {

				window_width =  $(window).width();

				if (window_width <= 1024) {
					$(".cap__detalle__formulario__container").trigger("sticky_kit:detach");
				} else {
					make_sticky();
				}

			});

			function make_sticky() {
				$(".cap__detalle__formulario__container").stick_in_parent({
					offset_top: 120,
				});
			}
			//- <<< end >>>

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnCapacitaciones').on('click', function(event) {
				event.preventDefault();
				var valid = $("#formulario-capacitaciones").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#formulario-capacitaciones").submit();
				}
			});
			//- <<< end >>>
		})