extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__car
			.ctn__car__wrapper 
				.ctn__car__title
					h3 CARRITO DE COTIZACIONES (3 ITEM’S)
				.ctn__car__content
					.ctn__car__products
						.comp__car.three
							- for (var i = 1; i <= 5; i++)
								.item__car
									.item__car__img
										figure 
											img(src=`${STATIC_URL}img/carrito-img-1.jpg`, width="112", height="112", alt="")
									.item__car__info
										.item__car__title
											h4 TUTTNAUER
										.item__car__text
											p.
												Tensiometro digital brazalete velcro adulto Ri-Champion N 1725-145 Riester
										.item__car__cant
											.item__car__cant__select
												.item__car__select
													input(type="text", value="1", class="soloNumber")
												.iten__car__minus.button__minus -
												.item__car__more.button__more +
										.item__car__delete ELIMINAR
					.ctn__car__resumen
						.ctn__car__resumen__ctn
							.ctn__car__resumen__title
								h3 RESUMEN DE PEDIDO
							.ctn__car__scroll__prin
								.ctn__car__resumen__item
									.ctn__car__resumen__title__item CANTIDAD
									.ctn__car__resumen__units 3 productos
							.ctn__car__total__ctn
								.ctn__car__btn
									a(href="#", class="btn__general btn__general--orange")
										.btn__general__text.btn__general__text1
											span.span__txt__black CONTINUAR
										.btn__general__text.btn__general__text2
											span.span__txt__black CONTINUAR



//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})