extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.contacto__banner
		.banner__general
			.banner__general__container
				.banner__general__background(style=`background-image: url('${STATIC_URL}img/banner-img.png');`)
					.banner__general__content
						.banner__general__box
							.banner_general__title
								h2 CONTACTO
							.banner__general__icon
								img(src=`${STATIC_URL}img/banner-general-icon.png`, alt="")

	section.contacto
		.contacto__container
			.contacto__content
				.contacto__formulario__container
					form.contacto__formulario(id="formulario-contacto")
						ul
							li
								.contacto__input
									.input-one-line
										label.input-one__label Nombre y Apellidos*
										input(type="text", class="validate[required] input-one")
										span.input-one--span
							li
								.contacto__input
									.input-one-line
										label.input-one__label Email*
										input(type="email", class="validate[required,custom[email]] input-one")
										span.input-one--span
							li
								.contacto__input
									.input-one-line
										label.input-one__label Empresa*
										input(type="text", class="validate[required] input-one")
										span.input-one--span
							li
								.contacto__input
									.input-one-line
										label.input-one__label Mensaje*
										textarea(type="text", class="validate[required] input-one input-one--textarea")
										span.input-one--span
							li
								.contacto__campos__obligatorios
									p (
										strong *
										| ) Campos obligatorios
							li
								.contacto__btn
									button(type="submit" class="btn__general btn__general--orange btnContacto")
										.btn__general__text.btn__general__text1
											span.span__txt__black ENVIAR MENSAJE
										.btn__general__text.btn__general__text2
											span.span__txt__black ENVIAR MENSAJE
			.contacto__info
				.contacto__info__container
					.contacto__info__box
						.contacto__info__title
							h3 Of. Principal
						.contacto__info__text
							p Calle Enrique Palacios 335 Of. 201 – Miraflores
						.contacto__info__link
							p
								a.contacto__whatsapp(onclick="gtag('event', 'Contactenos', {event_category: 'Contactenos', event_action: 'Contactenos', event_label: 'whatsapp'});", target='_blank', href='https://api.whatsapp.com/send?phone=51987569067&text=Hola') +51 987569067
					.contacto__info__box
						.contacto__info__title
							h3 Serv. Técnico
						.contacto__info__text
							p Jr. García y García 870 – Barranco
						.contacto__info__link
							p Tel.: 
								a(href="tel:7056500") (511) 705-6500
							p
								a.contacto__whatsapp(onclick="gtag('event', 'Contactenos', {event_category: 'Contactenos', event_action: 'Contactenos', event_label: 'whatsapp'});", target='_blank', href='https://api.whatsapp.com/send?phone=51987569067&text=Hola') +51 987569067
							p
								a(href="mailto:serviciotecnico@ajaimerojas.com") serviciotecnico@ajaimerojas.com
					.contacto__info__box
						.contacto__info__title
							h3 Sala de Ventas
						.contacto__info__text
							p Av. Emancipación Nª 604 - Lima
						.contacto__info__link
							p Tel.: 
								a(href="tel:7056522") (511) 705-6522
							p
								a.contacto__whatsapp(onclick="gtag('event', 'Contactenos', {event_category: 'Contactenos', event_action: 'Contactenos', event_label: 'whatsapp'});", target='_blank', href='https://api.whatsapp.com/send?phone=51987569067&text=Hola') +51 987569067

	section.mapcontacto
		.cnt-map
			.box-map
				#google-maplima.map
		


//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACnALMPmmfENbKmGbnGYUrcqeuuDlxyoE")
	script.
		$(function() {
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnContacto').on('click', function(event) {
				event.preventDefault();
				var valid = $("#formulario-contacto").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#formulario-contacto").submit();
				}
			});
			//- <<< end >>>


			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
								var myLatlng = new google.maps.LatLng(-12.1169235, -77.00952219999999); // <- Your latitude and longitude
			   var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 16,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"./assets/img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap)
		});
