extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)
//- body classs
block vars
	- var bodyClass = 'header_footer_hidden'
//- ---

//- Contenido
block content
	section.cotizacion
		article.ctn__checkout__header
			.ctn__checkout__fixed
				.ctn__checkout__logo
					a(href="home.html") 
						img(src=`${STATIC_URL}img/cotizacion-logo.png`, width="142", height="27", alt="")
				.ctn__checkout__title
					h2 COMPLETA TU COTIZACIÓN
				.ctn__checkout__back 
					a(href="carrito.html") VOLVER AL CARRITO
		article.ctn__perfil
			.ctn__perfil__prin
				.ctn__perfil__datos
					form(id="form-datos-cotizacion")
						.ctn__perfil__datos__item
							.ctn__perfil__datos__title
								h2 Datos Personales
							.cotizacion_subtitle
								h3 Confirmar datos personales
							ul.ctn__check__bloq.cotizacion_campos
								li.ctn__check__item
									.general__input.general__input--hover
										.general__input__inside
											input(type="text", placeholder="Nombre y Apellidos*", class="validate[required] general__input__input")
								li.ctn__check__item
									.general__input.general__input--hover
										.general__input__inside
											input(type="text", placeholder="Correo Electrónico*", class="validate[required,custom[email]] general__input__input")
								li.ctn__check__item
									.general__input.general__input--hover
										.general__input__inside
											input(type="number", placeholder="Teléfono*", class="soloNumber validate[required,custom[phone]] general__input__input")
								li.ctn__check__item
									.general__input.general__input--hover
										.general__input__inside
											input(type="text", placeholder="Empresa*", class="validate[required] general__input__input")
								li.ctn__check__item
									.ctn__input__select.general__input.general__input--select.general__input__icon--right
										.ctn__select.general__input__inside
											.general__input__ico.general__input__ico__right.icon-flecha-abajo
											select(name="", class="general__input__input")
												option(value="0") DNI
												option(value="1") CE
										input(type="text", class="validate[required] general__input__input soloNumber")
							ul.cotizacion_textarea
								li.ctn__check__item
									.general__input.general__input--textarea.general__input--hover
										.general__input__inside
											textarea( class="validate[required] general__input__input", placeholder="Mensaje")
							.cotizacion_text_campos
								p.
									(*) Campos obligatorios
		article.ctn__check__footer
			.ctn__check__footer__sub
				.ctn__check__footer__orden
					.ctn__check__footer__item.ctn__check__footer__item-1.orden 
						h4 Orden:
					.ctn__check__footer__item.ctn__check__footer__item-2
						h5 (8) Productos
				.ctn__check__footer__end
					a(href="#", class="ctn__check__btn cotizacionButtonSend") Continuar
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.cotizacionButtonSend').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-datos-cotizacion").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
				}
			});
		})