extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.enviado
		.enviado__container
			.enviado__content
				.enviado__image
					img(src=`${STATIC_URL}img/enviado-img.png`, alt="")
				.enviado__title
					h3 Solicitud enviada
				.enviado__text
					p Gracias por enviar tu mensaje, nos estaremos comunicando con usted a la brevedad posible.
				.enviado__btn
					a(href="#", class="btn__general btn__general--purple")
						.btn__general__text.btn__general__text1
							span.span__txt__black REGRESAR AL INICIO
						.btn__general__text.btn__general__text2
							span.span__txt__black REGRESAR AL INICIO

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})