extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.error
		.error__container
			.error__content
				.error__image
					img(src=`${STATIC_URL}img/error-img.png`, alt="")
				.error__title
					h3 Error 404
				.error__text
					p Esta página puede estar no disponible o haber cambiado de dirección o no existir. Compruebe si la dirección es correcta o regrese.
				.error__btn
					a(href="#", class="btn__general btn__general--purple")
						.btn__general__text.btn__general__text1
							span.span__txt__black REGRESAR AL INICIO
						.btn__general__text.btn__general__text2
							span.span__txt__black REGRESAR AL INICIO

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})