extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.estado_cotizacion
		.ec_content
			.ec_title
				h2 Cotización Nº 2015345
			.ec_block_head
				.ec_subtitle
					h3 Estado de Cotización
				.ec_boxes
					ul
						li Pendiente
						li.active Atendido
			.ec_block_items
				.ec_subtitle
					h3 Detalle de Orden
				.ec_wrap
					-for (var i = 0; i < 3; i++)
						article.ec_item
							figure.ec_img
								img(src=`${STATIC_URL}img/ec-img-1.jpg`, width="114", height="114", alt="")
							.ec_texts
								.ec_text_1
									h3 TUTTNAUER
								.ec_text_2
									p.
										Autoclave mesa 23 Lt automatica clase-N c.bomba de aire y impresora TUTTNAUER
							span.ec_text_right x 1






//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})