extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.gracias
		.gracias__container
			.gracias__content
				.gracias__image
					img(src=`${STATIC_URL}img/gracias-img.png`, alt="")
				.gracias__text
					p Agradecemos tu cotización y esperamos que vuelvas pronto. Gracias por tu preferencia siempre 
					p ¡Te esperamos!
				.gracias__btn
					a(href="#", class="btn__general btn__general--purple")
						.btn__general__text.btn__general__text1
							span.span__txt__black REGRESAR AL INICIO
						.btn__general__text.btn__general__text2
							span.span__txt__black REGRESAR AL INICIO

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})