extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	//- BLOQUE #1
	section.ctn__home__banner
		ul.slider-home
			- for (var i = 1; i <= 3; i++)
				li.ctn__home__banner__item(style=`background-image: url('${STATIC_URL}img/banner-home.jpg')`)
					.ctn__home__banner__item__wrapper__prin
						.ctn__home__banner__item__wrapper
							h3 Tenemos todo para equipar tu sala de operaciones integrales
						.ctn__home__banner__bloq__bottom__pager__number
							.ctn__home__banner__bloq__bottom__number 0
								span 1
						.ctn__home__banner__bloq__bottom__more
							a(href="#") Ver Productos

	//- BLOQUE #2
	section.ctn__carrousel__home
		.ctn__carrousel__home__title 
			h4 Marcas <br> exclusivas
		.ctn__carrousel__home__wrapper
			.ctn__carrousel__home__wrapper__carrousel
				ul.slider-home-carrousel
					- for (var i = 1; i <= 7; i++)
						li
							img(src=`${STATIC_URL}img/img-carrousel-1.jpg`)

	//- BLOQUE #3
	section.home-b3
		.home-b3_content
			.home-b3_title
				.title.title-big.morado
					h2 Productos Destacados
			.home-b3_slider
				ul.home-b3PitcherSlick
					-for (var i = 0; i < 5; i++)
						li.home-b3_slider_item
							.item__general.home-b3_slider_container
								a(href="producto-detalle.html", class="item__general__container")
									.item__general__content
										.item__general__precio
											span Nuevo
										.item__general__img
											img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
										.item__general__info
											.item__general__title
												h3 EDAN
											.item__general__text
												p Monitor fetal gemelar pantalla color tactil 12'' sobremesa +ECG ,NIBP, SPO2, TEMP
									.item__general__btn
										span Cotizar Producto
			.home-b3_block
				article.home-b3_left
					figure.home-b3_left_img
						img(src=`${STATIC_URL}img/home-b3-img-cel.png`, width="173", height="222", alt="")
					.home-b3_left_info
						.home-b3_left_wrap
							.home-b3_left_texts
								.home-b3_left_text1
									h3 Nueva APP
								.home-b3_left_text2
									p.
										Registra, organiza, ejecuta todos los procedimientos, actividades y cierre de tickets de manera:
							.home-b3_left_list
								ul
									li
										span.home-b3_left_icon.icon-check-circle
										span.home-b3_left_textfoot Ágil
									li
										span.home-b3_left_icon.icon-check-circle
										span.home-b3_left_textfoot Rápida
									li
										span.home-b3_left_icon.icon-check-circle
										span.home-b3_left_textfoot Sencilla
				article.home-b3_right
					.home-b3_right_info
						.home-b3_right_wrap
							figure.home-b3_right_logo
								img(src=`${STATIC_URL}img/home-b3-img-logo.png`, width="90", height="43" alt="")
							.home-b3_right_text
								p.
									<strong>¡Forma parte Jaime Rojas!</strong> Se un distribuidor y disfruta de grandes beneficios
					figure.home-b3_right_image
						img(src=`${STATIC_URL}img/home-b3-img-man.png`, width="160", height="210" alt="")

	//- BLOQUE #4
	section.home-b4
		.home-b4_head
			.home-b4_head_wrap
				.home-b4_head_title
					h2 Categorías
				.home-b4_head_text
					p.
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		.home-b4_items
			ul
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-1.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Sala de Operaciones
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-2.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Central de Esterilización
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-3.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Endoscopia
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-4.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Gineco - Obstetricia
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-5.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Sala de Emergencia
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-6.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Salud Ocupacional
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-7.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Hospitalización
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-8.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Laboratorio Clínico
				li.home-b4_item
					a(href="productos.html", class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-9.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Tratamiento de Residuos Sólidos Hospitalarios
				li.home-b4_item.home-b4_item_comodin
					article(class="home-b4_box")
						.home-b4_info
							.home-b4_wrap
								figure.home-b4_img
									img(src=`${STATIC_URL}img/home-b4-img-10.png`, width="46", height="46", alt="")
								.home-b4_subtitle
									h3 Experiencia <br>basada en años de trayectoria

	//- BLOQUE #5
	section.ctn__home__capacitaciones
		.ctn__home__capacitaciones__wrapper
			.ctn__home__capacitaciones__wrapper__header
				.ctn__home__capacitaciones__wrapper__header__title Capacitaciones
				.ctn__home__capacitaciones__wrapper__header__nav
					.btn__tabs.btn__tabs--gray
						button.btn__tabs__box.filter(type="button" data-filter="all") Todos
						button.btn__tabs__box.filter(type="button" data-filter=".item-comercial") Comercial
						button.btn__tabs__box.filter(type="button" data-filter=".item-tecnica") Técnica
						button.btn__tabs__box.filter(type="button" data-filter=".item-legal") Legal
			.ctn__home__capacitaciones__wrapper__prin
				.cap__content.container(id="Container")
					.cap__content__item.item-tecnica.mix
						a(href="capacitaciones-detalle.html").item__general__container--cap
							.item__general__content--cap
								figure.item__general__img--cap
									img(src=`${STATIC_URL}img/capacitaciones-1.png`, alt="", height="207")
								.item__general__box
									.item__general__title--cap
										h3 Técnica
									.item__general__text--cap
										p Gane contratos y adjudicaciones en licitaciones y concursos públicos Gane contratos Gane contratos contratos Gane contratos contratos Gane contratos
									.item__general__date
										p 2 de Diciembre 2017
					.cap__content__item.item-comercial.mix
						a(href="capacitaciones-detalle.html").item__general__container--cap
							.item__general__content--cap
								figure.item__general__img--cap
									img(src=`${STATIC_URL}img/capacitaciones-2.png`, alt="", height="207")
								.item__general__box
									.item__general__title--cap
										h3 Comercial
									.item__general__text--cap
										p Capacitación técnica electrocardiógrafos y faja ergonométrica
									.item__general__date
										p 11 de Diciembre 2017
					.cap__content__item.item-comercial.mix
						a(href="capacitaciones-detalle.html").item__general__container--cap
							.item__general__content--cap
								figure.item__general__img--cap
									img(src=`${STATIC_URL}img/capacitaciones-3.png`, alt="", height="207")
								.item__general__box
									.item__general__title--cap
										h3 Comercial
									.item__general__text--cap
										p Capacitación técnica electrocardiógrafos y faja ergonométrica
									.item__general__date
										p 12 de Diciembre 2017
					.cap__content__item.item-legal.mix
						a(href="capacitaciones-detalle.html").item__general__container--cap
							.item__general__content--cap
								figure.item__general__img--cap
									img(src=`${STATIC_URL}img/item-general-cap.png`, alt="", height="207")
								.item__general__box
									.item__general__title--cap
										h3 Legal
									.item__general__text--cap
										p Capacitación comercial centrífugas y microscopios
									.item__general__date
										p 10 de Diciembre 2017

			.btn__home__capacitaciones
				a(href="capacitaciones.html", class="btn__general btn__general--purple")
					.btn__general__text.btn__general__text1
						span.span__txt__black MÁS CAPACITACIONES
					.btn__general__text.btn__general__text2
						span.span__txt__black MÁS CAPACITACIONES

	//- BLOQUE #6
	section.home-b6
		.home-b6_content
			article.home-b6_content_left
				figure(class="home-b6_img", style=`background-image:url('${STATIC_URL}img/home-b6-img-1.jpg')`)
				.home-b6_info
					.home-b6_wrap
						.home-b6_title
							h2 Conoce las noticias del rubro médico
						.home-b6_text
							p.
								Lorem ipsum dolor sit amet there and, consectetuer adipiscing elit ed.
						.home-b6_link
							a(href="#", class="btn__general btn__general--purple")
								.btn__general__text.btn__general__text1
									span.span__txt__black VISITAR BLOG
								.btn__general__text.btn__general__text2
									span.span__txt__black VISITAR BLOG
			article.home-b6_content_right
				figure(class="home-b6_img", style=`background-image:url('${STATIC_URL}img/home-b6-img-2.jpg')`)
				.home-b6_info
					.home-b6_wrap
						.home-b6_title
							h2 Catálogo <br>Online 2017
						.home-b6_text
							p.
								Lorem ipsum dolor sit amet there and, consectetuer adipiscing elit ed., consectetuer adipiscing elit ed.
						.home-b6_link
							a(href="#", class="btn__general btn__general--purple")
								.btn__general__text.btn__general__text1
									span.span__txt__black VISUALIZAR
								.btn__general__text.btn__general__text2
									span.span__txt__black VISUALIZAR

//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js")
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			//- BLOQUE #1
			var sliderHome = $('.slider-home').bxSlider({
			    mode: 'fade',
			    speed: 2000,
			    controls: false,
			    auto: true,
			    pause: 2000,
			    onSliderLoad: function(currentIndex) {
					$('.slider-home').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.slider-home').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);

					var sliderNumber = sliderHome.getCurrentSlide()+1;
					setTimeout( function(){
						$('.ctn__home__banner__bloq__bottom__number span').text(sliderNumber);
					},1100);
				}
			  });
			
			//- BLOQUE #2
			$('.slider-home-carrousel').slick({
				  slidesToShow: 5,
				  slidesToScroll: 1,
				  arrows: false,
				  autoplay: true,
				  infinite: true,
				  dots: false,
				  responsive: [
				    {
				      breakpoint: 1025,
				      settings: {
				        slidesToShow: 4
				      }
				    },
				    {
				      breakpoint: 481,
				      settings: {
				        slidesToShow: 2
				      }
				    }
				   ]
			});

			//- BLOQUE #3
			var homeb3Slick = $('.home-b3PitcherSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 500,
				slidesToShow: 4,
				slidesToScroll: 1,
				arrows: true,
				dots: false,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 961,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 481,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});

			var animaHomeb3 = $('.home-b3_block');
			animaHomeb3.waypoint(function(direction) {
				if (direction === 'down') {
					animaHomeb3.addClass('active');
				}
			}, {
				offset:'60%'
			});

			//- BLOQUE #4
			var cuenta = $('.home-b4_item').length;
			if(cuenta%2){
				$('.home-b4_item_comodin').css('display', 'none')
			}
			$('#Container').mixItUp();

			//- BLOQUE #5
			function text(i, caracterMostrar, cantidadLetter){ 
				$(i).text(function(index, el){ 
					var cuenta = $(this).text().length; 
					// console.log(cuenta) 
					if(cuenta > cantidadLetter){ 
					     return el.slice(0, caracterMostrar) + "..."; 
					}else{ 
					// console.log("La cantidad es menor de", cantidadLetter); 
					} 
				}) 
			} 
			text('.cap__content__item .item__general__text--cap p', 65, 80);
		})