extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__login
		.ctn__login__ctn
			.ctn__login__prin
				.ctn__login__cliente
					.registro__activo 
						h2 Soy Cliente
						p Si haz comprado antes en Dulce Regalo, solo ingresa tu correo electrónico y contraseña para acceder a tu cuenta.
						form(method='POST' id="form-login-ingresar").ctn__login__form
							ul
								li
									.input-one-line
										label.input-one__label Correo electrónico*
										input(type="email", class="validate[required,custom[email]] input-one")
										span.input-one--span
								li
									.input-one-line
										label.input-one__label Contraseña*
										input(type="password", class="validate[required] input-one")
										span.input-one--span
							a(href="restore-password.html").btn__olvidar__contrasenia ¿Has olvidado la contraseña?
							.btn__ingresar
								button(type="submit" class="btn__general btn__general--orange btnIngresar")
									.btn__general__text.btn__general__text1
										span.span__txt__black INGRESAR
									.btn__general__text.btn__general__text2
										span.span__txt__black INGRESAR
			.ctn__login__prin
				.ctn__login__cliente.no__client.no__cuenta
					h2 Aún no soy cliente
					p Si aún no eres cliente de Los Herrajes, regístrate ingresando tu correo electrónico y una contraseña.
					.ctn_login__no__clinet__list
						h3 Beneficios de crear una cuenta
						ul
							li Finalizar tus pedidos más rapido.
							li Consulta tu historial de compras.
							li Rastrea tus pedidos.
					.button__no__client
						a(href="#", class="btn__general btn__general--gray back__btn__login")
							.btn__general__text.btn__general__text1
								span.span__txt__black CREAR CUENTA
							.btn__general__text.btn__general__text2
								span.span__txt__black CREAR CUENTA
						a(href="#", class="btn__general btn__general--facebook")
							.btn__general__text.btn__general__text1.btn__general--icon
								span.span__txt__icon.icon-facebook
								span.span__txt__black CREAR CON FACEBOOK
							.btn__general__text.btn__general__text2.btn__general--icon
								span.span__txt__icon.icon-facebook
								span.span__txt__black CREAR CON FACEBOOK
						a(href="#", class="btn__general btn__general--google")
							.btn__general__text.btn__general__text1.btn__general--icon
								span.span__txt__icon.icon-google
								span.span__txt__black CREAR CON GMAIL
							.btn__general__text.btn__general__text2.btn__general--icon
								span.span__txt__icon.icon-google
								span.span__txt__black CREAR CON GMAIL
				.ctn__login__cliente.no__client.crear__cuenta
					h2 Crear Cuenta
					form(method='POST' id="login-form-cuenta").ctn__login__form.ctn__login__form--cuenta
						ul
							li
								.general__input
									.general__input__inside
										input(type="email", placeholder="Correo Electrónico*", class="validate[required,custom[email]] general__input__input")
							li
								.general__input
									.general__input__inside
										input(type="password", placeholder="Contraseña*", class="validate[required] general__input__input")

							li
								.general__input
									.general__input__inside
										input(type="password", placeholder="Confirmar Contraseña*", class="validate[required] general__input__input")

						.btn__login__cuenta
							button(type="submit" class="btn__general btn__general--purple btnCuenta")
								.btn__general__text.btn__general__text1
									span.span__txt__black CREAR Y CONTINUAR
								.btn__general__text.btn__general__text2
									span.span__txt__black CREAR Y CONTINUAR
						.back__login
							span.icon-regresar
							span.back__login__button Volver

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			$('.back__btn__login').click(function() {
				$('.no__cuenta').fadeOut('fast', function(){
					$('.crear__cuenta').fadeIn('fast')
				});
			});
			$('.back__login__button').click(function() {
				$('.crear__cuenta').fadeOut('fast', function(){
					$('.no__cuenta').fadeIn('fast')
				});
			});
			$('.back__btn__login__client').click(function() {
				$('.contrasenia__restablecer').fadeOut('fast', function(){
					$('.registro__activo').fadeIn('fast')
				});
			});

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnIngresar').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-login-ingresar").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form-login-ingresar").submit();
				}
			});

			$('btnCuenta').on('click', function(event) {
				event.preventDefault();
				var valid = $("#login-form-cuenta").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#login-form-cuenta").submit();
				}
			});
			//- <<< end >>>

		})