extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__perfil
		.ctn__perfil__prin
			.ctn__perfil__prin__title
				h2 Mi Cuenta
			ul.ctn__perfil__menu
				li
					a.cuenta__perfil(href="mis-datos.html")
						span.icon-mis-datos.icon-datos-tabs
						span Mis Datos
				li
					a.cuenta__pedidos.active(href="mis-cotizaciones.html")
						span.icon-mis-cotizaciones.icon-datos-tabs
						span Mis Cotizaciones
			.ctn__perfil__datos
				.ctn__perfil__datos__title
					h2 Mis Pedidos
				.ctn__items__pedido
					- for (var i = 1; i <= 6; i++)
						.ctn__item__pedido
							.ctn__item__pedido__prin
								.ctn__item__pedido__comprado 
									p 
										strong Pedido: Nº 001746
										span Pendiente
								.ctn__item__pedido__cantidad 
									p  Realizado el 02/12/2016
										strong Cantidad de Productos: 6
								.ctn__item__pedido__btn
									a.btn.button__simple.button--white(href="estado-cotizacion.html") + Más Detalles

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})