extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__perfil
		.ctn__perfil__prin
			.ctn__perfil__prin__title
				h2 Mi Cuenta
			ul.ctn__perfil__menu
				li
					a.cuenta__perfil(href="mis-datos.html").active
						span.icon-mis-datos.icon-datos-tabs
						span Mis Datos
				li
					a.cuenta__pedidos(href="mis-cotizaciones.html")
						span.icon-mis-cotizaciones.icon-datos-tabs
						span Mis Cotizaciones
			.ctn__perfil__datos
				form(id="form-datos-actualizar")
					.ctn__perfil__datos__item
						.ctn__perfil__datos__title
							h2 Datos Personales
						
						ul.ctn__check__bloq
							li.ctn__check__item
								.general__input.general__input--hover
									.general__input__inside
										input(type="text", placeholder="Nombre y Apellidos*", class="validate[required] general__input__input")
							li.ctn__check__item
								.general__input.general__input--hover
									.general__input__inside
										input(type="number", placeholder="Teléfono", class="soloNumber validate[required,custom[phone]] general__input__input")
							li.ctn__check__item
								.general__input.general__input--hover
									.general__input__inside
										input(type="text", placeholder="Empresa*", class="validate[required] general__input__input")
							li.ctn__check__item
								.ctn__input__select.general__input.general__input--select.general__input__icon--right
									.ctn__select.general__input__inside
										.general__input__ico.general__input__ico__right.icon-flecha-abajo
										select(name="", class="general__input__input")
											option(value="0") DNI
											option(value="1") CE
									input(type="text", class="validate[required] general__input__input")
						.ctn__perfil__datos__item
							.ctn__perfil__datos__title
								h2 Cuenta
							ul.ctn__check__bloq
								li.ctn__check__item
									.general__input.general__input--hover
										.general__input__inside
											input(type="email", placeholder="Correo Electrónico*", class="validate[required,custom[email]] general__input__input")
						.ctn__check__bloq.buttons__perfil
							ul
								li
									button(type="submit", class="btn__general datos-actualizar btnActualizar")
										.btn__general__text.btn__general__text1
											span.span__txt__black ACTUALIZAR DATOS
										.btn__general__text.btn__general__text2
											span.span__txt__black ACTUALIZAR DATOS
								li
									a(class="btn__general datos-password btn__cambiar__password")
										.btn__general__text.btn__general__text1
											span.span__txt__black CAMBIAR CONTRASEÑA
										.btn__general__text.btn__general__text2
											span.span__txt__black CAMBIAR CONTRASEÑA
				.ctn__cambiar__contrasenia__prin
					.ctn__cambiar__contrasenia__prin__title
						h2 Cambiar Contraseña
					form(id="form-datos-password")
						ul.ctn__check__bloq
							li.ctn__check__item
								.general__input
									.general__input__inside
										input(type="password", placeholder="Contraseña Actual*", class="validate[required] general__input__input")
							li.ctn__check__item
								.general__input
									.general__input__inside
										input(type="password", placeholder="Nueva Contraseña*", class="validate[required] general__input__input")
							li.ctn__check__item
								.general__input
									.general__input__inside
										input(type="password", placeholder="Confirmar Contraseña*", class="validate[required] general__input__input")
						.datos-actualizar-password-btn
							button(type="submit", class="btn__general btn__general--orange btnActualizarPassword")
								.btn__general__text.btn__general__text1
									span.span__txt__black ACTUALIZAR CONTRASEÑA
								.btn__general__text.btn__general__text2
									span.span__txt__black ACTUALIZAR CONTRASEÑA

append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			$('.btn__cambiar__password').click(function() {
				event.preventDefault();
				$('.ctn__cambiar__contrasenia__prin').slideToggle('slow');
			});

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnActualizar').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-datos-actualizar").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form-datos-actualizar").submit();
				}
			});

			$('btnActualizarPassword').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-datos-password").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form-datos-password").submit();
				}
			});
			//- <<< end >>>
		})






