extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.nosotros
		section.nosotros_block1
			.banner__general
				.banner__general__container
					.banner__general__background(style=`background-image: url('${STATIC_URL}img/servicio-tecnico-img-banner.jpg');`)
						.banner__general__content
							.banner__general__box
								.banner_general__title
									h2 NOSOTROS
								.banner__general__icon
									img(src=`${STATIC_URL}img/banner-general-icon.png`, alt="")
		section.nosotros_block2#nosotrosCount-Animation
			.nosotros_block2_box1
				.nosotros_block2_box1_content
					p
						| Empresa peruana que orientó todos sus esfuerzos en hacer de la empresa una de las principales proveedoras de equipamiento integral médico en el país.
			.nosotros_block2_box2
				a.nosotros_block2_box2_icon_video.nosotros_block2_icon_sombra(href="https://www.youtube.com/watch?v=gpRqSFqlFSw")
					.icon-play-video
				.nosotros_block2_box2_content
					ul
						li 
							.nosotros_block2_box2_number
								span(class="nosotrosCount_number") 40
								p
									| de experiencia en el sector salud
						li
							.nosotros_block2_box2_number
								span(class="nosotrosCount_number nosotros_block2_number_more") 200
								p
									| de clientes satisfechos
						li

							.nosotros_block2_box2_number
								span(class="nosotrosCount_number") 432
								p
									| proyectos entregados
						li
							.nosotros_block2_box2_number
								span(class="nosotrosCount_number") 132
								p
									| colaboradores trabajando

		section.nosotros_block3
			.nosotros_block3_container
				span
					img(src=`${STATIC_URL}img/img-nosotros-bg-block3.png`, alt="")
				.nosotrosb3Slider
					.nosotros_block3_content
						figure.nosotros_block3_figure.nosotros_block3_Animated
							img(src=`${STATIC_URL}img/img1-nosotros-block3.jpg`, alt="")
						.nosotros_block3_h2.nosotros_block3_Animated
							.title.title-medium.morado
								h2 Certificacion bpa
						.nosotros_block3_p.nosotros_block3_Animated
							p 
								| Año tras año el Almacén de Equipos Médico de la empresa obtiene la Certificación en Buenas Prácticas de Almacenamiento (BPA), expedida por la Dirección de Control y Vigilancia Sanitaria de la Dirección General de Medicamentos, Insumos y Drogas del Ministerio de Salud (DIGEMID).

								Dicho reconocimiento traduce el compromiso asumido por nuestra empresa a favor de la confianza y seguridad de nuestros clientes y en cumplimiento de los principios básicos de la Norma de Buenas Prácticas de Almacenamiento
					.nosotros_block3_content
						figure.nosotros_block3_figure.nosotros_block3_Animated
							img(src=`${STATIC_URL}img/img1-nosotros-block3.jpg`, alt="")
						.nosotros_block3_h2.nosotros_block3_Animated
							.title.title-medium.morado
								h2 Certifi
						.nosotros_block3_p.nosotros_block3_Animated
							p 
								| Año tras año el Almacén de Equipos Médico de la empresa obtiene la Certificación en Buenas Prácticas de Almacenamiento (BPA), expedida por la Dirección de Control y Vigilancia Sanitaria de la Dirección General de Medicamentos, Insumos y Drogas del Ministerio de Salud (DIGEMID).

								Dicho reconocimiento traduce el compromiso asumido por nuestra empresa a favor de la confianza y seguridad de nuestros clientes y en cumplimiento de los principios básicos de la Norma de Buenas Prácticas de Almacenamiento
		
		section.nosotros_block4
			.nosotros_block4_content
				.nosotros_block4_h2
					.title.title-medium.gris
						h2 Historia de la Compañia
				.content_example
					.nosotros_block4_slider
						ul.slider-for
							- for (var i = 1; i <= 9; i++)
								li.nosotros_block4_slider_item_li(data-fecha=`190${i}`)
									.nosotros_block4_slider_item_box_content
										a.nosotros_block4_slider_item
											.nosotros_block4_slider_item_h3
												h3 190#{i}
											.nosotros_block4_slider_item_p
												p
													| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt..

											figure.nosotros_block4_slider_item_img
												img(src=`${STATIC_URL}img/img1-nosotros-block4.jpg`, alt="")
							
					.nosotros_block4_slider_content_buttons
						ul.slider-nav
					

		section.nosotros_block5
			.nosotros_block5_box1
				.nosotros_block5_box1_content
					.nosotros_block5_box1_content_group
						.nosotros_block5_box1_mision
							.nosotros_block5_mision_h1
								.title.title-medium.morado
									h2 Misión
							.nosotros_block5_mision_p
								p
									| Brindar soluciones integrales a las necesidades de los profesionales de la salud a través de la comercialización y servicio técnico de equipos médicos hospitalarios, brindando bienestar y desarrollo a nuestro equipo humano.
						.nosotros_block5_box1_vision
							.nosotros_block5_vision_h1
								.title.title-medium.morado
									h2 Visión
							.nosotros_block5_vision_p
								p
									| Ser una empresa líder en el equipamiento integral médico hospitalario, con presencia en otros países de Sudamérica.
			.nosotros_block5_box2
				.nosotros_block5_box2_content
					.nosotros_block5_box_girl(style=`background-image: url('${STATIC_URL}img/img-nosotros-bg-block5.png');`)
						figure.nosotros_block5_girl
							img(src=`${STATIC_URL}img/img-nosotros-girl-block5.png`, alt="")

					.nosotros_block5_box2_content_group
						.nosotros_block5_valores_h1
							.title.title-medium.morado
								h2 Valores
						.nosotros_block5_valores_list
							ul
								li(class="nosotros_block5_valores_box")
									span(style=`background-image: url('${STATIC_URL}img/img-nosotros-ico1-block5.jpg');`)
									h3 Vocación de servicio

								li(class="nosotros_block5_valores_box")
									span(style=`background-image: url('${STATIC_URL}img/img-nosotros-ico2-block5.jpg');`)
									h3 Respeto
								li(class="nosotros_block5_valores_box")
									span(style=`background-image: url('${STATIC_URL}img/img-nosotros-ico3-block5.jpg');`)
									h3 Compromiso
								li(class="nosotros_block5_valores_box")
									span(style=`background-image: url('${STATIC_URL}img/img-nosotros-ico4-block5.jpg');`)
									h3 Solidaridad	
								
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.countTo.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		const cl = q => console.log(q);

		$('.slider-for li').each(function(k,ele){
			$('.slider-nav').append(`
				<li>
					<span class="nosotros_block4_slider_button">
						<span>${$(ele).data('fecha')}</span>
						<div class="nosotros_block4_slider_circle"></div>
					</span>
				</li>
			`);
		})




					//- - for (var i = 1; i <= 9; i++)
					//- 			li
					//- 				span(href="", class="nosotros_block4_slider_button")
					//- 					span 1993
					//- 					.nosotros_block4_slider_circle

		$(()=>{
			//code here ------
			//- +++ video bloque #2 +++
			$('.nosotros_block2_box2').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 

			//- +++ contador bloque #2 +++
			var hombeb3CLass = ['timer1','timer2','timer3','timer4'];
			$('.nosotrosCount_number').each(function(i,e){
				$(e).addClass(hombeb3CLass[i%hombeb3CLass.length])
			});

			function homeb3Count(){
				var b38_width = $(window).width();
				if (b38_width > 1024) {
					$t1 = $('.timer1');
					$t1.text($t1.text().replace(',',''));
					$t1.countTo({
						from: 0,
						to: $t1.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t2 = $('.timer2');
					$t2.text($t2.text().replace(',',''));
					$t2.countTo({
						from: 0,
						to: $t2.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t3 = $('.timer3');
					$t3.text($t3.text().replace(',',''));
					$t3.countTo({
						from: 0,
						to: $t3.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t4 = $('.timer4');
					$t4.text($t4.text().replace(',',''));
					$t4.countTo({
						from: 0,
						to: $t4.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
				}
			}

			var homeb3Animation = $('#nosotrosCount-Animation');
			homeb3Animation.waypoint(function(direction) {
				if (direction === 'down') {
					$('.nosotros_block2').addClass('active');
					homeb3Count();
				} else {
					$('.nosotros_block2').removeClass('active');
				}
			}, {
				offset:'40%'
			});
			//- +++ waypoint Certificación bloque #3 +++

			$('.nosotros_block3_Animated').each(function(index, el){
			     $(this).css('transition-delay', index/3 + 's');
			})

			var animaFooter = $('.nosotros_block3_content');
			animaFooter.waypoint(function(direction) {
			if (direction === 'down') {
			     $('.nosotros_block3_Animated').addClass('active');
			} else{
			     $('.nosotros_block3_Animated').removeClass('active');
			}
			}, {
			     offset:'60%'
			});


			//- +++ slick bloque #3 +++
			$('.nosotrosb3Slider').slick({
				arrows: false,
				dots: false,
				infinite: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				speed: 400,
				fade: true,
				adaptiveHeight: true,
			});

			//- <<< end >>>

			
			//- +++ slick bloque #4 +++

			$('.slider-for').slick({
			  slidesToShow: 3,
			  slidesToScroll: 1,
			  arrows: false,
			  fade: false,
			  centerMode: false,
			  autoplay: false,
			  infinite: true,
			  responsive: [
			    {
			      breakpoint: 1024,
			      settings: {
			        slidesToShow: 2
			      }
			    },
			    {
			      breakpoint: 540,
			      settings: {
			        slidesToShow: 1
			      }
			    }
			   ]
			});
				$('.slider-nav li').eq(0).addClass("active");


			$('.slider-for').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				$('.slider-nav li').removeClass("active");
				$('.slider-nav li').eq(nextSlide).addClass("active");
			  	
			});

			$('.slider-nav li').on( "click", function(e) {
				e.preventDefault();
				$('.slider-nav li').removeClass("active");
				$( this ).addClass("active");
				$('.slider-for').slick('slickGoTo', $( this ).index());
			});

			//- $('.slider-nav').slick({
			//-   slidesToShow: 9,
			//-   slidesToScroll: 1,
			//-   asNavFor: '.slider-for',
			//-   dots: false,
			//-   infinite: false,
			//-   centerMode: false,
			//-   autoplay: false
			//-   //- focusOnSelect: true,
			//- });

			//- +++ waypoint bloque #5 +++

			$('.nosotros_block5_valores_box').each(function(index, el){
			     $(this).css('transition-delay', index/3 + 's');
			})

			var animaFooter = $('.nosotros_block5_valores_list');
			animaFooter.waypoint(function(direction) {
			if (direction === 'down') {
			     $('.nosotros_block5_valores_box').addClass('active');
			} else{
			     $('.nosotros_block5_valores_box').removeClass('active');
			}
			}, {
			     offset:'80%'
			});

			//- +++ waypoint girl bloque #5 +++

			var animaFooter = $('.nosotros_block5_box2');
			animaFooter.waypoint(function(direction) {
			if (direction === 'down') {
			     $('.nosotros_block5_girl').addClass('active');
			} else{
				  $('.nosotros_block5_girl').removeClass('active');
				}
			}, {
			     offset:'100%'
			});
			
		})