extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/fancybox/jquery.fancybox.css`)

//- body classs
block vars
	- var bodyClass = 'detalle__producto'
//- ---

//- Contenido
block content
	section.producto_detalle
		section.producto_detalle_block1
			.producto_detalle_block1_content
				.producto_detalle_block1_box1
					.producto_detalle_block1_box1_slider
						.producto_detalle_block1_box1_slider_nav
							ul.producto_detalle_block1_box1_slider_nav_ul#gal-1.slider__content__thumbs
								li.producto_detalle_block1_box1_slider_nav_thumb
									a(href=`#`, data-image=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`)
										img(src=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`, width="75", height="75", alt="Producto", title="Producto")
								li.producto_detalle_block1_box1_slider_nav_thumb
									a(href=`#`, data-image=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`)
										img(src=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`, width="75", height="75", alt="Producto", title="Producto")
								li.producto_detalle_block1_box1_slider_nav_thumb
									a(href=`#`, data-image=`${STATIC_URL}img/producto-detalle-img2-zoom.jpg`)
										img(src=`${STATIC_URL}img/producto-detalle-img2-zoom.jpg`, width="75", height="75", alt="Producto", title="Producto")
						.producto_detalle_block1_box1_slider_img
							ul.producto_detalle_block1_box1_slider_img_ul.slider__producto__img
								
								li.producto_detalle_block1_box1_slider_img_item
									img(src=`${STATIC_URL}img/producto-detalle-img1.jpg`, alt="", data-zoom-image=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`).zoom-1
								li.producto_detalle_block1_box1_slider_img_item
									img(src=`${STATIC_URL}img/producto-detalle-img1.jpg`, alt="", data-zoom-image=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`).zoom-1
								li.producto_detalle_block1_box1_slider_img_item
									img(src=`${STATIC_URL}img/producto-detalle-img2.jpg`, alt="", data-zoom-image=`${STATIC_URL}img/producto-detalle-img1-zoom.jpg`).zoom-1
					.producto_detalle_block1_box1_btn
						a(href="contacto.html", class="btn__general btn__general--lightgrey")
							.btn__general__text.btn__general__text1
								span.span__txt__black SOLICITAR INFORMACIÓN
							.btn__general__text.btn__general__text2
								span.span__txt__black SOLICITAR INFORMACIÓN
				.producto_detalle_block1_box2
					.producto_detalle_block1_box2_title
						p
							strong MARCA: 
							| TUTTNAUER
						h2 
							strong Descripción: 
							| Autoclave mesa 23 Lt automatica clase-N c.bomba de aire y impresora
					.producto_detalle_block1_box2_country
						img(src=`${STATIC_URL}img/producto-detalle-block1-bandera.jpg`, alt="")
						p
							| País de Origen: Israel
					.producto_detalle_block1_box2_description
						p 
							strong Modelo: 
							| Autoclave de sobremesa automática modelo 3870E de 85 Lt., indicado para esterilizar mediante calor húmedo instrumental medico y otros productos sanitarios. 
					.producto_detalle_block1_box2_registro
						p
							strong Registro Sanitario: 
							| Si
					.producto_detalle_block1_box2_buy_title
						p Cantidad:
					.producto_detalle_block1_box2_buy
						.item__car__cant__select
							.item__car__select
								input(type="text", value="1", class="soloNumber")
							.iten__car__minus.button__minus.icon-menos
							.item__car__more.button__more.icon-mas
						.ctn__producto__detalle__info__btn
							a(href="#", class="btn__general btn__general--orange")
								.btn__general__text.btn__general__text1
									span.span__txt__black COTIZAR PRODUCTO
								.btn__general__text.btn__general__text2
									span.span__txt__black COTIZAR PRODUCTO

					.producto_detalle_block1_box2_button
						a(href="#") DESCARGAR CATÁLOGO

		section.producto_detalle_block2
			.producto_detalle_block2_content
				.title.title-medium.gris
					h2 Más información
				.producto_detalle_block2_description
					.producto_detalle_block2_description_box1
						.producto_detalle_block2_description_box1_h3
							h3 Características
						.producto_detalle_block2_description_box1_ul
							ul
								li 3.5" full-color LCD touch screen
								li 320 x 480 pixel display
					.producto_detalle_block2_description_box2
						.producto_detalle_block2_description_box2_h3
							h3 Características
						.producto_detalle_block2_description_box2_ul
							ul
								li
									ul
										li Thermostat
										li Length: 109 mm
										li Width: 109 mm
										li Depth: 26.1 mm
								li
									ul
										li Room Sensor
										li Length: 44 mm
										li With Stand: 54 mm
										li Width: 44 mm
										li Depth: 20 mm
								li
									ul
										li Trim plate
										li Length: 158.59 mm
										li Width: 158.59 mm
										li Depth: 8.69 mm
								li
									ul
										li Power Extender Kit
										li Length: 44 mm
										li With stand: 54 mm
										li Width: 44 mm
										li Depth: 20 mm

					.producto_detalle_block2_description_box3
						.producto_detalle_block2_description_box3_h3
							h3 Características
						.producto_detalle_block2_description_box3_ul
							ul
								li Temperature
								li Humidity
								li Occupancy
								li Proximity
		section.producto_detalle_block3
			.producto_detalle_block3_content
				.producto_detalle_block3_h2
					.title.title-big.morado
						h2 Más Productos
				.producto_detalle_block3_slider
					ul.home-b3PitcherSlick
						-for (var i = 0; i < 5; i++)
							li.producto_detalle_block3_slider
								.item__general.producto_detalle_block3_container
									a(href="", class="item__general__container")
										.item__general__content
											.item__general__precio
												span Nuevo
											.item__general__img
												img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
											.item__general__info
												.item__general__title
													h3 EDAN
												.item__general__text
													p Monitor fetal gemelar pantalla color tactil 12'' sobremesa +ECG ,NIBP, SPO2, TEMP
										.item__general__btn
											span Cotizar Producto
								
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	//- zoom script

	script(src=`${STATIC_URL}js/elevatezoom/jquery.ez-plus.js`)
	script(src=`https://cdn.rawgit.com/jquery/jquery-mousewheel/3.1.12/jquery.mousewheel.js`)
	script(src=`https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js`)


	script.
		$(()=>{
			//code here ------
			var homeb3Slick = $('.home-b3PitcherSlick').slick({
				autoplay: false,
				autoplaySpeed: 3000,
				speed: 500,
				slidesToShow: 4,
				slidesToScroll: 1,
				arrows: true,
				dots: false,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 961,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 481,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			//- producto_detalle


			
			

			var width = $(window).innerWidth();

			
			 
			/*Detalle Producto Desktop*/
			if(width >= 1025){
				$('.zoom-1').ezPlus({
			        gallery: 'gal-1',
			        zoomType: "inner",
			        cursor: "pointer",
			        galleryActiveClass: 'active',
			        imageCrossfade: true
			     });
			     
			}

			$('.producto_detalle_block1_box1_slider_nav_thumb:first-child a').addClass('active');
			$('.producto_detalle_block1_box1_slider_img_item:first-child').addClass('active');

			/*Detalle Producto Mobile*/
			if(width <= 1024){
				$('.slider__producto__img').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false,
					fade: true,
					swipeToSlide: true,
					asNavFor: '.slider__content__thumbs'
				});
				$('.slider__content__thumbs').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					arrows: false,
					swipeToSlide: true,
					asNavFor: '.slider__producto__img',
					vertical: true,
					verticalSwiping: true,
					focusOnSelect: true,
					responsive: [
						{
							breakpoint: 1025,
							settings: {
								vertical: false,
								slidesToShow: 3,
								slidesToScroll: 1
							}
						}
					]
				});
			}
			$('.slider__content__thumbs').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				$('.producto_detalle_block1_box1_slider_img_item').removeClass('active');
				$('.producto_detalle_block1_box1_slider_img_item').eq(nextSlide).addClass('active');
			});
			$('.producto_detalle_block1_box1_slider_nav_thumb a').click(function(event) {
				event.preventDefault();
			});
		})