extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	span.catalogo_overlay
	.content__catalogo__main
		.productos__banner__responsive
			.productos__banner__bakcground__responsive(style=`background-image: url('${STATIC_URL}img/banner-productos.png');`)
				.productos__banner__content__responsive
					.productos__banner__title__responsive
						h3 Sala de Operaciones
		.content__catalogo 
			.catalogo__nav
				.catalogo__responsive__head
					.catalogo__responsive__title
						h2 Filtros
					span.catalogo__responsive__close.icon-close
				.catalogo__wrap
					.nav__all__filters
						h3 Filtros Seleccionados
						ul
							li.nav__all__filters__item Sala de Operaciones
								span.close__filters
							li.nav__all__filters__item Accesorios
								span.close__filters
							li.nav__all__filters__item Laboratorio Clínico
								span.close__filters
					.nav__delete__filters Borrar todo
					.nav__box__container
						.nav__title__filters 
							.nav__title__icono__filters
								span
								span
								span
							h4 FIltros
						.nav__item__container
							.nav__item
								.nav__item__title
									h4 CATEGORÍA
									.iconos__title
										span.iconos__title__more +
										span.iconos__title__minus -
								.nav__item__content
									ul
										li.item__label 
											a(href="").nav__item__sec Sala de Operaciones
										li.item__label 
											a(href="").nav__item__sec Central de Esterilización
										li.item__label 
											a(href="").nav__item__sec Endoscopia
										li.item__label 
											a(href="").nav__item__sec Gineco-Obstetricia
										li.item__label 
											a(href="").nav__item__sec Salud Ocupacional
										li.item__label 
											a(href="").nav__item__sec Hospitalización
										li.item__label 
											a(href="").nav__item__sec Sala de Emergencias
										li.item__label 
											a(href="").nav__item__sec Laboratorio Clínico
										li.item__label 
											a(href="").nav__item__sec Fisioterapia y Rehabilitación
										li.item__label 
											a(href="").nav__item__sec Tratamiento de Residuos Sólidos Hospitalarios
							.nav__item
								.nav__item__title
									h4 SUBCATEGORÍA
									.iconos__title
										span.iconos__title__more +
										span.iconos__title__minus -
								.nav__item__content
									ul
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check1")
													label(for="check1", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Accesorio para oxinoterapia
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check2")
													label(for="check2", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Agitadores
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check3")
													label(for="check3", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Anoscopios
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check4")
													label(for="check4", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Aspiradores de Pared
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check5")
													label(for="check5", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Audiómetros Clínicos
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check6")
													label(for="check6", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Coches de Paro
										li.item__label 
											.general__input.general__input--check--radio.general__input--checkbox
												.general__input__inside
													input(type="checkbox", id="check7")
													label(for="check7", class="general__input--check--radio--label")
														.general__input__inside__container
															.general__input__figure
															.general__input__text Camas Clínicas
							
			.catalogo__productos 
				.banner__catalogo
					.productos__banner__slider
						- for (var x = 1; x <= 3; x++)
							.productos__banner__box
								.productos__slider__bakcground(style=`background-image: url('${STATIC_URL}img/banner-productos.png');`)
					.productos__slider__content
						.productos__slider__title
							h3 Sala de Operaciones
				.catalogo__products__ctn
					.nav__item__title--productos
						.nav__order 
							h5 Ordenar por:
							.content__select__catalogo
								.general__input.general__input--select.general__input__icon--right
									.general__input__inside
										.general__input__ico.general__input__ico__right.icon-flecha-abajo
										select(name="", class="general__input__input")
											option(value="0") Más relevante
											option(value="1") De la A a Z
											option(value="2") De la Z a la A
						.nav__select 
							h5 Mostrar:
							.content__select__catalogo
								.general__input.general__input--select.general__input__icon--right
									.general__input__inside
										.general__input__ico.general__input__ico__right.icon-flecha-abajo
										select(name="", class="general__input__input")
											option(value="0") 12
											option(value="1") 2
											option(value="2") 3
						.nav__pager
							h5 Página:
							.content__select__catalogo
								.general__input.general__input--select.general__input__icon--right
									.general__input__inside
										.general__input__ico.general__input__ico__right.icon-flecha-abajo
										select(name="", class="general__input__input")
											option(value="0") 1
											option(value="1") 2
											option(value="2") 3
							.total__pag de 2
							.btn__pag__prev.icon__prev--productos
								.icon-prev
							.btn__pag__next.icon__next--productos.active
								.icon-next
					.catalogo__productos__ctn
						- for (var i = 1; i <= 12; i++)
							.catalogo__item
								.item__general
									a(href="producto-detalle.html").item__general__container
										.item__general__content
											.item__general__precio
												span Nuevo
											.item__general__img
												img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
											.item__general__info
												.item__general__title
													h3 EDAN
												.item__general__text
													p Monitor fetal gemelar pantalla color tactil 12'' sobremesa +ECG ,NIBP, SPO2, TEMP
										.item__general__btn
											span Cotizar Producto
					.btn__paginador
						.btn__paginador__prev
							span.icon-flecha-derecha
						ul.paginador__list
							li
								a.active(href="#") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
							li
								a(href="#") 4
						.btn__paginador__next
							span.icon-flecha-izquierda

					.catalogo__responsive__button
						a(href="", class="catalogo__responsive__button__content") <span class="catalogo__responsive__button_icon icon-filtros"></span>FILTROS		
//- js
append scripts
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//code here ------
			// ANIMACION - filter products
			var anima__footer = $('.footer');
			anima__footer.waypoint(function(direction) {
				if (direction === 'down') {
					$('body').addClass('filter__button__static__mobile');
				} else{
					$('body').removeClass('filter__button__static__mobile');
				}
			}, {
				offset:'100%'
			});
			// end

			//<--- acordion --->
			$('.nav__item__title').addClass('active');
			$('.nav__item__title').click(function(e){
				e.preventDefault();
				if ($(this).hasClass('active')) {
					$(this).removeClass('active').parent().find('.nav__item__content').stop().slideUp();
				}else{
					$('.nav__item__title').removeClass('active');
					$('.nav__item__content').stop().slideUp();
					$(this).addClass('active').parent().find('.nav__item__content').stop().slideToggle();
				};
			});
			// <--- end --->
			
			//- FUNCION FILTER RESPONSIVE
			$('.catalogo__responsive__button__content').click(function(e){
				e.preventDefault();
				$('.catalogo_overlay').addClass('active');
				$('.catalogo__nav').addClass('active');
				$('body').addClass('active');
			});
			$('.catalogo_overlay, .catalogo__responsive__close').click(function(e){
				e.preventDefault();
				$('.catalogo_overlay').removeClass('active');
				$('.catalogo__nav').removeClass('active');
				$('body').removeClass('active');
			});
			$('.close__filters').click(function(){
				$(this).parent().remove();
				var cuentaBoxFilter = $('.nav__all__filters .nav__all__filters__item').length;
				//- console.log(cuentaBoxFilter);
				if (cuentaBoxFilter < 1) {
					$('.nav__all__filters, .nav__delete__filters').fadeOut('fast');
				} else if (cuentaBoxFilter > 0) {
					$('.nav__all__filters, .nav__delete__filters').fadeIn('fast');					
				}
			});

			$('.nav__delete__filters').click(function(){
				$('.nav__all__filters').remove();
				$(this).remove();
			});


			//- <--- SLIDER BANNER --->
			$('.productos__banner__slider').slick({
				infinite: true,
				autoplay: true,
				dots: true,
				arrows: false,
				fade: true,
				speed: 700,
				autoplaySpeed: 3000,
				slidesToShow: 1,
				slidesToScroll: 1
			});
			//- <--- end --->
		})