extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.proyectos_integrales
		.pi_content
			.pi_select
				span.pi_select_text ELEGIR PROVINCIA
				.pi_select_campo
					.general__input.general__input--select.general__input__icon--right
						.general__input__inside
							.general__input__ico.general__input__ico__right.icon-flecha-abajo
							select(name="", class="general__input__input")
								option(value="0") Arequipa
								option(value="1") Lima
								option(value="2") Amazonas
			.pi_items
				-for (var i = 0; i < 4; i++)
					article.pi_item
						.pi_box_left
							figure.pi_img
								img(src=`${STATIC_URL}img/proyectos-integrales-img-1.jpg`, width="210", height="155", alt="")
							.pi_gallery
								a(href="#", class="pi_button openGalleryImg")
									span.pi_button_icon.icon-galeria
									span.pi_button_text VER FOTOS
								div(class="pi_gallery_images imgGallery", style="display:none;")
									-for (var x = 0; x < 2; x++)
										a(href=`${STATIC_URL}img/proyectos-integrales-img-1.jpg`, class="pi_gallery_img")
											img(src=`${STATIC_URL}img/proyectos-integrales-img-1.jpg`, width="210", height="155", alt="")
						.pi_box_right
							.pi_subtitle
								h3 Alianza de apoyo al instituto nacional de enfermedades neoplásicas (alinen)
							.pi_text
								ul
									li Audiometro clinico
									li Balanza mecanica
									li Bomba de infusion
									li Cabina  audiometrica insonorizada para audiometria
									li Coche de paro equipado
					article.pi_item
						.pi_box_left
							figure.pi_img
								img(src=`${STATIC_URL}img/proyectos-integrales-img-1.jpg`, width="210", height="155", alt="")
							.pi_gallery
								a(href="#", class="pi_button openGalleryVideo")
									span.pi_button_icon.icon-video
									span.pi_button_text VER VIDEOS
								div(class="pi_gallery_videos videoGallery", style="display:none;")
									-for (var x = 0; x < 3; x++)
										a(href="https://www.youtube.com/watch?v=gpRqSFqlFSw", class="pi_gallery_video")
						.pi_box_right
							.pi_subtitle
								h3 Alianza de apoyo al instituto nacional de enfermedades neoplásicas (alinen)
							.pi_text
								p.
									Entrega de Sistema de Video "OTV-SI" más una "Torre de Videorinolaringoscopio", de la marca Olympus. Procedencia: Japonesa.
			.pi_pager
				ul
					li
						a(href="", class="pi_icon_left icon-flecha-derecha")
					li
						a(href="" class="pi_number active") 1
					li
						a(href="" class="pi_number") 2
					li
						a(href="" class="pi_number") 3
					li
						a(href="" class="pi_number") 4
					li
						a(href="", class="pi_icon_right icon-flecha-izquierda")

//- js
append scripts 
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script.
		$(()=>{
			//code here ------
			$('.imgGallery').lightGallery({
				selector: 'a'
			});
			$('.openGalleryImg').click(function(e) {
				e.preventDefault();
				$(this).closest('.pi_item').find('.pi_gallery_images a').click();
			});

			$('.videoGallery').lightGallery({
				selector: 'a'
			});
			$('.openGalleryVideo').click(function(e) {
				e.preventDefault();
				$(this).closest('.pi_item').find('.pi_gallery_videos a').click();
			});
		})