extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.restore__password__new
		.restore__password__new__container
			.restore__password__content
				.restore__password__new__title
					h3 Restablecer contraseña
				.restore__password__new__text
					p Ingrese su nueva contraseña
				form(id="form-password-new", class="restore__password__new__input")
					ul
						li
							.general__input.general__input--hover
								.general__input__inside
									input(type="text", placeholder="Contraseña*", class="validate[required] general__input__input")
						li
							.general__input.general__input--hover
								.general__input__inside
									input(type="text", placeholder="Confirmar contraseña*", class="validate[required] general__input__input")
					.restore__password__new__btn
						button(class="btn__general btn__general--purple btnPasswordnew")
							.btn__general__text.btn__general__text1
								span.span__txt__black ENVIAR
							.btn__general__text.btn__general__text2
								span.span__txt__black ENVIAR

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnPasswordnew').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-password-new").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form-password-new").submit();
				}
			});
			//- <<< end >>>
		})