extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.restore__password
		.restore__password__container
			.restore__password__content
				.restore__password__title
					h3 Restablecer contraseña
				.restore__password__text
					p Escribe tu correo electrónico asociado a tu cuenta. De inmediato te enviaremos un correo electrónico para que puedas restablecer tu contraseña.
				form.restore__password__input(id="form-password")
					ul
						li
							.general__input.general__input--hover
								.general__input__inside
									input(type="email", placeholder="Correo Electrónico*", class="validate[required,custom[email]] general__input__input")
					.restore__password__btn
						button(type="submit" class="btn__general btn__general--purple btnPassword")
							.btn__general__text.btn__general__text1
								span.span__txt__black ENVIAR
							.btn__general__text.btn__general__text2
								span.span__txt__black ENVIAR

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(function() {
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnPassword').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-password").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form-password").submit();
				}
			});
			//- <<< end >>>
		});