extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.servicio
		section.servicio_block1
			.banner__general
				.banner__general__container
					.banner__general__background(style=`background-image: url('${STATIC_URL}img/servicio-tecnico-img-banner.jpg');`)
						.banner__general__content
							.banner__general__box
								.banner_general__title
									h2 PROYECTOS INTEGRALES
								.banner__general__icon
									img(src=`${STATIC_URL}img/banner-general-icon.png`, alt="")
		section.servicio_block2
			.servicio_block2_left
				.servicio_block2_box1
					.servicio_block2_box1_h2
						h2 Servicio técnico seguro, certificado, profesional y personalizado				
			.servicio_block2_right
				.servicio_block2_box2
					.servicio_block2_box2_p
						p
							| Por ello, ponemos a su servicio un Staff de profesionales y técnicos multidisciplinarios, certificados oficialmente en capacitación y entrenamiento desde fábrica por cada una de los fabricantes que representamos. Además de contar con los instrumentos de calibración certificados oficialmente. Expertos con reconocida y amplia experiencia en el mantenimiento preventivo y correctivo de los equipos biomédicos, brindarán la asesoría y soporte técnico respectivo para contribuir al correcto funcionamiento, mantenimiento y fiabilidad de sus equipos.
					.servicio_block2_box2_phone
						p (511) 705-6500
					.servicio_block2_box2_email
						a(href="") serviciotecnico@ajaimerojas.com
		section.servicio_tecnico_respaldo#servicioCount-Animation
			.str_content
				.str_title
					.title.title-big.morado
						h2 Productos Destacados
				.str_block
					article.str_box
						.str_wrap
							.str_group
								span.str_box_number.servicioCount_number 40
							.str_text
								p.
									de experiencia en el sector salud
					article.str_box
						.str_wrap
							.str_group
								span.str_box_number.servicioCount_number 200
								span.str_box_simbolo +
							.str_text
								p.
									de clientes satisfechos
					article.str_box
						.str_wrap
							.str_group
								span.str_box_number.servicioCount_number 432
							.str_text
								p.
									proyectos entregados
					article.str_box
						.str_wrap
							.str_group
								span.str_box_number.servicioCount_number 132
							.str_text
								p.
									colaboradores trabajando
		section.servicio_tecnico_consultas
			.stc_content
				.stc_left
					figure.stc_img
						img(src=`${STATIC_URL}img/servicio-tecnico-consultas-img.png`, width="467", height="474", alt="")
				.stc_right
					.stc-info
						.stc_title
							h2 Consulta el estado de tu equipo
						.stc_form
							form(action="", id="formulario-consulta")
								.stc_form_campo
									.stc_form_input
										input(type="text", name="", placeholder="Número de serie", class="validate[required]")
									.stc_form_button
										button(class="btn__general btn__general--orange btnConsulta")
											.btn__general__text.btn__general__text1
												span.span__txt__black CONSULTAR
											.btn__general__text.btn__general__text2
												span.span__txt__black CONSULTAR
						//- .stc_text
						//- 	p.
						//- 		Resultados:  cursus mi, non posuere lorem. Donec mattis gravida sem, nec accumsan elit tempus ac. Maecenas vel justo at lacus porta semper. In hac habitasse platea dictumst. Ut vestibulum scelerisque nisi, ut laoreet quam.
		section.servicio_block3
			.servicio_block3_left
				.servicio_block3_left_wrap
					.servicio_block3_box1_content
						span.servicio_block3_span
							img(src=`${STATIC_URL}img/servicio-tecnico-img1.png`, width="", height="", alt="")
						.servicio_block3_box1_h2
							h2 Ofrecemos
						.servicio_block3_box1_p
							p
								| A. Jaime Rojas S.a cuenta con una sala de exhibición y amplio stock de repuestos a disposición de nuestros clientes, asimismo dispone de una infraestructura con herramientas e instrumentos calibrados con certificación para la atención oportuna.
						.servicio_block3_box1_ul
							ul
								li Mantenimiento preventivo y correcctivo. Pre-instalación e Instalación de los equipos.
								li Capacitación contante y asesoría técnica.
								li Suministro de repuestos y accesorios originales.
								li Soluciones integrales, eficientes y oportuna
			.servicio_block3_right
				.servicio_block3_box2.servicioVideo
					span.servicio_block3_box2_span
						img(src=`${STATIC_URL}img/servicio-tecnico-img2.png`, width="", height="", alt="" )
					.servicio_block3_box2_video
						a.servicio_block3_box2_video_a(href="https://www.youtube.com/watch?v=gpRqSFqlFSw")
							.servicio_block3_box2_video_a_capa
						figure
							img(src=`${STATIC_URL}img/servicio-tecnico-bloque3-img1.jpg`, width="", height="", alt="")
							//- img(src=`https://img.youtube.com/vi/gpRqSFqlFSw/mqdefault.jpg`, width="", height="", alt="" )
					.servicio_block3_box2_p
						p
							| Somos la única empresa a nivel nacional que cuenta con una Banco de Pruebas para equipos de esterilización importantes, en el cual podemos realizar pruebas de control de calida a toda nuestra línea de equipos, antes de ser enviados a los clientes
		section.servicio_block4
			.servicio_block4_content
				.servicio_block4_tab
					ul(class="tabs")
						li 
							a(href="" class="active") E-BIOSERVICES
						li 
							a(href="") SERVICIO TÉCNICO OLYMPUS
						li 
							a(href="") SISTEMA INTEGRAL DE MANTENIMEINTO DE AUTOCLAVES
				.servicio_block4_tab_items
					.servicio_block4_item.panels__item.active
						.servicio_block4_item_box1
							.servicio_block4_item_box1_imgbox.servicioVideo
								a(href="https://www.youtube.com/watch?v=gpRqSFqlFSw", class="servicio_block4_item_box1_img")
									.servicio_block4_item_box1_capa
								figure
									img(src=`${STATIC_URL}img/servicio-tecnico-img3.jpg`, width="", height="", alt="")
							.servicio_block4_item_box1_a
								a(href="contacto.html", class="btn__general btn__general--purple")
									.btn__general__text.btn__general__text1
										span.span__txt__black MÁS INFORMACIÓN
									.btn__general__text.btn__general__text2
										span.span__txt__black MÁS INFORMACIÓN
						.servicio_block4_item_box2
							.servicio_block4_item_box2_h2
								h2 E-bioservices
							.servicio_block4_item_box2_p
								p
									| El e-bioservices es una plataforma web con interfaces gráficas amigables. Esta herramienta nos permite entre otras cosas, realizar la programación de actividades de nuestro personal, el registro de información de equipos vendidos, generación de historial de equipos, valorización de actividades, asignación de tareas en base a las competencias.
								p
									| De esta forma realizamos la trazabilidad de los productos entregados y servicios realizados asegurando diagnósticos certeros y soluciones duraderas. Nos permite además gestionar los tiempos de realización de nuestras actividades de manera que podamos aumentar la eficiencia de las mismas.
								ul
									li El cliente solicita un servicios
									li Se coordina la fecha y hora de atención
									li El personal técnico ejecuta el servicio
									li Se registra el resultado de la visita en el sistema
									li Se emite una cotización de ser necesario
									li Se informa al cliente de las actividades realizadas
					.servicio_block4_item.panels__item
						.servicio_block4_item_box1
							.servicio_block4_item_box1_imgbox.servicioVideo
								a(href="https://www.youtube.com/watch?v=gpRqSFqlFSw", class="servicio_block4_item_box1_img")
									.servicio_block4_item_box1_capa
								figure
									img(src=`${STATIC_URL}img/servicio-tecnico-img3.jpg`, width="", height="", alt="")
							.servicio_block4_item_box1_a
								a(href="contacto.html", class="btn__general btn__general--purple")
									.btn__general__text.btn__general__text1
										span.span__txt__black MÁS INFORMACIÓN
									.btn__general__text.btn__general__text2
										span.span__txt__black MÁS INFORMACIÓN
						.servicio_block4_item_box2
							.servicio_block4_item_box2_h2
								h2 Servicio tecnico olympus
							.servicio_block4_item_box2_p
								p
									| TEXTO 2 TEXTO 2 TEXTO 2 TEXTO 2 TEXTO 2 
								p
									| TEXTO 2 TEXTO 2 TEXTO 2 TEXTO 2 TEXTO 2 
								ul
									li El cliente solicita un servicios
									li Se coordina la fecha y hora de atención
									li El personal técnico ejecuta el servicio
									li Se registra el resultado de la visita en el sistema
									li Se emite una cotización de ser necesario
									li Se informa al cliente de las actividades realizadas
					.servicio_block4_item.panels__item
						.servicio_block4_item_box1
							.servicio_block4_item_box1_imgbox.servicioVideo
								a(href="https://www.youtube.com/watch?v=gpRqSFqlFSw", class="servicio_block4_item_box1_img")
									.servicio_block4_item_box1_capa
								figure
									img(src=`${STATIC_URL}img/servicio-tecnico-img3.jpg`, width="", height="", alt="")
							.servicio_block4_item_box1_a
								a(href="contacto.html", class="btn__general btn__general--purple")
									.btn__general__text.btn__general__text1
										span.span__txt__black MÁS INFORMACIÓN
									.btn__general__text.btn__general__text2
										span.span__txt__black MÁS INFORMACIÓN
						.servicio_block4_item_box2
							.servicio_block4_item_box2_h2
								h2 Sistema integral de mantenimiento de autoclaves
							.servicio_block4_item_box2_p
								p
									| TEXTO 3 TEXTO 3 TEXTO 3 TEXTO 3 TEXTO 3 
								p
									| TEXTO 3 TEXTO 3 TEXTO 3 TEXTO 3 TEXTO 3 
								ul
									li El cliente solicita un servicios
									li Se coordina la fecha y hora de atención
									li El personal técnico ejecuta el servicio
									li Se registra el resultado de la visita en el sistema
									li Se emite una cotización de ser necesario
									li Se informa al cliente de las actividades realizadas	

	.overlay-popup
	.pop-up
		.pop-up-container
			.pop-up-content
				.pop-up-close
					span.icon-cerrar
				.pop-up-title
					h3 Estado de tu equipo
				.pop-up-table
					.servicio__table
						table.table__list(width='614', cellpadding='0', cellspacing='0', border='0', align='center')
							tr.table__list__title
								td(width='458', height='30', align='center') PRODUCTO
								td(style='display: block;', width='8', height='30', align='center')
								td(width='148', height='30', align='center') GARANTÍA
							tr
								td(align='left', colspan='12')
									table(width='100%', cellspacing='0', cellpadding='0', border='0')
										tr.table__list__subtitle
											td(width='176', height='30') Nombre
											td(width='20', height='30')
											td(width='70', height='30') Marca
											td(width='20', height='30')
											td(width='70', height='30') Modelo
											td(width='20', height='30')
											td(width='82', height='30') Registro
											td(style='display: block; background: #ffffff;', width='8', height='30')
											td(width='60', height='30', align='center') Meses
											td(width='20', height='30')
											td(width='68', height='30') Fin
										tr
											td(align='left', colspan='12')
												table(width='100%', cellpadding='0', border='0')
													tr.table__list__content
														td(width='176', height='78') Electrocardiografo 1 canal LCD 20x2 puerto RS232 sin puerto USB ECG-1101B
														td(width='20', height='78')
														td(width='70', height='78') CAREWELL
														td(width='20', height='78')
														td(width='70', height='78') ECG-1101B
														td(width='20', height='78')
														td(width='82', height='78') 13-03-2013
														td(style='background: #ffffff;', width='8', height='78')
														td(width='60', height='78', align='center') 24
														td(width='20', height='78')
														td(width='68', headers='78') 26-02-2013
													tr.table__list__content
														td(width='176', height='78') Electrocardiografo 1 canal LCD 20x2 puerto RS232 sin puerto USB ECG-1101B
														td(width='20', height='78')
														td(width='70', height='78') CAREWELL
														td(width='20', height='78')
														td(width='70', height='78') ECG-1101B
														td(width='20', height='78')
														td(width='82', height='78') 13-03-2013
														td(style='background: #ffffff;', width='8', height='78')
														td(width='60', height='78', align='center') 24
														td(width='20', height='78')
														td(width='68', headers='78') 26-02-2013
				.pop-up-btn
					.stc_links
						ul
							li
								a(href="", class="stc_link") SOLICITAR SERVICIO
							li
								a(href="", class="stc_link") SOLICITAR REPUESTO


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/jquery.countTo.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(()=>{
			//code here ------
			//- +++ video +++
			$('.servicioVideo').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 
			//- +++ tabs +++
			const cl = q => console.log(q);
			$('.tabs li').click(function(e){
				e.preventDefault();
					let current = $(this).find('a');
					let content = $('.panels__item');
					if(!current.hasClass('active')){
						$(this).parent().find('li a').removeClass('active');
						current.addClass('active');
						content.removeClass('active');
						content.eq($(this).index()).addClass('active');
					}else{
						return false;
					}
			})

			//- +++ contador productos destacados +++
			var hombeb3CLass = ['timer1','timer2','timer3','timer4'];
			$('.servicioCount_number').each(function(i,e){
				$(e).addClass(hombeb3CLass[i%hombeb3CLass.length])
			});

			function homeb3Count(){
				var b38_width = $(window).width();
				if (b38_width > 1024) {
					$t1 = $('.timer1');
					$t1.text($t1.text().replace(',',''));
					$t1.countTo({
						from: 0,
						to: $t1.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t2 = $('.timer2');
					$t2.text($t2.text().replace(',',''));
					$t2.countTo({
						from: 0,
						to: $t2.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t3 = $('.timer3');
					$t3.text($t3.text().replace(',',''));
					$t3.countTo({
						from: 0,
						to: $t3.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
					$t4 = $('.timer4');
					$t4.text($t4.text().replace(',',''));
					$t4.countTo({
						from: 0,
						to: $t4.text(),
						speed: 1000,
						refreshInterval: 50,
						formatter: function (value, options) {
							value = value.toFixed(options.decimals);
							value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							return value;
						}
					});
				}
			}

			var homeb3Animation = $('#servicioCount-Animation');
			homeb3Animation.waypoint(function(direction) {
				if (direction === 'down') {
					$('.servicio_tecnico_respaldo').addClass('active');
					homeb3Count();
				} else {
					$('.servicio_tecnico_respaldo').removeClass('active');
				}
			}, {
				offset:'40%'
			});

			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.btnConsulta').on('click', function (event) {
				event.preventDefault();
				var valid = $("#formulario-consulta").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else {
					//return true;
					// $("#formulario-consulta").submit();
					$('.overlay-popup').addClass('active');
					$('.pop-up').addClass('active');
					$('body').addClass('active');
					//consultaServicio();
				}
			});
			//- <<< end >>>

			///- +++ MODAL +++
			$('.overlay-popup, .pop-up-close').click(function() {
				event.preventDefault();
				$(this).removeClass('active');
				$('.overlay-popup').removeClass('active');
				$('.pop-up').removeClass('active');
				$('body').removeClass('active');
			});
			//- <<< end >>>
		})