extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.terminos__politicas__wrap
		.terminos__politicas__container
			.terminos__politicas__lista__title
				h2 Políticas de Privacidad y Términos de Uso
			.terminos__politicas__lista.terminos__politicas__lista--list
				ol
					li CONDICIONES DEL USO DE ULTRASCHALL
						.terminos__politicas__info
							p.
								El uso de la ULTRASCHALL y suscripción en el aplicativo o página web www.ultraschall.com requiere de la aceptación previa de los términos, condiciones y políticas de privacidad establecidas en el presente documento y que el usuario podrá encontrar en la página web www.ultraschall.com. La Tarjeta ULTRASCHALLes personal e intransferible y no podrá ser utilizada con fecha posterior al vencimiento registrado en la misma. Ceyesa, no es una tarjeta transaccional que permita al usuario el pago de consumos, teniendo la misma la finalidad exclusiva de identificar al usuario como miembro del ProgramaULTRASCHALL. El usuario de la ULTRASCHALL, podrá utilizar la misma en todos los establecimientos afilados al Programa ULTRASCHALL cuyo detalle podrá encontrar en la página web www.ultraschall.com Para efectos de la presente información cualquier mención al Programa ULTRASCHALL, se entiende referida a Ceyesa S.A.C., con R.U.C. 20498446117, con domicilio en Avenida Conquistadores N° 1052, oficina  602, distrito de San Isidro, Lima.
							p.
								Ceyesa faculta al usuario a recibir todos los beneficios y activaciones promocionadas y publicadas a través de la página web www.ultraschall.com, tanto en lo referido a la categoría (i) Catálogo de Productos, como (ii) Experiencias ULTRASCHALL. Los establecimientos y marcas afiliadas al ULTRASCHALL podrán ejercer condiciones particulares sobre el uso y accesos a sus instalaciones y venta de productos. El derecho de acceso de los menores de edad a los establecimientos afiliados al Programa ULTRASCHALL podrá ser restringido a criterio de los propios establecimientos y las normativas legales vigentes.
							p.
								Todos los establecimientos donde el usuario del ULTRASCHALL podrá encontrar beneficios y activaciones, son propiedad de terceros, cuya responsabilidad en la prestación de los servicios o entrega de bienes, o cualquier transacción comercial, corresponde única y exclusivamente a dichos establecimientos. El Banco de Crédito del Perú BCP, así como el Programa ULTRASCHALL, no se hacen responsables por la prestación de servicios o entrega de bienes de terceros dentro del marco de ejecución del ULTRASCHALL, debiendo el usuario de la ULTRASCHALL, dirigir cualquier reclamo o consulta al establecimiento donde se prestó el servicio o se realizó la transacción. El usuario de la Ceyesa acepta también que el Banco de Crédito del Perú BCP, así como el ULTRASCHALL no se hacen responsables de las pérdidas o daños sufridas por el titular o por cualquier invitado que lo acompañe, derivadas de la prestación o no prestación (total o parcial) de cualquiera de los beneficios y servicios publicitados en los establecimientos afiliados.
							p.
								La prestación de las promociones o activaciones publicitadas por el ULTRASCHALL a través de su página web www.ultraschall.com está sujeta a la presentación de la ULTRASCHALL en el establecimiento afiliado, pudiendo a discreción del mismo prestar el servicio sin la presentación de la Tarjeta. El usuario deberá identificarse con su documento de identidad a fin de que el establecimiento pueda verificar la pertenencia legal de la ULTRASCHALL al portador de la misma. La admisión en los establecimientos afiliados está sujeta a que tanto el titular como todos sus invitados, cumplan con las normas de comportamiento y atuendo correspondientes a las condiciones establecidas por dichos establecimientos. Al usar la ULTRASCHALL el titular es consciente de la utilización de sus datos personales de acuerdo a la Política de Privacidad del ULTRASCHALL, disponible en la página web www.Ceyesa.com. ULTRASCHALL se reserva en todo momento el derecho de modificar las presentes Condiciones de Uso y siempre comunicará a los clientes a través del aplicativo y página web www.ultraschall.com con una anticipación de al menos 15 días las modificaciones.  Los clientes podrán aceptar o no tales modificaciones con lo que seguirán participando o no en el Programa, respectivamente.
							p.
								ULTRASCHALL tendrá una duración de “2 años” contados desde 30/11/16 Y vence indefectiblemente 30/11/18.
							p.
								Ceyesa podrá ser renovado, para lo cual se entregará una nueva tarjeta con la misma numeración inicial pero con nuevas fechas de vigencia.
					li TÉRMINOS Y CONDICIONES DE ULTRASCHALL
						ol
							li Condiciones Generales
								.terminos__politicas__info
									p.
										Toda referencia a Catálogo de Productos, se entiende realizada tanto a la versión impresa como a las versiones digital (Web y App) existentes o que pudieran existir.
									p.
										Información sujeta a cambios sin previo aviso. Ofertas válidas hasta agotar stock. Las ofertas no son acumulables con otras promociones. Fotos y descripciones referenciales. El BCP no se responsabiliza por los productos y servicios brindados por las empresas mencionadas en el Catálogo de Productos del ULTRASCHALL. Los plazos de entrega pueden variar por días festivos, condiciones del clima y/o eventos especiales ajenos al Ceyesa. En caso de solicitarse la devolución del producto habiendo sido cancelado, solo se extornará el dinero cancelado en caso exista responsabilidad directa del Programa Ceyesaen el estado del producto. En caso de haberse firmado el cargo de conformidad de entrega, no se aceptarán cambios ni devoluciones, salvo disposición legal contraria.
							li Condiciones del Servicio
								.terminos__politicas__info
									p.
										Ceyesa. Este servicio aplica únicamente para los pedidos realizados a través del Contact Center Maskotilandia al 208 0333. Tiempo de tránsito: entrega en un máximo de 4 horas contadas desde la conformidad del pedido. Costo del reparto según destino. Para mayor información ver Condiciones del servicio de Entrega en www.ultraschall.com. Horario de atención: lunes a sábado de 10.00 a.m. a 08.00 p.m. No aplica para domingos ni feriados. El servicio Luxury Express aplica sólo en Lima Metropolitana. Se considera para efectos del presente servicio, los distritos de Santiago de Surco, Barranco, Breña, Chorrillos, Jesus Maria, La Victoria, Lima, Lince, Magdalena del Mar, Miraflores, Pueblo Libre, San Borja, San Isidro, San Luis, San Miguel, Surquillo, El Agustino, Independencia, Los Olivos, Rimac, San Martin De Porres, Santa Anita, La Molina, Callao, Ate, San Juan de Miraflores, Villa El Salvador, Villa Maria del Triunfo. No forman parte del servicio de Luxury Express los distritos de: Comas, San Juan De Lurigancho, Ancón, Carabayllo, Chaclacayo, Cieneguilla, Lurigancho, Lurín, Pachacamac, Puente Piedra, Santa Rosa, Punta Hermosa, Punta Negra, San Bartolo, Chosica, Santa Maria Del Mar, Pucusana. El conteo del tiempo se inicia al momento en el que la operadora, luego de brindar al cliente la información del pedido y de tomar todos los datos necesarios, se lo indica al cliente y finaliza cuando el Asesor de Ceyesa ha llegado a la dirección indicada y Maskotilandia contacta al cliente. En caso que el cliente solicite la entrega desde estacionamientos o cocheras privadas, sótanos o vías cerradas al libre tránsito, el plazo de entrega podrá exceder de las 4 horas. El tiempo de tránsito de Maskotilandia, se suspenderá cuando la entrega se vea comprometida por casos de fuerza mayor, como manifestaciones socio-políticas, huelgas, fenómenos naturales, entre otros. De ocurrir esta circunstancia, se informará al cliente el motivo de la demora.
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})