.busqueda__resultados__container
	max-width: 530px
	width: 100%
	padding: 82px 20px 62px 20px
	box-sizing: border-box
	margin: auto
	text-align: center

.busqueda__resultados__image
	max-width: 133px
	width: 100%
	box-sizing: border-box
	margin: auto
	padding-bottom: 22px
	img
		width: 100%
		height: auto

.busqueda__resultados__title
	padding-bottom: 20px
	h3
		font-family: $t-1
		font-size: 24px
		color: $c-0
		margin-bottom: 0

.busqueda__resultados__text
	font-family: $t-0
	font-size: 15px
	color: $c-0
	padding-bottom: 45px
	p
		margin-bottom: 0
		line-height: 1.4

@media screen and (max-width: 1200px)
	.busqueda__resultados__container
		padding: 60px 20px

@media screen and (max-width: 680px)
	.busqueda__resultados__container
		padding: 45px 20px

	.busqueda__resultados__title h3
		font-size: 22px

	.busqueda__resultados__text
		font-size: 14px

@media screen and (max-width: 480px)
	.busqueda__resultados__text
		font-size: 13px

	.busqueda__resultados__title h3
		font-size: 20px

	.busqueda__resultados__image
		max-width: 110px