.cap__detalle__container
	max-width: 1110px
	width: 100%
	padding: 40px 20px 80px 20px
	box-sizing: border-box
	margin: auto

.cap__detalle__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.cap__detalle__info
	width: 54%

.cap__dettale__title
	padding-bottom: 8px
	h3
		font-family: $t-1
		font-size: 14px
		color: $c-3
		margin-bottom: 0
	strong
		font-family: $t-2
		font-size: 35px
		color: $c-1
		display: block
		padding-top: 15px

.cap__detalle__date
	font-family: $t-0
	font-size: 13px
	color: $c-0
	position: relative
	padding-left: 20px
	margin-bottom: 25px
	p
		margin-bottom: 0
	&:before
		content: '\e903'
		position: absolute
		font-family: $icomoon
		bottom: 0
		left: 0
		font-size: 15px
		color: $c-1

.cap__detalle__text
	font-family: $t-0
	font-size: 15px
	color: $c-0
	line-height: 1.4
	padding-top: 55px
	p
		margin-bottom: 0

.cap__detalle__formulario
	width: 36%
	padding-left: 10%

.cap__detalle__formulario__box
	background-color: $c-3
	padding: 45px

.cap__detalle__form__title
	padding-bottom: 32px
	h3
		font-family: $t-2
		font-size: 27px
		color: $blanco
		margin-bottom: 0

.cap__detalle__input
	margin-bottom: 30px

.cap__detalle__textarea
	margin-bottom: 15px

.cap__detalle__campos
	font-family: $t-2
	font-size: 12px
	color: $blanco
	padding-bottom: 30px
	p
		margin-bottom: 0

@media screen and (max-width: 1024px)
	.cap__dettale__title strong
		font-size: 30px
	
	.cap__detalle__formulario
		width: 40%
		padding-left: 6%

@media screen and (max-width: 860px)
	.cap__detalle__formulario
		width: 42%

	.cap__detalle__info
		width: 52%

	.cap__dettale__title strong
		font-size: 25px

	.cap__detalle__text
		font-size: 14px

	.cap__detalle__formulario__box
		padding: 45px 30px

@media screen and (max-width: 720px)
	.cap__detalle__formulario
		width: 100%
		padding-left: 0

	.cap__detalle__info
		width: 100%
		padding-bottom: 50px

	.cap__detalle__text
		padding-top: 45px

@media screen and (max-width: 480px)
	.cap__detalle__info
		padding-bottom: 35px

	.cap__detalle__text
		padding-top: 35px

	.cap__detalle__text
		font-size: 13px

	.cap__detalle__container
		padding: 35px 15px 40px 15px

	.cap__dettale__title strong
		font-size: 22px