.cap__container
	max-width: 1240px
	width: 100%
	padding: 45px 20px 65px 20px
	box-sizing: border-box
	margin: auto

.cap__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	margin-bottom: 50px

.cap__box__mes__text,
.cap__box__categorias__text
	font-family: $t-1
	font-size: 13px
	color: $c-1
	text-transform: uppercase
	padding-bottom: 20px
	p
		margin-bottom: 0

.cap__box__mes
	width: 22%

.cap__box__categorias
	width: 75%
	padding-left: 3%

.cap__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.cap__content__item
	width: 23.4%
	margin-right: 1.6%
	margin-bottom: 2%

.cap__content__item.mix
	display: none

.item-tecnica
	.item__general__title--cap
		color: $c-3

.item-comercial
	.item__general__title--cap
		color: $c-2

.item-legal
	.item__general__title--cap
		color: $c-5

.cap__paginador
	margin-top: 55px

.item--caducado
	img
		filter: grayscale(100%)
		-webkit-filter: grayscale(100%)

@media screen and (max-width: 1024px)
	.cap__content__item
		width: 23%
		margin-right: 1%
		margin-left: 1%
		.item__general__box
			padding: 20px 15px
		.item__general__text--cap
			font-size: 15px
			margin-bottom: 25px
	.cap__content
		justify-content: center

@media screen and (max-width: 850px)
	.cap__content__item
		width: 43%
		margin-right: 3%
		margin-left: 3%	
		margin-bottom: 6%

@media screen and (max-width: 600px)
	.cap__content__item
		width: 48%
		margin-right: 1%
		margin-left: 1%	
		margin-bottom: 2%
		.item__general__text--cap
			font-size: 14px
		.item__general__date p
			font-size: 12px

	.cap__box__mes
		width: 100%

	.cap__box__categorias
		width: 100%
		padding-left: 0
		padding-top: 20px

	.cap__box__mes__input
		width: 266px

	.cap__container
		padding: 40px 15px

	.cap__paginador
		margin-top: 40px

	.cap__paginador
		margin-top: 20px

@media screen and (max-width: 430px)
	.cap__content__item
		width: 100%
		margin-right: 6%
		margin-left: 6%	
		margin-bottom: 12%

@media screen and (max-width: 360px)
	.cap__content__item
		width: 100%
		margin-right: 0
		margin-left: 0	
		margin-bottom: 8%