.ctn__car
	width: 100%
	box-sizing: border-box
	padding: 70px 0 103px 0
	&.two-car
		.ctn__car__products
			width: 100%
.ctn__car__wrapper
	padding: 0 20px
	box-sizing: border-box
	max-width: 1240px
	margin: 0 auto
.ctn__car__title
	margin-bottom: 45px
	h3
		line-height: 20.4px
		color: $c-1
		font-family: $t-1
		font-size: 17px
		margin: 0
.ctn__car__content
	display: flex
	justify-content: space-between
	width: 100%
	flex-wrap: wrap
	align-items: flex-start
.ctn__car__products
	width: calc(100% - 423px)
.ctn__car__resumen
	width: 386px
	border: 1px solid $c-7
	padding: 50px 25px 35px 25px
	box-sizing: border-box
.ctn__car__resumen__ctn
	height: 100%
	display: flex
	flex-direction: column
.ctn__car__resumen__title
	text-align: center
	width: 100%
	margin-bottom: 48px
	h3
		line-height: 20.4px
		color: $c-1
		font-family: $t-1
		font-size: 17px
		margin: 0
.ctn__car__resumen__units
	line-height: 22px
	color: $c-0
	font-family: $t-0
	font-size: 15px
.ctn__car__scroll__prin
	width: 100%
	overflow: auto
	margin-bottom: 45px
.ctn__car__resumen__item
	display: flex
	justify-content: space-between
.ctn__car__resumen__title__item
	line-height: 16.8px
	color: $c-0
	font-family: $t-2
	font-size: 14px
.ctn__car__total__ctn
	display: flex
	flex-wrap: wrap
	align-content: space-between
	width: 100%
.ctn__car__total
	width: 100%
	display: flex
	justify-content: space-between
.ctn__car__btn
	width: 100%
	text-align: center
	a
		display: block

@media screen and (max-width: 1024px)
	.ctn__car
		padding: 50px 0

@media screen and (max-width: 960px)
	.ctn__car__products
		width: 100%
	.ctn__car__resumen
		width: 100%
		max-width: 386px
		margin: 50px auto 0 auto
	.ctn__car__resumen__title
		height: auto
	.ctn__car__total__ctn
		height: auto
	.ctn__car__scroll__prin
		height: auto
		margin: 30px 0
@media screen and (max-width: 767px)
	.ctn__car
		padding: 30px 0
	.ctn__car__wrapper
		padding: 0 15px
	.item__car
		padding: 15px 0