.mapcontacto
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 500px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%

.contacto__container
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.contacto__info
	width: 50%
	background-color: $c-3

.contacto__info__container
	max-width: 370px
	width: 100%
	padding: 70px 20px 45px 20px
	box-sizing: border-box
	margin: auto
	margin-right: 20%

.contacto__info__box
	padding-bottom: 50px
	&:last-child
		padding-bottom: 0

.contacto__info__title
	padding-bottom: 20px
	h3
		font-family: $t-1
		font-size: 30px
		color: $blanco
		margin-bottom: 0

.contacto__info__text
	line-height: 23px
	font-family: $t-0
	font-size: 20px
	color: $blanco
	padding-bottom: 25px
	p
		margin-bottom: 0

.contacto__info__link
	font-family: $t-0
	font-size: 18px
	color: $blanco
	p, li
		margin-bottom: 0
		padding-bottom: 15px
	a
		color: $blanco
		text-decoration: none
		padding-top: 9px

.contacto__content
	width: 50%

.contacto__formulario__container
	max-width: 360px
	width: 100%
	padding: 20px 20px
	box-sizing: border-box
	margin: auto
	margin-left: 20%

.contacto__input
	padding: 20px 0px

.contacto__campos__obligatorios
	font-family: $t-2
	font-size: 12px
	color: $c-0
	margin-bottom: 28px
	p
		margin-bottom: 0
	strong
		color: $c-3

.contacto__whatsapp
	position: relative
	display: block
	padding-left: 30px
	&:before
		content: '\e933'
		position: absolute
		font-family: $icomoon
		font-size: 20px
		color: $blanco
		bottom: 0
		left: 0


@media screen and (max-width: 1200px)
	.contacto__info__container
		margin-right: auto

	.contacto__formulario__container
		margin-left: auto

@media screen and (max-width: 1024px)
	.mapcontacto
		.cnt-map
			.box-map
				height: 400px

@media screen and (max-width: 990px)
	.contacto__info__title 
		h3
			font-size: 24px

	.contacto__info__text
		font-size: 16px

	.contacto__info__link
		font-size: 15px

	.contacto__info__box
		padding-bottom: 40px

@media screen and (max-width: 750px)
	.contacto__info
		width: 100%

	.contacto__content
		width: 100%

	.contacto__info__container
		max-width: 500px
		padding: 35px 15px

	.contacto__info__box
		padding-bottom: 15px

	.contacto__info__title
		padding-bottom: 20px
		h3
			font-size: 20px	

	.contacto__info__text
		padding-bottom: 15px
		font-size: 15px

	.contacto__info__link
		font-size: 15px

	.contacto__whatsapp:before
		font-size: 18px

	.contacto__formulario__container
		max-width: 500px
		padding: 40px 15px
	
	.contacto__btn
		text-align: center

	.mapcontacto .cnt-map .box-map
		height: 350px

@media screen and (max-width: 480px)
	.mapcontacto .cnt-map .box-map
		height: 300px