.header_footer_hidden
	header, footer
		display: none !important

.cotizacion
	.ctn__perfil
		box-sizing: border-box
		padding: 92px 20px 110px 20px
	.ctn__perfil__prin
		max-width: 1028px
		padding: 0
	.ctn__perfil__datos
		padding: 0
		margin-top: 0
	.ctn__perfil__datos__item
		padding-top: 0
	.ctn__perfil__datos__title
		margin-bottom: 40px
		h2
			line-height: 28.8px
			font-family: $t-1
			font-size: 24px
			border-bottom: 1px solid $c-7
			padding-bottom: 25px
	.ctn__perfil__datos .ctn__check__bloq
		margin-top: 0

.cotizacion_subtitle
	margin-bottom: 35px
	h3
		line-height: 22.8px
		color: $c-0
		font-family: $t-0
		font-size: 19px
		margin-bottom: 0

.cotizacion_campos
	.ctn__check__item
		width: 31.13%
		margin-top: 35px
		margin-right: 3.3%
		margin-bottom: 0
		&:nth-child(3n+3)
			margin-right: 0
		&:nth-child(-n+3)
			margin-top: 0

.cotizacion_textarea
	.ctn__check__item
		width: 100%
		margin-top: 35px
		margin-right: 0
		margin-bottom: 0

.cotizacion_text_campos
	line-height: 1
	color: $c-0
	font-family: $t-0
	font-size: 14px
	margin-top: 20px
	p
		margin-bottom: 0

@media screen and (max-width: 767px)
	.cotizacion_campos
		.ctn__check__item
			width: 100%
			margin-top: 35px
			margin-right: 0
			&:nth-child(-n+3)
				margin-top: 35px
			&:nth-child(-n+1)
				margin-top: 0


@media screen and (max-width: 680px)
	.cotizacion_textarea
		.general__input .general__input__input
			height: 90px
			line-height: 1.1

	// +++ header cotizacion +++
.cotizacion
	.ctn__checkout__header
		height: 65px
		width: 100%

	.ctn__checkout__fixed
		height: 70px
		width: 100%
		position: fixed
		top: 0
		left: 0
		box-shadow: 0 5px 20px -2px rgba(189, 195, 198, 0.3)
		background: $blanco
		z-index: 3
		display: flex
		padding: 0 40px
		box-sizing: border-box
		align-items: center 
		justify-content: space-between

	.ctn__checkout__logo 
		max-width: 142px
		width: 100%
		margin: 0
		a
			display: block
		img
			display: block
			max-width: 100%
			height: auto

	.ctn__checkout__title
		h2
			line-height: 1
			color: $c-4
			font-family: $t-1
			font-weight: normal
			font-size: 20px
			margin-bottom: 0

	.ctn__checkout__back
		a
			display: block
			line-height: 1
			color: $c-0
			font-family: $t-0
			font-size: 13px
			color: #000
			&:hover
				text-decoration: none

	@media screen and (max-width: 1024px)
		.ctn__checkout__fixed
			padding: 0 20px

		.ctn__perfil
			padding: 50px 20px

	@media screen and (max-width: 767px)
		.ctn__checkout__title
			display: none

		.ctn__perfil
			padding: 40px 15px

	@media screen and (max-width: 640px)
		.ctn__checkout__fixed
			padding: 0 15px
			height: 55px

	@media screen and (max-width: 480px)
		.ctn__checkout__back
			a
				font-size: 11px

		.ctn__checkout__logo
			max-width: 160px
	// <<< end >>>

	// +++ footer cotizacion +++
.cotizacion
	.ctn__check__footer
		position: fixed
		background: $c-16
		left: 0
		bottom: 0
		width: 100%
		height: auto
		color: $blanco
		z-index: 3
		box-sizing: border-box
		padding: 0 20px
		&.active
			.ctn__check__btn
				background: $c-3

	.ctn__check__footer__sub
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		max-width: 1080px
		width: 100%
		position: relative
		box-sizing: border-box
		padding: 0
		margin: auto

	.ctn__check__footer__orden
		display: flex
		justify-content: space-between
		align-items: center

	.ctn__check__footer__item
		position: relative
		h5
			color: $blanco
			line-height: 1
			font-family: $t-0
			font-weight: normal
			font-size: 21px
			padding-top: 7px
			margin: 0
		p
			margin: 0
		&.orden
			h4
				display: inline-block
				line-height: 1
				font-family: $t-1
				font-weight: normal
				font-size: 19px
				position: relative
				padding-left: 45px
				margin: 0
				&:before
					content: "\e91f"
					display: block
					width: 30px
					height: 30px
					line-height: 30px
					font-family: icomoon
					font-size: 30px
					text-align: center
					position: absolute
					top: -5px
					left: 0

	.ctn__check__footer__item-1
		display: flex
		flex-direction: column
		justify-content: center
		width: 190px
		height: 100%
		border-right: 1px solid $c-18
		box-sizing: border-box

	.ctn__check__footer__item-2
		padding-left: 60px

	.ctn__check__footer__end 
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center

	.ctn__check__btn
		display: flex
		align-items: center
		height: 90px
		line-height: 1
		background: $c-2
		color: $blanco
		font-family: $t-1
		font-size: 19px
		text-transform: uppercase
		box-sizing: border-box
		padding: 10px 70px
		margin: 0
		&:hover
			text-decoration: none

	@media screen and (max-width: 1024px)
		.ctn__check__footer
			position: inherit

	@media screen and (max-width: 767px)
		.ctn__check__footer
			padding: 0

		.ctn__check__footer__orden
			height: 40px

		.ctn__check__footer__item-1
			width: 185px
			box-sizing: border-box
			padding-left: 15px

		.ctn__check__footer__item-2
			padding-left: 0
			padding-right: 15px

		.ctn__check__footer__item.orden
			h4
				font-size: 16px
				padding-left: 35px
				&:before
					font-size: 20px
					top: -7px

		.ctn__check__footer__item
			h5
				font-size: 16px
				padding-top: 0

		.ctn__check__footer__sub
			flex-direction: column

		.ctn__check__btn
			justify-content: center
			width: 100%
			height: 50px
			font-size: 16px
			padding: 0
	// <<< end >>>

