.enviado__container
	max-width: 450px
	width: 100%
	padding: 82px 20px 62px 20px
	box-sizing: border-box
	margin: auto
	text-align: center

.enviado__image
	max-width: 61px
	width: 100%
	box-sizing: border-box
	margin: auto
	padding-bottom: 22px
	img
		width: 100%
		height: auto

.enviado__title
	padding-bottom: 22px
	h3
		font-family: $t-1
		font-size: 30px
		color: $c-3
		margin-bottom: 0

.enviado__text
	font-family: $t-0
	font-size: 15px
	color: $c-0
	padding-bottom: 45px
	p
		margin-bottom: 0
		line-height: 1.3

@media screen and (max-width: 1200px)
	.enviado__container
		padding: 60px 20px

@media screen and (max-width: 680px)
	.enviado__container
		padding: 45px 20px

@media screen and (max-width: 480px)
	.enviado__text
		font-size: 14px

	.enviado__title
		h3
			font-size: 28px