.estado_cotizacion
	padding: 75px 20px 95px 20px

.ec_content
	max-width: 790px
	width: 100%
	margin: auto

.ec_block_head
	margin-bottom: 25px

.ec_title
	margin-bottom: 55px
	h2
		line-height: 30px
		color: $c-4
		font-family: $t-1
		font-weight: normal
		font-size: 25px
		text-align: center
		margin-bottom: 0

.ec_subtitle
	border: 1px solid $c-7
	padding: 21px 45px 17px 45px
	h3
		line-height: 20.4px
		color: $c-4
		font-family: $t-1
		font-size: 17px
		margin-bottom: 0

.ec_boxes
	border-right: 1px solid $c-7
	border-left: 1px solid $c-7
	border-bottom: 1px solid $c-7
	padding: 30px 45px 50px 45px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		max-width: 460px
		width: 100%
		margin: 0
	li
		line-height: 1
		color: $c-0
		font-family: $t-0
		font-size: 14px
		position: relative
		padding-left: 20px
		margin: 0
		&:before
			content: ""
			width: 9px
			height: 9px
			background: $c-0
			border-radius: 50%
			position: absolute
			top: 1px
			left: 0
	li.active
		color: $c-3
		&:before
			background: $c-3

.ec_item
	display: flex
	flex-direction: row
	flex-wrap: wrap
	border-right: 1px solid $c-7
	border-bottom: 1px solid $c-7
	border-left: 1px solid $c-7
	padding: 28px 45px 28px 45px

.ec_texts
	width: calc(100% - 154px)
	box-sizing: border-box
	padding-left: 35px
	padding-right: 35px

.ec_img
	max-width: 114px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.ec_text_1,
.ec_text_2
	max-width: 280px
	width: 100%
	margin: 0

.ec_text_1
	margin-bottom: 5px
	h3
		line-height: 14.4px
		color: $c-0
		font-family: $t-0
		font-size: 12px
		margin-bottom: 0

.ec_text_2
	line-height: 18px
	color: $c-1
	font-family: $t-1
	font-size: 15px
	p
		margin-bottom: 0

.ec_text_right
	display: block
	width: 40px
	line-height: 1
	color: $c-0
	font-family: $t-1
	font-size: 16px
	text-align: right
	margin: 0

@media screen and (max-width: 1024px)
	.estado_cotizacion
		padding: 50px 20px

@media screen and (max-width: 767px)
	.estado_cotizacion
		padding: 40px 15px

@media screen and (max-width: 480px)
	.ec_subtitle
		padding-left: 15px
		padding-right: 15px

	.ec_boxes
		padding-left: 15px
		padding-right: 15px

	.ec_item
		padding-left: 15px
		padding-right: 15px

	.ec_img
		width: 70px

	.ec_texts
		width: calc(100% - 100px)
		padding-left: 15px
		padding-right: 15px

	.ec_text_right
		width: 30px