.gracias__container
	max-width: 450px
	width: 100%
	padding: 82px 20px 62px 20px
	box-sizing: border-box
	margin: auto
	text-align: center

.gracias__image
	max-width: 164px
	width: 100%
	box-sizing: border-box
	margin: auto
	padding-bottom: 22px
	img
		width: 100%
		height: auto

.gracias__text
	font-family: $t-0
	font-size: 15px
	color: $c-0
	padding-bottom: 45px
	p
		margin-bottom: 0
		line-height: 1.6

@media screen and (max-width: 1200px)
	.gracias__container
		padding: 60px 20px

@media screen and (max-width: 680px)
	.gracias__container
		padding: 45px 20px

@media screen and (max-width: 480px)
	.gracias__text
		font-size: 14px

	.gracias__title
		h3
			font-size: 28px

	.gracias__image
		max-width: 140px