.home-b3
	overflow: hidden
	padding: 65px 20px 48px 20px

.home-b3_content
	max-width: 1290px
	width: 100%
	overflow: hidden
	margin: auto

.home-b3_title
	text-align: center
	margin-bottom: 25px

// +++ slider +++
.home-b3_slider
	padding: 0 65px 0 65px
	margin-bottom: 45px
	.slick-prev, .slick-next
		width: 50px
		height: 50px
		background: $blanco
		border-radius: 50%
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1)
		transition: all .25s ease-in-out
		z-index: 2
		&:before
			content: ""
			display: block
			width: 100%
			height: 100%
			line-height: 50px
			color: $c-1
			font-family: $icomoon
			font-size: 40px
			opacity: 1
			transition: all .25s ease-in-out
			position: absolute
			top: 0
			left: 0
		@media screen and (min-width: 1025px)
			&:hover
				background: $c-2
				&:before
					color: $blanco

	.slick-prev
		left: -65px
		&:before
			content: "\e913"

	.slick-next
		right: -65px
		&:before
			content: "\e914"

.home-b3_slider_item
	box-sizing: border-box
	padding: 10px

.home-b3_slider_container
	width: 100%
// <<< end >>>

.home-b3_block
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	max-width: 1058px
	width: 100%
	margin: 0 auto
	@media screen and (min-width: 1025px)
		&.active
			.home-b3_left_img, .home-b3_right_image
				transform: translateY(0)
				opacity: 1
				visibility: visible

// +++ block left +++
.home-b3_left
	width: 48.87%
	height: 190px
	background: $c-10
	border-radius: 0 25px 0 0
	position: relative
	margin: 0

.home-b3_left_img
	width: 173px
	position: absolute
	bottom: 0
	left: 0
	margin: 0
	img
		display: block
		width: 100%
		height: auto
	@media screen and (min-width: 1025px)
		transform: translateY(50px)
		opacity: 0
		visibility: hidden
		transition: transform .4s ease-in-out

.home-b3_left_info
	display: flex
	flex-direction: column
	justify-content: center
	width: calc(100% - 173px)
	height: 100%
	overflow: hidden
	position: relative
	box-sizing: border-box
	padding: 0 40px 0 15px
	margin: 0 0 0 auto
	&:after
		content: ""
		display: block
		width: 280px
		height: 190px
		background: $blanco
		border-radius: 45% 0 0 45%
		opacity: .07
		position: absolute
		top: 0
		left: 75px

.home-b3_left_texts
	display: flex
	flex-direction: row
	flex-wrap: wrap

.home-b3_left_text1
	width: 70px
	h3
		line-height: 22px
		color: $blanco
		font-family: $t-1
		font-size: 20px
		margin-bottom: 0

.home-b3_left_text2
	width: calc(100% - 70px)
	line-height: 17.2px
	color: $blanco
	font-family: $t-1
	font-size: 14px
	box-sizing: border-box
	padding: 0 0 0 15px
	p
		margin-bottom: 0

.home-b3_left_list
	ul, li
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center	
		margin: 0
	li
		margin-top: 25px
		margin-right: 16%
		&:last-child
			margin-right: 0

.home-b3_left_textfoot
	display: block
	line-height: 1
	color: $blanco
	font-family: $t-1
	font-size: 16px
	margin: 0

.home-b3_left_icon
	display: block
	width: 12px
	height: 12px
	font-size: 12px
	color: $c-11
	margin: 0 5px 0 0
// <<< end >>>

// +++ block right +++
.home-b3_right
	width: 48.87%
	height: 190px
	background: $c-16
	border-radius: 25px 0 0 0
	position: relative
	box-sizing: border-box
	padding: 25px 0 0 45px
	margin: 0
	&:before
		content: ""
		display: block
		width: 152px
		height: 120px
		background: url('../img/home-b3-img-circles.png') 0 0 no-repeat
		position: absolute
		top: 54%
		right: 48px
		transform: translateY(-50%)

.home-b3_right_info
	width: calc(100% - 220px)

.home-b3_right_logo
	width: 90px
	margin: 0 0 15px 0
	img
		display: block
		width: 100%
		height: auto

.home-b3_right_text
	line-height: 22px
	color: $blanco
	font-family: $t-2
	font-size: 19px
	p
		margin-bottom: 0
	strong
		display: block
		font-family: $t-1
		font-weight: normal

.home-b3_right_image
	width: 160px
	position: absolute
	right: 0
	bottom: 0
	img
		display: block
		width: 100%
		height: auto
	@media screen and (min-width: 1025px)
		transform: translateY(50px)
		opacity: 0
		visibility: hidden
		transition: transform .4s ease-in-out
// <<< end >>>

// +++ responsive +++
@media screen and (max-width: 1024px)
	.home-b3
		padding: 50px 20px

	// block left
	.home-b3_left_info
		padding-right: 15px

	.home-b3_left_list
		li
			margin-top: 15px
			margin-right: 12%

	// block right
	.home-b3_right
		padding-left: 25px

@media screen and (max-width: 960px)
	.home-b3_block
		flex-direction: column

	// block left
	.home-b3_left
		max-width: 517px
		width: 100%
		margin: 0 auto 40px auto

	// block right
	.home-b3_right
		max-width: 517px
		width: 100%
		margin: 0 auto 0 auto

	.home-b3_left_info
		padding-right: 25px
	
@media screen and (max-width: 767px)
	.home-b3
		padding: 40px 15px

	.home-b3_slider
		padding: 0
		.slick-prev, .slick-next
			display: none !important

	// block left
	.home-b3_left
		height: auto
		min-height: 190px

	.home-b3_left_img
		width: 34%

	.home-b3_left_info
		width: 66%
		min-height: 190px
		padding: 15px
		&:after
			display: none

	.home-b3_left_texts
		flex-direction: column

	.home-b3_left_text1
		width: 100%
		margin-bottom: 10px

	.home-b3_left_text2
		width: 100%
		padding-left: 0

	// block right
	.home-b3_right
		height: auto
		min-height: 190px

	.home-b3_right
		padding: 0

	.home-b3_right_info
		display: flex
		flex-direction: column
		justify-content: center
		width: 69%
		min-height: 190px
		padding: 15px
		box-sizing: border-box

	.home-b3_right_image
		width: 31%

@media screen and (max-width: 480px)
	.home-b3_slider
		.slick-list
			padding-right: 120px
		.item__general__content
			padding-left: 5px
			padding-right: 5px

	.home-b3_slider_item
		padding: 10px 5px

	// block left
	.home-b3_left_img
		width: 42%

	.home-b3_left_info
		width: 58%
		padding: 10px

	// block right
	.home-b3_right
		&:before
			display: none

	.home-b3_right_image
		width: 42%

	.home-b3_right_info
		width: 58%

	.home-b3_right_text
		font-size: 16px