.ctn__carrousel__home
	height: 180px
	width: 100%
	margin: 0
	background: $c-6
	display: flex
	flex-wrap: wrap
.ctn__carrousel__home__title
	text-align: right
	padding: 0 35px
	background: $c-4
	box-sizing: border-box
	display: flex
	align-items: center
	width: 30%
	border-radius: 0 90px 90px 0
	h4
		font-family: $t-1
		font-size: 35px
		color: $blanco
		text-align: right
		width: 100%
		margin: 0
.ctn__carrousel__home__wrapper
	width: 70%
	padding: 0 30px
	box-sizing: border-box
	display: flex
	align-items: center
.ctn__carrousel__home__wrapper__carrousel
	width: 100%
	max-width: 995px
	.slick-slide
		margin-right: 15px
@media screen and (max-width: 960px)
	.ctn__carrousel__home__title
		h4
			font-size: 28px
	.ctn__carrousel__home
		height: 130px
@media screen and (max-width: 767px)
	.ctn__carrousel__home
		height: auto
		padding: 30px 15px
		box-sizing: border-box
	.ctn__carrousel__home__title
		width: 100%
		background: none
		h4
			color: $c-2
			background: none
			text-align: center
			br
				display: none
	.ctn__carrousel__home__wrapper
		padding: 0
		width: 100%
		margin: 30px 0 0 0
	.ctn__carrousel__home__wrapper__carrousel
		.slick-slide
			margin-right: 10px

@media screen and (max-width: 480px)
	.ctn__carrousel__home__title
		h4
			font-size: 22px
