// +++ elementos +++
.home-b6_img
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	@media screen and (min-width: 1025px)
		transform: scale(1)
		transition: all 2s 0s cubic-bezier(.19,1,.22,1)

.home-b6_info
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 100%
	position: absolute
	top: 0
	z-index: 3
	box-sizing: border-box
	padding: 0 20px 0 20px

.home-b6_title
	margin-bottom: 16px
	h2
		line-height: 32px
		letter-spacing: -0.6px
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 30px
		margin-bottom: 0

.home-b6_text
	height: 63px
	line-height: 21.35px
	color: $blanco
	font-family: $t-2
	font-size: 14px
	opacity: .8
	p
		margin-bottom: 0

.home-b6_link
	margin-top: 37px
// <<< end >>>

.home-b6_content
	display: flex
	flex-direction: row
	flex-wrap: wrap

.home-b6_content_left,
.home-b6_content_right
	width: 50%
	height: 350px
	overflow: hidden
	position: relative
	margin: 0
	@media screen and (min-width: 1025px)
		&:hover
			.home-b6_img
				transform: scale(1.15)

// +++ block left +++
.home-b6_content_left
	&:before
		content: ""
		width: 100%
		height: 100%
		background: $negro
		opacity: .6
		position: absolute
		top: 0
		left: 0
		z-index: 2

	.home-b6_info
		max-width: 670px
		width: 100%
		right: 0
		margin: 0 0 0 auto

	.home-b6_wrap
		max-width: 260px
		width: 100%
		margin-left: 0
		margin-right: auto
// <<< end >>>

// +++ block right +++
.home-b6_content_right
	.home-b6_info
		max-width: 360px
		width: 100%
		margin: 0 0 0 auto
		left: 0

	.home-b6_wrap
		max-width: 240px
		margin: 0 0 0 auto
// <<< end >>>

// RESPONSIVE
@media screen and (max-width: 1460px)
	// +++ block left +++
	.home-b6_content_left
		.home-b6_info
			max-width: none
			padding-left: 50px
	// <<< end >>>

	// +++ block right +++
	.home-b6_content_right
		.home-b6_info
			max-width: none
			padding-left: 50px
		.home-b6_wrap
			margin: 0
	// <<< end >>>

@media screen and (max-width: 1024px)
	.home-b6_title
		h2
			line-height: 28px
			font-size: 26px

@media screen and (max-width: 960px)
	.home-b6_text
		height: auto

	.home-b6_content
		flex-direction: column

	.home-b6_content_left,
	.home-b6_content_right
		width: 100%

	// +++ block left +++
	.home-b6_content_left
		.home-b6_info
			padding-left: 20px
		.home-b6_wrap
			max-width: 400px
			margin: 0
	// <<< end >>>

	// +++ block right +++
	// .home-b6_content_right
	// 	&:before
	// 		content: ""
	// 		width: 100%
	// 		height: 100%
	// 		background: $negro
	// 		opacity: .5
	// 		position: absolute
	// 		top: 0
	// 		left: 0
	// 		z-index: 2

	.home-b6_content_right
		.home-b6_info
			padding-left: 20px
		.home-b6_wrap
			max-width: 400px
			margin: 0
	// <<< end >>>