.home-b4_head
	background: $c-6
	text-align: center
	padding: 50px 0 60px 0

.home-b4_head_wrap
	max-width: 550px
	width: 100%
	margin: auto

.home-b4_head_title
	margin-bottom: 12px
	h2
		line-height: 40px
		color: $c-2
		font-family: $t-1
		font-size: 35px
		margin-bottom: 0

.home-b4_head_text
	line-height: 21.35px
	color: $c-0
	font-family: $t-2
	font-size: 15px
	p
		margin-bottom: 0

.home-b4_items
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap

.home-b4_item
	width: 20%
	border-top: 1px solid $c-8
	border-right: 1px solid $c-8
	box-sizing: border-box
	margin: 0
	&:nth-child(5n+5)
		border-right: none
	&:nth-child(-n+5)
		border-top: none
	@media screen and (min-width: 1025px)
		&:hover
			.home-b4_img
				max-width: 36px
			.home-b4_subtitle
				h3:before
					width: 23px


.home-b4_box
	display: block
	&:focus
		outline: none

.home-b4_info
	display: flex
	flex-direction: column
	width: 100%
	height: 238px
	box-sizing: border-box
	padding: 40px 20px 0 20px

.home-b4_wrap
	max-width: 226px
	width: 100%
	margin: 0 auto

.home-b4_img
	max-width: 46px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto
	@media screen and (min-width: 1025px)
		transition: all 0.3s cubic-bezier(0.33, 1.39, 0.58, 1.39)

.home-b4_subtitle
	margin-top: 15px
	h3
		line-height: 32px
		letter-spacing: -0.46px
		color: $c-3
		font-family: $t-1
		font-size: 23px
		position: relative
		padding-bottom: 10px
		margin-bottom: 0
		&:before
			content: ""
			display: block
			width: 24px
			height: 1px
			background: $c-3
			position: absolute
			left: 0
			bottom: 0
	@media screen and (min-width: 1025px)
		h3:before
			width: 0
			transition: all 0.3s cubic-bezier(0, 0.33, 0.36, 0.18)

.home-b4_item_comodin
	background: $c-3
	.home-b4_info
		text-align: center
	.home-b4_img
		margin-right: auto
		margin-bottom: 5px
		margin-left: auto
	.home-b4_subtitle
		margin-top: 5px
		h3
			line-height: 24px
			color: $blanco
			font-family: $t-2
			font-size: 20px
			&:before
				background: $blanco
				right: 0
				margin: auto
	@media screen and (min-width: 1025px)
		&:hover
			.home-b4_img
				max-width: 39px

// responsive
@media screen and (max-width: 1024px)
	.home-b4_head_title
		h2
			line-height: 35px
			font-size: 30px

	.home-b4_info
		padding: 30px 20px 0 20px

	.home-b4_subtitle
		h3
			line-height: 27px
			font-size: 18px

	.home-b4_item_comodin
		.home-b4_subtitle
			h3
				line-height: 27px
				font-size: 18px

@media screen and (max-width: 960px)
	.home-b4_item
		width: 50%
		&:nth-child(-n+5)
			border-top: 1px solid $c-8
		&:nth-child(-n+2)
			border-top: none
		&:nth-child(odd)
			border-right: 1px solid $c-8
		&:nth-child(even)
			border-right: none

	.home-b4_info
		height: 210px

@media screen and (max-width: 767px)
	.home-b4_head_title
		h2
			line-height: 31px
			font-size: 26px

	.home-b4_subtitle
		h3
			line-height: 27px
			font-size: 18px

@media screen and (max-width: 480px)
	.home-b4_info
		padding: 30px 15px 0 15px

	.home-b4_img
		max-width: 30px

	.home-b4_subtitle
		h3
			line-height: 25px
			font-size: 16px

	.home-b4_item_comodin
		.home-b4_subtitle
			h3
				line-height: 25px
				font-size: 16px