.ctn__home__banner
	width: 100%
	height: 500px
	position: relative
	.bx-wrapper .bx-pager
		bottom: 105px
		height: 30px
		width: 19%
		right: 25%
		text-align: left
		padding: 0 0 0 130px
		box-sizing: border-box
		z-index: 90
		a
			width: 22px
			height: 22px
			border-radius: 50%
			margin: 0 12px 0 0
			background: none
			position: relative
			display: inline-block
			&:before
				content: ""
				width: 8px
				height: 8px
				background: $blanco
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: auto
				border-radius: 50%
				opacity: .5
			&.active
				background: none
				border: 1px solid $blanco
				&:before
					opacity: 1

.ctn__home__banner__item__wrapper__prin
	position: relative
	z-index: 2		
	width: 100%
	height: 100%
.ctn__home__banner__item
	width: 100%
	height: 500px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $negro
		opacity: .4
	&:after
		width: 100%
		height: 100%
		opacity: 0
		background: $negro 
	&.active
		.ctn__home__banner__item__wrapper h3
			opacity: 1
			transform: translateY(0)
			filter: blur(0)
.ctn__home__banner__item__wrapper
	width: 100%
	max-width: 900px
	margin: 0 auto
	padding: 120px 20px 0 20px
	box-sizing: border-box
	z-index: 2
	h3
		font-weight: normal
		margin: 0
		font-size: 45px
		color: $blanco
		font-family: $t-3
		position: relative
		padding: 40px 0 0 55px
		box-sizing: border-box
		opacity: 0
		transform: translateY(50%)
		transition: all 1s ease-in-out
		line-height: 1.1
		filter: blur(12px)
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			background: url('../img/banner-home-icon.png') no-repeat
			background-size: cover
			width: 72px
			height: 71px
.ctn__home__banner__bloq__bottom__pager__number
	width: 19%
	height: 70px
	display: flex
	align-items: center
	padding: 0 30px
	box-sizing: border-box
	position: absolute
	right: 25%
	background: $c-3
	bottom: 90px
	border-radius: 35px 0 0 35px 
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		height: 100%
		width: 2px
		background: $blanco
	.ctn__home__banner__bloq__bottom__pager
		display: block
.ctn__home__banner__bloq__bottom__number
	font-family: $t-3
	color: $blanco
	font-size: 45px
.ctn__home__banner__bloq__bottom__more
	height: 70px
	position: absolute
	bottom: 90px
	right: 0
	width: 25%
	display: flex
	align-items: center
	padding: 0 30px 0 45px
	box-sizing: border-box
	background: $c-3
	border-radius: 0
	a
		display: block
		margin: 0
		color: $blanco
		font-size: 14px
		font-family: $t-1
		text-transform: uppercase
@media screen and (min-width: 1025px)
	.ctn__home__banner
		.bx-wrapper .bx-pager
			a
				&:hover
					background: none
					border: 0
				&.active:hover
					border: 1px solid $blanco
@media screen and (max-width: 1500px)
	.ctn__home__banner
		height: 400px
	.ctn__home__banner__item
		height: 400px
	.ctn__home__banner__item__wrapper 
		padding-top: 60px
		h3
			padding-top: 30px
			font-size: 35px
	.ctn__home__banner .bx-wrapper .bx-pager
		bottom: 90px
	.ctn__home__banner__bloq__bottom__pager__number, .ctn__home__banner__bloq__bottom__more
		bottom: 70px
@media screen and (max-width: 1300px)
	.ctn__home__banner__bloq__bottom__pager__number
		width: 25%
	.ctn__home__banner .bx-wrapper .bx-pager
		padding-left: 40px
	.ctn__home__banner__bloq__bottom__number
		font-size: 37px
@media screen and (max-width: 1024px)
	.ctn__home__banner__item__wrapper
		padding-top: 90px
@media screen and (max-width: 960px)
	.ctn__home__banner__bloq__bottom__pager__number
		padding: 0 15px
	.ctn__home__banner__bloq__bottom__more
		padding: 0 15px
@media screen and (max-width: 767px)
	.ctn__home__banner__item__wrapper__prin
		height: auto
	.ctn__home__banner__item
		display: flex
		align-items: center
	.ctn__home__banner
		height: 330px
	.ctn__home__banner__item
		height: 330px
		display: flex !important
	.ctn__home__banner__item__wrapper
		padding-top: 30px
		h3
			font-size: 20px
			padding-left: 30px
			padding-top: 17px
			&:before
				width: 45px
				height: 45px
	.ctn__home__banner__bloq__bottom__pager__number
		display: none
	.ctn__home__banner__bloq__bottom__number
		font-size: 20px
	.ctn__home__banner__bloq__bottom__more
		position: inherit
		width: 100%
		border-radius: 0
		height: auto
		right: inherit
		left: inherit
		text-align: center
		margin: 30px auto 0 auto
		display: block
		bottom: inherit
		align-items: inherit
		background: none
		a
			margin: 0
			display: inline-block
			background: $c-3
			padding: 15px 20px
			box-sizing: border-box
			font-size: 12px
	.ctn__home__banner .bx-wrapper .bx-pager
		padding: 0 15px
		bottom: 10px
		right: inherit
		width: 100%
		height: auto
		text-align: center
		.bx-pager-item
			width: 10px
			height: 10px
			overflow: hidden
			margin: 0 10px 0 0
			&:last-child
				margin: 0
			a
				width: 10px
				height: 10px
				margin: 0
				&:before
					width: 100%
					height: 100%
				&.active
					border: 0
