.ctn__home__capacitaciones
	width: 100%
	padding: 80px 0 40px 0
	box-sizing: border-box
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 425px
		background: $c-2
	&:after
		content: ""
		background: url('../img/img-home-bg.png')
		width: 353px
		height: 330px
		position: absolute
		top: 300px
		left: -175px
.ctn__home__capacitaciones__wrapper
	padding: 0 20px
	box-sizing: border-box
	width: 100%
	max-width: 1240px
	margin: 0 auto
	position: relative
	z-index: 2
.ctn__home__capacitaciones__wrapper__header
	width: 100%
	padding: 0 20px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
.ctn__home__capacitaciones__wrapper__header__title
	color: $blanco
	font-size: 35px
	font-family: $t-1
	line-height: 1
.ctn__home__capacitaciones__wrapper__header__nav
	width: 476px
	.btn__tabs
		width: 100%
		max-width: 100%
	.btn__tabs__box
		height: 52px
	.btn__tabs--gray .btn__tabs__box.active
		background: $c-16
		color: $blanco
.ctn__home__capacitaciones__wrapper__prin
	margin: 81px 0 0 0
	.cap__content
		align-items: inherit
	.cap__content__item
		margin-bottom: 0
		margin-left: 0
		margin-right: 2.13%
		&:last-child
			margin-right: 0
.btn__home__capacitaciones
	margin: 40px 0 0 0
	text-align: center
@media screen and (max-width: 1024px)
	.ctn__home__capacitaciones
		padding-top: 50px
		&:after
			display: none
		&:before
			height: 322px
	.ctn__home__capacitaciones__wrapper__prin
		margin-top: 50px
@media screen and (max-width: 960px)
	.ctn__home__capacitaciones__wrapper__header
		padding: 0
	.ctn__home__capacitaciones__wrapper__header__title
		width: 100%
		text-align: center
		font-size: 28px
	.ctn__home__capacitaciones__wrapper__header__nav
		width: 100%
		max-width: 476px
		margin: 30px auto 0 auto
		.btn__tabs
			width: 100%
	.ctn__home__capacitaciones__wrapper__prin
		.cap__content__item
			width: 47.5%
			margin: 0 5% 30px 0
			&:nth-child(even)
				margin-right: 0
	.btn__home__capacitaciones
		margin: 0
@media screen and (max-width: 767px)
	.ctn__home__capacitaciones
		padding: 30px 0
		&:before
			display: none
	.ctn__home__capacitaciones__wrapper
		padding: 0 15px
	.ctn__home__capacitaciones__wrapper__header__title
		color: #595294
		font-size: 25px
	.ctn__home__capacitaciones__wrapper__header__nav
		.btn__tabs__box
			width: 25%
	.cap__content__item
		margin-left: 1% !important
		margin-right: 1% !important
@media screen and (max-width: 350px)
	.ctn__home__capacitaciones__wrapper__prin
		.cap__content__item
			width: 100%
			margin-right: 0