.ctn__login
	width: 100%
	padding: 110px 0
	box-sizing: border-box
.ctn__login__ctn
	display: flex
	flex-wrap: wrap
	width: 100%
	max-width: 1020px
	padding: 0 20px
	margin: auto
	box-sizing: border-box
	justify-content: space-between
	align-items: center
.ctn__login__prin
	width: 47%
.ctn__login__cliente
	width: 100%
	padding: 50px 70px
	box-sizing: border-box
	background-color: $c-6
	h2
		margin: 0
		font-weight: normal
		font-family: $t-1
		font-size: 25px
		color: $c-1
	p 
		margin: 15px 0 0 0
		font-family: $t-0
		font-size: 15px
		color: $c-0
		line-height: 1.2
		
	&.no__client
		background: none
	&.crear__cuenta
		display: none
		.ctn__login__form
			li:last-child
				margin-bottom:  0
			button
				margin: 30px 0 0 0
	.contrasenia__restablecer
		display: none
.btn__olvidar__contrasenia, .back__btn__login__client
	margin: 15px 0 40px 0
	cursor: pointer
	font-family: $t-2
	font-size: 13px
	color: $c-0
	display: block
.btn__ingresar
	a
		display: block
		text-align: center
.back__btn__login
	margin: 0
.ctn__login__form
	margin: 30px 0 0  0
	li 
		margin: 0 0 50px 0
	button
		width: 100%
		margin: 0
		border: 0
	p 
		margin: 0 0 40px 0
		font-size: 14px
	label
		display: block
	input
		width: 100%
.ctn__login__form--cuenta
	li
		margin: 0 0 30px 0

.ctn_login__no__clinet__list
	margin: 30px 0 0 0
	h3
		margin: 0
		font-family: $t-2
		font-size: 16px
		color: $c-1
	ul
		margin: 16px 0 0 0
	li
		margin: 0 0 13px 0
		padding: 0 0 0 12px
		box-sizing: border-box
		position: relative
		font-family: $t-0
		font-size: 15px
		color: $c-0
		&:last-child
			margin: 0
		&:before
			content: ""
			font-size: 12px
			display: block
			width: 4px
			height: 4px
			background: #000
			position: absolute
			top: 0
			bottom: 0
			left: 0
			margin: auto
			border-radius: 100%
.button__no__client
	width: 100%
	margin: 60px 0 0 0
	a 
		width: 100%
		margin: 0 0 15px 0
		&:last-child
			margin: 0
.back__login
	margin: 15px 0 0 0
	text-align: center
	font-family: $t-2
	font-size: 14px 
	color: $c-1
	span
		display: inline-block
		padding: 0 8px 0 0
		width: auto
		position: relative
		text-transform: uppercase
		cursor: pointer
		&:hover
			text-decoration: none
.parraf__back
	margin: 20px 0 0 0 !important
.back__btn__login
	cursor: pointer
	width: 100%
	margin: 0 0 15px 0
.btn__login__cuenta
	margin-top: 45px
	a
		display: block
@media screen and (max-width: 1024px)
	.ctn__login
		padding: 50px 0
	.ctn__login__prin
		width: 48%
	.ctn__login__cliente
		padding: 40px 25px

@media screen and (max-width: 767px)
	.ctn__login__prin
		width: 50%

@media screen and (max-width: 650px)
	.ctn__login__ctn
		padding: 0 15px
	.ctn__login
		padding: 30px 0
	.ctn__login__prin
		width: 100%
	.ctn__login__cliente
		padding: 30px 15px
	.btn__olvidar__contrasenia
		margin-bottom: 30px
	.button__no__client
		margin-top: 30px
