.ctn__perfil
	padding: 70px 0 85px 0
	width: 100%
.icon-datos-tabs
	font-size: 20px
	padding-right: 10px
.ctn__perfil__prin
	max-width: 945px
	padding: 0 20px 30px 20px
	width: 100%
	margin: auto
	box-sizing: border-box
.ctn__perfil__prin__title
	text-align: center
	padding-bottom: 34px
	h2
		font-weight: normal
		margin: 0
		color: $c-4
		font-size: 25px
		font-family: $t-1
.ctn__detalle__title
	text-align: center
	h3
		color: $c-0
		font-family: $t-1
		font-size: 25px
		margin: 0
		font-weight: normal
.ctn__perfil__menu
	max-width: 630px
	width: 100%
	box-sizing: border-box
	display: flex
	justify-content: center
	margin: 50px 0 0 0
	padding: 0
	margin: auto
	li 
		width: 50%
		text-align: center
		margin: 0
		font-size: 16px
		font-family: $t-0
		text-transform: uppercase
		&:last-child
			margin-right: 0
	a
		box-sizing: border-box
		position: relative
		display: block
		color: $c-0
		padding: 22px
		background-color: $c-6
		display: flex
		justify-content: center
		align-items: center
		span
			margin: 0
		&.active
			color: $blanco
			background-color: $c-3
			&:before
				color: $blanco
		&:before
			position: absolute
			top: 0
			left: 0
			margin: auto
			width: 15px
			height: 15px
			font-size: 15px
			font-family: icomoon
			color: $negro
			line-height: 60px
.ctn__perfil__datos
	margin: 40px 0 0 0
	padding: 0 70px
	box-sizing: border-box
	.ctn__check__sec
		border-top: 0
		padding-top: 0
	.ctn__check__card
		cursor: inherit
	.ctn__check__bloq
		margin: 30px 0 0 0
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		&.buttons__perfil
			margin: 0
			padding-top: 30px 
	.ctn__check__item
		margin-bottom: 15px
		width: 32%
		margin-right: 2%
		margin-left: 0
		&:nth-child(3n + 3)
			margin-right: 0
	.ctn__input__select
		position: relative
		padding-left: 79px
		input
			border-top-left-radius: 0
			border-bottom-left-radius: 0
	.ctn__select
		width: 80px
		height: 50px
		position: absolute
		left: 0
		top: 0
		select
			border-top-right-radius: 0
			border-bottom-right-radius: 0

.ctn__perfil__datos__item
	padding-top: 15px
.ctn__perfil__datos__title
	h2
		margin: 0
		font-weight: normal
		color: $c-4
		font-size: 18px
		font-family: $t-1
.buttons__perfil
	margin: 0 0 0 0
	display: block
	width: 100%
	text-align: center
	ul
		display: flex
		margin: 0
		width: 100%
	li
		margin: 0 2% 0 0
		width: 32%
		.btn__enlace__general
			width: 100%
		&:last-child
			margin-right: 0
	.btn__enlace__general
		padding: 0 43px
.ctn__cambiar__contrasenia__prin
	background: #f9f9f9
	box-sizing: border-box
	padding: 30px
	margin: 30px 0 0 0
	display: none
.ctn__cambiar__contrasenia__prin__title
	h2
		font-weight: normal
		margin: 0
		font-size: 18px
		color: $c-4
		font-family: $t-1
.ctn__check__btn__more
	position: absolute
	top: 22px
	right: 20px
	font-size: 15px
	height: 15px
	width: 15px
	border: 0
	cursor: pointer
	z-index: 4
	img
		display: block
		max-width: 100%
		height: auto
.ctn__items__pedido
	padding: 20px 0 0 0
	box-sizing: border-box
.ctn__item__pedido
	display: flex
	margin: 0 0 20px 0
	align-items: center
	border: 1px solid #E0E0E0
	padding: 30px 30px 60px 30px
	border-radius: 3px
	box-sizing: border-box
	&:last-child
		margin: 0 
.ctn__item__pedido__comprado, .ctn__item__pedido__cantidad, .ctn__item__pedido__btn
	width: 37.5%
	padding-left: 0
	box-sizing: border-box
	font-size: 14px
	font-family: $t-0
	strong
		display: block
		font-weight: normal
	span
		display: block
	p 
		margin: 0
.ctn__item__pedido__comprado
	font-family: $t-2
	strong
		color: $c-4
		font-size: 17px
	span
		color: $c-0
		font-size: 12px
		text-transform: uppercase
		margin: 10px 0 0 0
		font-family: $t-0
.ctn__item__pedido__cantidad 
	color: $c-0
	font-size: 14px
	strong
		margin: 10px 0 0 0
.ctn__item__pedido__btn
	width: 25%
	text-align: right
	text-transform: uppercase
	a
		width: 100%
		max-width: 200px
		color: $c-4
		font-size: 14px
		font-family: $t-1
		letter-spacing: 1px
.ctn__item__pedido__icono
	width: 40px
	height: 40px
	border-radius: 100%
	background: #ffc107
	text-align: center
	box-sizing: border-box
	line-height: 40px
	text-align: center
.ctn__item__pedido__prin
	display: flex
	width: 100%
	align-items: center
.ctn__detalle__pedido
	padding: 50px 0 0 0
.ctn__detalle__pedido__header
	display: flex
	justify-content: space-between
	padding: 0 
	box-sizing: border-box
	align-items: center
.ctn__detalle__pedido__header__title
	a 
		text-transform: uppercase
		position: relative
		color: #000
.ctn__detalle__pedido__header__comple
	display: flex
.ctn__detalle__pedido__comple
	margin-left: 45px
	h3
		font-weight: normal
		margin: 0
		text-transform: uppercase
	p 
		margin: 0
.ctn__detalle__pedido__prin
	margin: 30px 0 0 0
	display: flex
	justify-content: space-between
	padding: 0 15px
	box-sizing: border-box
.ctn__detalle__pedido__items
	width: 30%
.ctn__detalle__pedido__item
	margin: 0 0 15px 0
	h3, h4
		font-weight: normal
		margin: 0 0 20px 0
	figure
		max-width: 190px
		margin: 0 auto
	img
		display: block
		margin: 0
		max-width: 100%
		height: auto
	&:last-child
		margin: 0
.ctn__detalle__pedido__resumen
	width: 68%
.btn__cambiar__contrasenia
	cursor: pointer
	text-align: center
.btn__cerrar__sesion
	margin-top: 30px
	display: flex
	justify-content: center
	.button__simple
		width: 100%
		max-width: 250px
		border: 2px solid
.ctn__check__btn__close
	height: 20px
	width: 20px
	font-size: 20px
	position: absolute
	bottom: 20px
	right: 23px
	cursor: pointer
	&:before
		content: "\e605"
		position: absolute
		top: 0
		left: 0
		font-family: icomoon
		font-size: 18px
.datos-actualizar
	width: 100%
	font-family: $t-1
	font-size: 14px
	color: $c-0
	background-color: $blanco
	border: 1px solid #E0E0E0
	border-radius: 3px
	cursor: pointer
	.btn__general__text
		padding: 0px 10px
.datos-password
	width: 100%
	font-family: $t-1
	font-size: 14px
	color: $c-0
	background-color: $c-6
	border-radius: 3px
	cursor: pointer
	.btn__general__text
		padding: 0px 10px
.datos-actualizar-password-btn
	max-width: 320px
	width: 100%
	box-sizing: border-box
	margin: auto
	margin-top: 10px
	.btn__general
		width: 100%
	.btn__general__text
		padding: 0 10px
@media screen and (max-width: 1024px)
	.ctn__perfil
		padding: 50px 0px 45px 0px
	.buttons__perfil
		margin-top: 0
	.ctn__perfil__datos
		margin-top: 35px
	.ctn__perfil__menu a
		padding: 18px 15px
@media screen and (max-width: 960px)
	.ctn__perfil__datos
		padding: 0
	.buttons__perfil
		.btn__enlace__general
			padding: 0 20px
@media screen and (max-width: 680px)
	.ctn__perfil
		padding-top: 30px
		padding-bottom: 30px
	.ctn__perfil__prin
		padding: 0 15px 0 15px
		box-sizing: border-box
	.ctn__perfil__menu
		span
			font-size: 13px
		a
			display: block
			position: relative
			height: auto
			padding: 15px 10px
		.icon-datos-tabs
			font-size: 16px
	.buttons__perfil .button__simple
		width: 100%
		max-width: 360px
		margin-right: 0
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	.ctn__perfil__datos
		margin: 15px 0 0 0
	.ctn__item__pedido__btn
		a
			padding-left: 0
			padding-right: 0
	.ctn__detalle__pedido__header
		flex-wrap: wrap
		padding: 0
		box-sizing: border-box
	.ctn__detalle__pedido__header__title
		padding: 0
		text-align: center
		width: 100%
		font-size: 20px
	.ctn__detalle__pedido__header__comple
		justify-content: center
		margin-top: 12px
		width: 100%
	.ctn__detalle__pedido__comple
		margin: 0 20px 0 0
		&:last-child
			margin: 0
	.buttons__perfil 
		ul
			flex-wrap: wrap
		li
			width: 100%
			margin: 0 0 12px 0
			&:last-child
				margin-bottom: 0
	.ctn__perfil__datos .ctn__check__bloq.buttons__perfil
		padding-top: 15px
	.ctn__perfil__datos .ctn__check__item
		width: 47.5%
		margin-right: 5%
		&:nth-child(even)
			margin-right: 0
		&:nth-child(3n + 3)
			margin-right: 5%
	.ctn__cambiar__contrasenia__prin
		padding: 20px
	
@media screen and (max-width: 640px)
	.ctn__item__pedido__icono
		display: none
	.ctn__item__pedido__comprado, .ctn__item__pedido__cantidad, .ctn__item__pedido__btn
		width: 40%
		padding-left: 0
	.ctn__item__pedido__btn
		width: 30%
		height: 30px
		position: relative
		a
			font-size: 11px
	.ctn__item__pedido__prin
		width: 100%
	.ctn__items__pedido
		padding-top: 10px
	.ctn__item__pedido__cantidad
		font-size: 13px
	.ctn__item__pedido__comprado strong
		font-size: 15px
	.ctn__item__pedido
		padding: 40px 20px 40px 20px

@media screen and (max-width: 530px)
	.ctn__item__pedido
		padding-left: 15px
		padding-right: 15px
	.ctn__item__pedido__prin
		flex-direction: column
		justify-content: flex-start
		align-items: inherit
		position: relative
		padding-right: 120px
	.ctn__item__pedido__comprado, .ctn__item__pedido__cantidad
		width: 100%
	.ctn__item__pedido__comprado
		margin-bottom: 15px
	.ctn__item__pedido__btn
		display: inline-block
		width: auto
		position: absolute
		top: 65%
		right: 0
		transform: translateY(-50%)
@media screen and (max-width: 480px)

	.ctn__detalle__pedido__header__comple
		flex-wrap: wrap
	.ctn__detalle__pedido__comple
		width: 100%
		display: flex
		justify-content: space-between
		margin: 0 0 12px 0
		&:last-child
			margin: 0
		h3
			font-size: 12px
	.ctn__perfil__datos .ctn__check__item
		width: 100%
		margin-right: 0 !important

@media screen and (max-width: 400px)
	.ctn__item__pedido__prin
		display: block
	.ctn__item__pedido__comprado, .ctn__item__pedido__cantidad
		width: 100%
	.ctn__item__pedido
		padding: 30px 10px
	.ctn__item__pedido__cantidad
		padding-top: 20px
	.ctn__perfil__menu 
		a
			display: block
		.icon-datos-tabs
			display: block