// block4 *************************

.nosotros_block4
	background-color: $c-6
.nosotros_block4_content
	padding: 49px 20px 49px 20px
	max-width: 1238px
	height: auto
	margin: 0 auto
.nosotros_block4_h2
	text-align: center
.nosotros_block4_slider
	padding-top: 29px
	box-sizing: border-box
	height: auto
	padding-bottom: 30px
	ul
		font-size: 0

.nosotros_block4_slider_item_box_content
	margin: 11px
	transition: all .2s ease-in-out
	padding: 36px 25px 32px 20px
	box-sizing: border-box
	background-color: $blanco
	box-shadow: 1px 5px 17px #d0d0d0

.nosotros_block4
	.slick-current
		.nosotros_block4_slider_item_box_content
			box-shadow: 1px 5px 17px #d0d0d0
	
.nosotros_block4_slider_content_buttons
	overflow-x: auto
	ul
		li
			height: 70px
			width: 50px
			padding: 0 20px
			text-align: center
			&:hover
				.nosotros_block4_slider_button
					span
						transform: scale(1.2)
						color: $c-3
					.nosotros_block4_slider_circle
						transform: scale(1.2)
						border: 1px solid $c-3
						&:before
							transform: scale(1.2)
							background-color: $c-3
			&.active
				.nosotros_block4_slider_button
					span
						transform: scale(1.2)
						color: $c-3
					.nosotros_block4_slider_circle
						transform: scale(1.2)
						border: 1px solid $c-3
						&:before
							transform: scale(1.2)
							background-color: $c-3

.nosotros_block4_slider_content_buttons
	.slider-nav
		display: flex
		span
			cursor: pointer

.nosotros_block4_slider_item_h3
	font-family: $t-0
	color: $c-2
	h3
		font-size: 30px
.nosotros_block4_slider_item_p
	font-family: $t-2
	color: 	$c-0
	height: auto
	height: 50px
	width: 100%
	overflow-y: auto
	p
		font-size: 14px
		line-height: 18px
		margin: 0
.nosotros_block4_slider_item_img
	margin: 0
	margin-top: 25px
	width: 170px
	height: 110px
	img
		width: 170px
		height: 110px
.nosotros_block4_slider_button
	height: auto
	width: auto
	display: inline-block
	span
		font-family: $t-2
		font-size: 18px
		color: $c-0
		position: relative
		transition: all .2s ease-in-out
		display: block

.nosotros_block4_slider_circle
	width: 18px
	height: 18px
	border: 1px solid $c-0
	border-radius: 25px
	margin: 0 auto
	position: relative
	margin-top: 22px
	transition: all .2s ease-in-out
	&:before
		width: 8px
		height: 8px
		background-color: $c-0
		top: 5px
		left: 5px
		content: ""
		border-radius: 50px
		transition: all .2s ease-in-out
		position: absolute
@media screen and (max-width: 395px)
	.nosotros_block4_slider_item_p
		height: 90px