// block3 *************************

.nosotros_block3
	overflow: hidden
	position: relative

.nosotros_block3_content
	height: auto
	padding: 53px 20px 83px 20px
	box-sizing: border-box
.nosotros_block3_figure
	img
		width: auto
		height: 70px
		margin: 0
.nosotros_block3_h2
	margin-top: 30px
.nosotros_block3_p
	margin-top: 18px
	color: $c-0
	font-family: $t-2
	p
		font-size: 15px
		line-height: 20px

.nosotros_block3_Animated
	opacity: 0
	visibility: hidden
	transition: all .4s ease-in-out
	top: 0
	left: -80px
	position: relative
	&.active
		opacity: 1
		visibility: visible
		left: 0

.nosotros_block3_container
	max-width: 745px
	width: 100%
	box-sizing: border-box
	margin: 0 auto
	position: relative
	span
		width: 350px
		height: 327px
		position: absolute
		right: -295px
		top: 0
		z-index: -1
		// border: 1px solid red

@media screen and (max-width: 960px)
	.nosotros_block3
		border-top: 1px solid $c-7
		span
			right: -32%
	.nosotros_block3_content
		padding: 35px 20px 40px 20px

@media screen and (max-width: 360px)
	.nosotros_block3_p p
		font-size: 14px