// block5 *************************
.nosotros_block5_box1
	background-color: $c-3
	padding: 60px 0
	box-sizing: border-box
.nosotros_block5_box1_content
	max-width: 1120px
	height: auto
	margin: 0 auto
	// padding-right: 120px
	padding-right: 8%
	display: flex
	flex-wrap: nowrap
	align-items: flex-start
	justify-content: flex-end
	p
		margin: 0
.nosotros_block5_box1_content_group
	max-width: calc(100% - 45%)
	width: 100%
.nosotros_block5_mision_p, .nosotros_block5_vision_p
	color: $blanco
	font-family: $t-0
	margin-top: 20px
	p
		font-size: 15px
		line-height: 18px
.nosotros_block5_vision_h1
	margin-top: 37px
.nosotros_block5_box2
	padding: 54px 0
	box-sizing: border-box
.nosotros_block5_box2_content
	max-width: 1242px
	height: auto
	margin: 0 auto
	position: relative
	display: flex
	flex-wrap: nowrap
	align-items: flex-start
	justify-content: flex-end
.nosotros_block5_box2_content_group
	max-width: calc(100% - 41%)
	width: 100%
	position: relative
.nosotros_block5_valores_list
	color: $c-0
	font-family: $t-2
	margin-top: 20px
	ul
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		justify-content: flex-start

		li
			margin: 0
			margin-right: 50px
			text-align: center
			span
				display: block
				height: 52px
				width: 52px
				margin-bottom: 17px
				background-repeat: no-repeat
				background-position: center center
			h3
				font-size: 14px
		li:nth-child(n+2)
			margin-left: 50px
		li:last-child
			margin-right: initial
.nosotros_block5_valores_box
	opacity: 0
	visibility: hidden
	transition: all .4s ease-in-out
	top: 50px
	left: 0
	position: relative
	&.active
		opacity: 1
		visibility: visible
		top: 0


.nosotros_block5_box_girl
	height: 592px
	width: 420px
	position: absolute
	bottom: -55px
	left: 0
	background-repeat: no-repeat
	background-position: center left
.nosotros_block5_girl
	opacity: 0
	visibility: hidden
	transition: all .4s ease-in-out
	bottom: 0
	left: -50px
	position: relative
	img
		max-width: 290px
		height: auto
		float: right
	&.active
		opacity: 1
		visibility: visible
		bottom: 0
		left: 0
@media screen and (max-width: 1024px)
	.nosotros_block5_box_girl
		display: none
	.nosotros_block5_box1_content
		padding-right: 20px
		padding-left: 20px
		box-sizing: border-box
		justify-content: center
		position: relative
		z-index: 1
		max-width: 80%
	.nosotros_block5_box1_content_group
		max-width: 100%
	.nosotros_block5_box2_content
		max-width: 80%
		justify-content: center
		padding-right: 20px
		padding-left: 20px
		box-sizing: border-box
	.nosotros_block5_box2_content_group
		max-width: 100%
	.nosotros_block5_valores_p ul
		justify-content: center
	.nosotros_block5_valores_p ul li
		margin-right: 20px
		background-color: red
	.nosotros_block5_box2
		padding: 40px 0
	.nosotros_block5_valores_list ul
		justify-content: center

@media screen and (max-width: 742px)
	
	.nosotros_block5_valores_list
		ul
			justify-content: center
			li
				margin-right: 20px
			li:nth-child(n+2)
				margin-left: 20px

@media screen and (max-width: 684px)
	.nosotros_block5_valores_p ul
		flex-wrap: wrap
	.nosotros_block5_valores_p ul li
		width: 40%
		margin: initial !important
	.nosotros_block5_valores_p ul
		li:nth-child(n+3)
			padding-top: 25px
		li:nth-child(odd)
			padding-right: 20px
@media screen and (max-width: 546px)
	.nosotros_block5_valores_list
		ul
			flex-wrap: wrap
			li
				width: 40%
				margin-left: initial !important
				margin-right: initial !important
			li:nth-child(n+3)
				margin-top: 20px
			li:nth-child(even)
				padding-left: 20px

@media screen and (max-width: 350px)
	.nosotros_block5_valores_list
		ul
			li
				width: 100%
			li:nth-child(n+3)
				margin-top: initial
			li:nth-child(even)
				padding-left: initial
			li:nth-child(n+2)
				margin-top: 20px

