.nosotros a
	outline: none

// block2 *************************

.nosotros_block2
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: stretch
	justify-content: center
.nosotros_block2_box1
	background: $c-2
	width: 50%
	height: auto
	display: flex
	justify-content: flex-end
	align-items: center
.nosotros_block2_box2
	background: $blanco
	width: 50%
	height: auto
	position: relative

.nosotros_block2_box2_icon_video
	background-color: red
	height: 45px
	width: 45px
	background-color: $blanco
	border-radius: 25px
	position: absolute
	top: 50%
	left: -24px
	transform: translateY(-50%)
	.icon-play-video
		font-size: 52px
		color: $c-3
		position: absolute
		top: -4px
		left: -3px
.nosotros_block2_icon_sombra
	border-radius: 50%
	border: none
	transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1)
	box-shadow: 0 0 1px 15px rgba(138, 210, 230, 0.4), 0 0 1px 30px rgba(138, 210, 230, 0.1)
	@media screen and (min-width: 1024px)
		&:hover
			box-shadow: none

.nosotros_block2_box1_content
	max-width: 544px
	width: 100%
	height: auto
	color: $blanco
	// padding: 14.5% 13% 15% 2%
	padding: 140px 139px 140px 0

	box-sizing: border-box
	p
		font-family: $t-2
		font-size: 35px
		line-height: 40px
.nosotros_block2_box2_content
	max-width: 607px
	width: 100%
	height: 100%
	padding: 58px 20px 58px 81px
	box-sizing: border-box
	display: flex
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
	li
		// padding: 11% 7% 12% 11%
		padding: 20px 40px
		box-sizing: border-box
		width: 50%
		height: 220px
		display: flex
		align-items: center
		justify-content: center

	li:nth-child(n+3)
		border-top: 1px solid $c-7
	li:nth-child(odd)
		border-right: 1px solid $c-7
.nosotros_block2_box2_number
	width: 90%
	span
		display: block
		font-family: $t-2
		font-size: 50px
		color: $c-2
		text-align: left
		margin-bottom: 10px
	p
		font-family: $t-0
		font-size: 20px
		color: $c-1
.nosotros_block2_number_more
	position: relative
	&:before
		position: absolute
		content: "+"
		top: 0
		left: 95px
		font-family: $t-2
		font-size: 50px
		color: $c-2
		text-align: left

@media screen and (max-width: 1200px)
	.nosotros_block2_box1_content
		max-width: 85%
	
@media screen and (max-width: 960px)
	.nosotros_block2
		flex-direction: column
	.nosotros_block2_box1, .nosotros_block2_box2
		width: 100%
	.nosotros_block2_box1_content
		max-width: 100%
		// padding: 7% 20px 10% 20px
		padding: 40px 20px 80px 20px
		p
			width: 80%
			text-align: center
			margin: 0 auto
	.nosotros_block2_box2_content
		max-width: 80%
		margin: 0 auto
	.nosotros_block2_box2_icon_video
		top: 0
		left: 50%
		transform: translate(-50%, -50%)

	.nosotros_block2_box2_content
		padding: 66px 20px
	.nosotros_block2_box2_content li
		// padding: 8% 6% 12% 8%
		// padding: 58px 20px 58px 81px

@media screen and (max-width: 767px)
	.nosotros_block2_box2_content
		max-width: 90%
		padding: 66px 20px 40px 20px
	.nosotros_block2_box1_content p
		font-size: 26px
	.nosotros_block2_box1_content
		p
			line-height: 35px
	.nosotros_block2_box2_number
		span
			font-size: 40px
		p
			font-size: 18px
	.nosotros_block2_box2_content li
		height: 172px
	.nosotros_block2_number_more
		&:before
			top: -1px
			left: 77px
			font-size: 43px
@media screen and (max-width: 656px)
	.nosotros_block2_box2_content
		li
			width: 100%
			padding: 30px 20px 20px 20px
			height: auto
		li:nth-child(n+2)
			border-top: 1px solid $c-7
		li:nth-child(odd)
			border-right: initial
	.nosotros_block2_box2_number
		text-align: center
	.nosotros_block2_box2_content
		padding: 46px 20px 16px 20px
	.nosotros_block2_box1_content
		padding: 40px 20px 70px 20px