.proyectos_integrales
	padding: 45px 20px 64px 20px

.pi_content
	max-width: 1200px
	width: 100%
	margin: auto

.pi_select
	margin-bottom: 55px

.pi_select_text
	display: block
	line-height: 1
	color: $c-1
	font-family: $t-1
	font-size: 13px
	margin-bottom: 20px

.pi_select_campo
	max-width: 266px
	width: 100%
	margin: 0

.pi_items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.pi_item
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 48.84%
	background: $c-6
	box-sizing: border-box
	padding: 27px 3.4% 48px 3.4%
	margin: 30px 0 0 0
	&:nth-child(-n+2)
		margin-top: 0
	@media screen and (min-width: 1025px)
		transition: transform .3s
		&:hover
			transform: translate3d(0,-6px,0)

.pi_box_left
	width: 41.64%

.pi_box_right
	width: 58.36%
	box-sizing: border-box
	padding: 6px 0 0 40px

.pi_img
	width: 100%
	img
		display: block
		width: 100%
		height: auto

.pi_gallery
	margin-top: 27px

.pi_button
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 100%
	height: 50px
	background: $c-4
	border-radius: 3px

.pi_button_icon
	display: block
	line-height: 1
	color: $blanco
	font-size: 13px
	margin: 0 10px 0 0

.pi_button_text
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 13px
	margin: 0

.pi_subtitle
	margin-bottom: 20px
	h3
		line-height: 21.6px
		color: $c-1
		font-family: $t-2
		font-size: 18px
		margin-bottom: 0

.pi_text
	line-height: 20.8px
	color: $c-0
	font-family: $t-0
	font-size: 14px
	p
		margin: 0
	li
		position: relative
		padding-left: 8px
		&:before
			content: ""
			display: block
			width: 3px
			height: 3px
			background: $c-0
			border-radius: 50%
			position: absolute
			top: 7px
			left: 0

.pi_pager
	margin-top: 80px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
	li
		margin: 0 5px

.pi_icon_left,
.pi_icon_right
	display: block
	width: 40px
	height: 40px
	line-height: 40px
	background: $c-6
	color: $c-0
	font-size: 20px
	text-align: center
	border-radius: 50%
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out
		&:hover
			background: $c-2
			color: $blanco

.pi_number
	display: block
	width: 40px
	height: 40px
	line-height: 40px
	background: $c-6
	color: $c-0
	font-family: $t-1
	font-size: 17px
	text-align: center
	border-radius: 50%
	&.active
		background: $c-2
		color: $blanco
	@media screen and (min-width: 1025px)
		transition: all .25s ease-in-out
		&:hover
			background: $c-2
			color: $blanco

@media screen and (max-width: 1024px)
	.proyectos_integrales
		padding: 50px 20px

@media screen and (max-width: 960px)
	.pi_item
		width: 100%
		&:nth-child(-n+2)
			margin-top: 30px
		&:nth-child(-n+1)
			margin-top: 0

	.pi_box_left
		max-width: 210px
		width: 100%
		margin: 0

	.pi_box_right
		width: calc(100% - 210px)

@media screen and (max-width: 767px)
	.proyectos_integrales
		padding: 40px 15px

	.pi_item
		flex-direction: column-reverse
		padding: 40px 15px

	.pi_box_right
		width: 100%
		padding: 0
		margin-bottom: 30px

	.pi_icon_left,
	.pi_icon_right
		display: block
		width: 30px
		height: 30px
		line-height: 30px
		font-size: 15px

	.pi_number
		width: 30px
		height: 30px
		line-height: 30px
		font-size: 14px