.catalogo_overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .7
		visibility: visible
		z-index: 150

.content__catalogo__main
	width: 100%
	max-width: 1240px
	padding: 50px 20px 50px 20px
	box-sizing: border-box
	margin: auto
	a:hover
		text-decoration: none
.banner__catalogo
	width: 100%
	position: relative
	img
		display: block
		max-width: 100%
		height: auto
.content__catalogo
	width: 100%
	margin: 0 0 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.catalogo__nav
	width: 240px
.nav__item
	padding-top: 24px
	padding-bottom: 24px
	box-sizing: border-box
	border-bottom: 1px solid $c-7
	&:last-child
		border-bottom: none
.nav__item__title
	display: flex
	justify-content: space-between
	align-items: center
	cursor: pointer
	h4
		font-weight: normal
		margin: 0
		text-transform: uppercase
		padding: 0
		font-family: $t-2
		font-size: 14px
		color: $c-1
	&.active
		.iconos__title__minus
			display: block
		.iconos__title__more
			display: none

.nav__item__title--productos
	display: flex
	justify-content: space-between
	align-items: center
	h4
		font-weight: normal
		margin: 0
		text-transform: uppercase
		padding: 0
		font-family: $t-2
		font-size: 14px
		color: $c-1
.iconos__title__minus
	display: none
	width: 20px
	height: 20px
	line-height: 20px
	font-size: 18px
	text-align: center
.nav__item__content
	padding: 30px 0 11px
	box-sizing: border-box
	li
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	a
		display: flex
		align-items: center
		width: auto
	figure
		margin: 0
		width: 25px
	img
		display: block
		max-width: 100%
		height: auto

.nav__item__sec
	&.active
		color $c-3
	@media screen and (min-width: 1024px)
		&:hover
			color: $c-3

.item__label
	font-family: $t-0
	font-size: 14px
	color: $c-1
	input
		display: none
	label
		position: relative
	p 
		margin: 0
	a
		color: $c-1
		line-height: 1.3
.item__check--productos
	width: 14px
	height: 14px
	border-radius: 2px
	border: 2px solid 
	position: absolute
	top: 0
	left: 0
	display: block
	margin: 0
	&:before
		content: "\e92d"
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		margin: auto
		height: 7px
		width: 11px
		font-family: icomoon
		opacity: 0
		font-size: 10px
.item__label input:checked + label 
	.item__check--productos
		border: 2px solid
		&:before
			opacity: 1
.precios__cantidad
	margin: 33px 0 0 0
	display: none
	form
		display: flex
		flex-wrap: wrap
	p 
		margin: 0 15px
	button
		margin: 0 0 0 12px
		padding: 0
		background-color: transparent
		border: 0
		height: 21px
		width: 21px
		background-size: cover
.precios__cantidad__item
	width: 28%
	position: relative
	input
		border: 0
		border-bottom: 1px solid
		width: 100%
		font-size: 15px
		padding-bottom: 15px
		padding-left: 20px
		text-align: right
		box-sizing: border-box
	label
		position: absolute
		top: 0
		left: 0
		margin: 0
.catalogo__productos
	width: calc(100% - 310px)
	box-sizing: border-box
	padding-left: 60px
.nav__order, .nav__select, .nav__pager
	display: flex
	flex-wrap: wrap
	align-items: center
	h5
		font-weight: normal
		margin: 0
		font-family: $t-2
		font-size: 14px
		color: $c-1
.content__select__catalogo
	width: 70px
	margin-left: 15px
	position: relative
.nav__order
	.content__select__catalogo
		width: 170px
.total__pag
	margin: 0 20px 0 10px
	font-family: $t-0
	font-size: 14px
	color: $c-0
.nav__pager
	.icon__next
		margin-left: 10px
.catalogo__productos__ctn
	display: flex
	flex-wrap: wrap
	width: 100%
	margin: 40px 0 50px 0
.catalogo__item
	width: 32%
	margin: 0 2% 30px 0
	&:nth-child(3n + 3)
		margin-right: 0
.catalogo__pager
	display: flex
	justify-content: center
	align-items: center
	position: relative
	z-index: 1
	span
		margin: 0
	.content__select__catalogo
		margin: 0 12px
	.btn__pag__prev
		margin: 0 8px 0 24px
	&.two
		.btn__pag__prev
			margin-left: 0
.catalogo__responsive__head
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	border-bottom: 1px solid $c-6
	padding: 15px
	display: none
.catalogo__responsive__title
	h2
		font-weight: normal
		margin-bottom: 0
		font-family: $t-2
		font-size 20px
		margin-bottom: 0
		color: $c-0
.catalogo__responsive__close
	display: block
	cursor: pointer
	margin: 0
	position: relative
	width: 20px
	height: 20px
	&:before
		content: "\e906"
		position: absolute
		top: 0
		left: 0
		font-family: icomoon
		font-size: 20px
		color: $c-0
.catalogo__responsive__button
	display: none
	width: 100%
	position: fixed
	left: 0
	bottom: 15px
	z-index: 100
	margin-top: 50px

.catalogo__responsive__button_icon
	display: inline-block
	vertical-align: middle
	color $blanco
	font-size: 20px
	padding-bottom: 2px
	margin-right: 10px

.catalogo__responsive__button__content
	display: block
	width: 150px
	height: 40px
	text-align: center
	color: #fff
	background: $c-3
	border-radius: 10px
	line-height: 40px
	font-family: $t-2
	font-size: 16px
.items__precios__cantidad
	display: flex
	align-items: center
	margin: 30px 0 0 0
	padding: 0 12px
	button
		height: 38px
		background: none
		border: 0
		width: auto
		text-align: center
		position: relative
		padding: 0
		margin-left: 10px
		text-transform: uppercase
	span
		display: block
		margin: 0 10px
	p 
		margin: 0 10px 0 0
.item__precio__cantidaad
	position: relative
	box-sizing: border-box
	input
		height: 36px
		width: 44px
		border: 1px solid
		padding: 0 5px
		box-sizing: border-box
		border-radius: 2px
	label
		position: absolute
		z-index: 2
		display: block
		top: 8px
		left: 10px
.items__precio__slider
	.ui-widget-header
		background: #000
.nav__all__filters
	h3
		font-weight: normal
		margin: 0
		text-transform: uppercase
		font-family: $t-2
		font-size: 14px
		color: $c-1
	ul
		display: flex
		flex-wrap: wrap
		margin: 17px 0 0 0
	li
		margin: 0 12px 5px 0
		position: relative
		padding: 0 42px 0 12px
		height: 28px
		box-sizing: border-box
		display: flex
		align-items: center
		background: $c-6
		font-family: $t-0
		font-size: 12px
		color: $c-0
		border-radius: 2px
		&:last-child
			margin: 0
	span
		cursor: pointer
		display: block
		position: absolute
		top: 7px
		right: 12px
		width: 12px
		height: 12px
		&:before
			content: "\e906"
			position: absolute
			top: 0
			left: 0
			font-family: icomoon
			color: $c-1
			font-size: 12px
.nav__delete__filters
	cursor: pointer
	margin: 24px 0 0 0
	font-family: $t-2
	font-size: 14px
	color: $c-3
.nav__title__filters
	position: relative
	padding: 22px 0
	box-sizing: border-box
	display: flex
	align-items: center
	border-top: 1px solid $c-7
	border-bottom: 1px solid $c-7
	margin: 25px 0 0 0
	color: $c-3
	h4
		text-transform: uppercase
		line-height: 1
		box-sizing: border-box
		margin: 0 0 0 8px
		font-family: $t-2
		font-size: 16px
		color: $c-3
.nav__title__icono__filters
	color: $c-3
	span
		width: 18px
		height: 2px
		margin: 0 auto 3px auto
		display: block
		background: $c-3
		&:nth-child(2)
			width: 12px
		&:last-child
			margin-bottom: 0
			width: 4px
.items__precio__slider
	margin: 20px 0 0 0
.icon__prev--productos, .icon__next--productos
	height: 40px
	width: 40px
	border-radius: 100%
	background-color: $c-6
	color: $c-0
	transition: all .3s ease
	margin: 0px 3px
	cursor: pointer
	div
		position: relative
		height: 100%
		width: 100%
		&:before
			content: "\e913"
			font-family: icomoon
			height: 20px
			width: 20px
			font-size: 20px
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			margin: auto
	@media screen and (min-width: 1024px)
		&:hover
			background-color: $c-2
			color: $blanco
			transition: all .3s ease
.icon__next--productos
	div:before
		content: "\e914"
.lists__pager
	display: flex
	margin: 0
	li
		margin: 0 8px 0 0
	a
		color: $negro

.productos__banner__box,
.productos__banner__responsive
	width: 100%
	height: 260px

.productos__slider__bakcground,
.productos__banner__bakcground__responsive
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(0,0,0,0.4)

.productos__slider__content,
.productos__banner__content__responsive
	width: 100%
	height: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	align-items: center
	position: relative
	justify-content: center

.productos__slider__content
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

.productos__slider__title,
.productos__banner__title__responsive
	position: relative
	padding-left: 32px
	h3
		font-family: $t-2
		font-size: 36px
		color: $blanco
		margin-bottom: 0
	&:before
		content: '\e92d'
		position: absolute
		bottom: 12px
		left: 0
		font-family: $icomoon
		font-size: 47px
		color: $c-3

.productos__banner__responsive
	display: none

.productos__banner__slider
	.slick-dots
		bottom: 18px
		right: 20px
		text-align: right
		z-index: 30
		li
			margin: 0px 3px 
			button
				&:before
					font-size: 10px
					color: $blanco
					opacity: 0.5
		li.slick-active 
			button
				&:before
					color: $blanco
					opacity: 1

@media screen and (min-width: 1025px)
	.menu__migas__catalogo a:hover
		color: #000
@media screen and (max-width: 1200px)
	.catalogo__nav
		width: 230px
	.catalogo__productos
		width: calc(100% - 230px)
	.content__select__catalogo
		margin-left: 10px	
@media screen and (max-width: 1024px)
	.filter__button__static__mobile
		.catalogo__responsive__button
			position: static
	.catalogo__responsive__head
		display: flex
		padding: 0 15px
		height: 60px
		align-items: center
		box-sizing: border-box
	.catalogo__wrap
		height: calc(100% - 60px)
		overflow: auto
		max-height: 400px
		padding: 0 15px
	.catalogo__productos
		width: 100%
		padding-left: 0
	.catalogo__responsive__button
		display: block	
	.productos__banner__responsive
		display: block
	.banner__catalogo
		display: none		
	.content__catalogo__main
		padding: 50px 0px
	.catalogo__products__ctn
		padding: 30px 20px 0px 20px
		box-sizing: border-box
	.productos__banner__responsive
		padding: 0px 20px
		box-sizing: border-box
	.menu__migas__catalogo
		ul
			justify-content: center
	.title__catalogo
		text-align: center
	.catalogo__nav
		max-width: 480px
		width: 100%
		height: 70%
		max-height: 400px
		position: fixed
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		visibility: hidden
		margin: auto
		transform: translateY(200%)
		transition: all .3s linear
		z-index: 2500
		background: #fff
		&.active
			opacity: 1
			visibility: visible
			transform: translateY(0)
	.nav__item
		.nav__item__title
			padding-left: 15px
			padding-right: 15px
		&:last-child
			border-bottom: 1px solid $c-7
	.nav__item__content
		padding-left: 15px
		padding-right: 15px
	.catalogo__productos
		width: 100%
		padding-left: 0
	.catalogo__item
		.item__content
			padding: 15px
	.catalogo__item
		width: 28.66666666666667%
		margin-right: 7%
		margin-bottom: 30px
		&:nth-child(3n + 3)
			margin-right: 0
	.catalogo__pager
		margin-top: 30px
	.items__precio__slider
		display: none
	.items__precios__cantidad
		margin: 10px 0 0 0
	.content__catalogo
		margin: 0
	.nav__all__filters
		padding-top: 25px
@media screen and (max-width: 770px)
	.nav__pager
		display: none
	.nav__order, .nav__select, .nav__pager
		justify-content: flex-start
	.nav__item__title--productos
		justify-content: flex-start
	.nav__order
		margin-right: 25px
	.catalogo__item
		.item__general__content
			padding: 40px 25px 32px 25px
@media screen and (max-width: 767px)
	.nav__item__title
		height: auto
		padding: 10px 0
	.nav__item__title
		flex-direction: row
		flex-wrap: wrap
	.catalogo__item
		width: 31%
		margin-right: 3%
		&:nth-child(3n + 3)
			margin-right: 0		
		// &:nth-child(even)
		// 	margin-right: 0

@media screen and (max-width: 680px)
	.catalogo__item
		width: 46%
		margin-right: 8%
		&:nth-child(3n + 3)
			margin-right: 8%		
		&:nth-child(even)
			margin-right: 0
	.catalogo__products__ctn
		padding: 30px 15px 0px 15px
	.productos__banner__responsive
		padding: 0px 15px
	.productos__banner__responsive
		height: 220px
	.productos__banner__title__responsive 
		h3
			font-size: 32px
		&:before
			font-size: 35px

@media screen and (max-width: 480px)
	.menu__migas__catalogo li
		padding: 0 10px
	.nav__order, .nav__select
		display: block
	.nav__order
		margin-right: 32px
	.content__select__catalogo
		margin-left: 0
		margin-top: 12px
	.catalogo__item
		width: 49%
		margin-right: 2%
		&:nth-child(3n + 3)
			margin-right: 2%	
		&:nth-child(even)
			margin-right: 0	
		.item__general__content	
			padding: 25px 10px 25px 10px
	.item__general__text
		font-size: 13px
	.nav__item__title--productos
		flex-wrap: wrap
	.productos__banner__responsive
		height: 180px
	.productos__banner__title__responsive 
		h3
			font-size: 28px
		&:before
			font-size: 25px
	.content__catalogo__main
		padding: 40px 0px
@media screen and (max-width: 400px)
	.productos__banner__title__responsive 
		padding-left: 0
		h3
			font-size: 24px
		&:before
			display: none
	.productos__banner__responsive
		height: 160px