// block3 *************************
.producto_detalle_block3_content
	padding: 53px 20px 0 20px
	box-sizing: border-box
	max-width: 1180px
	width: 100%
	height: auto
	margin: 0 auto
.producto_detalle_block3_h2
	text-align: center
	padding-bottom: 35px
	box-sizing: border-box

// +++ slider +++
.producto_detalle_block3_slider
	padding: 0 65px 0 65px
	margin-bottom: 45px
	.slick-prev, .slick-next
		width: 50px
		height: 50px
		background: $blanco
		border-radius: 50%
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1)
		transition: all .25s ease-in-out
		z-index: 2
		&:before
			content: ""
			display: block
			width: 100%
			height: 100%
			line-height: 50px
			color: $c-1
			font-family: $icomoon
			font-size: 40px
			opacity: 1
			transition: all .25s ease-in-out
			position: absolute
			top: 0
			left: 0
		@media screen and (min-width: 1025px)
			&:hover
				background: $c-2
				&:before
					color: $blanco

	.slick-prev
		left: -65px
		&:before
			content: "\e913"

	.slick-next
		right: -65px
		&:before
			content: "\e914"

.producto_detalle_block3_slider
	box-sizing: border-box
	padding: 0 6px

.producto_detalle_block3_container
	width: 100%
@media screen and (max-width: 1200px)
	.producto_detalle_block3_content
		width: 90%
@media screen and (max-width: 960px)
	.producto_detalle_block3_content
		width: 85%
@media screen and (max-width: 767px)
	.producto_detalle_block3_slider
		// padding: 0
		.slick-prev, .slick-next
			display: none !important
	.producto_detalle_block3_h2
		padding-bottom: 25px

@media screen and (max-width: 767px)
	.producto_detalle_block3_content
		width: 100%
		padding-left: 10px
		padding-right: 10px

@media screen and (max-width: 480px)
	.producto_detalle_block3_slider
		padding: 0 5px
		.slick-list
			padding-right: 120px
		.item__general__content
			padding-left: 5px
			padding-right: 5px

	.home-b3_slider_item
		padding: 10px 5px

