// block2 *************************
.producto_detalle_block2
	background-color: $c-6
.producto_detalle_block2_content
	max-width: 771px
	width: 100%
	padding: 44px 20px 61px 20px
	box-sizing: border-box
	height: auto
	margin: 0 auto

.producto_detalle_block2_description
	font-family: $t-0
	color: $c-0
	h3
		font-size: 25px
		padding-right: 133px
		box-sizing: border-box
	li
		font-size: 20px
		margin-top: 5px

.producto_detalle_block2_description_box2
	border-top: 1px solid $c-8
	border-bottom: 1px solid $c-8
.producto_detalle_block2_description_box1, .producto_detalle_block2_description_box2, .producto_detalle_block2_description_box3
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: flex-start
	padding-top: 29px
	padding-bottom: 29px
	box-sizing: border-box
	width: 100%

.producto_detalle_block2_description_box2_ul>ul
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: flex-start
	width: 100%
.producto_detalle_block2_description_box2_ul>ul>li
	width: 49%
	margin: 0
	padding-bottom: 20px
.producto_detalle_block2_description_box2_ul>ul>li:nth-child(odd)
	padding-right: 20px
	box-sizing: border-box

@media screen and (max-width: 767px)
	.producto_detalle_block2_description h3
		padding-right: 20%
@media screen and (max-width: 640px)
	.producto_detalle_block2_description_box1, .producto_detalle_block2_description_box2, .producto_detalle_block2_description_box3
		flex-direction: column
		align-items: center
	.producto_detalle_block2_description_box1_h3, .producto_detalle_block2_description_box2_h3, .producto_detalle_block2_description_box3_h3
		padding-bottom: 20px
	.producto_detalle_block2_description_box2_ul > ul > li
		text-align: center
	.producto_detalle_block2_content
		h2
			text-align: center

@media screen and (max-width: 480px)
	.producto_detalle_block2_description_box2_ul > ul
		flex-direction: column
		text-align: center
	.producto_detalle_block2_description_box2_ul
		width: 100%
	.producto_detalle_block2_description h3
		padding-right: initial
	.producto_detalle_block2_description_box2_ul > ul > li:nth-child(odd)
		padding-right: initial
	.producto_detalle_block2_description_box2_ul > ul > li
		width: 100%

