// block1 *************************
body.detalle__producto
	.header--fixed--ctn
		display: none
	.header--detalle
		display: block
	.zoomWindow
		border: 0 !important
		width: 100% !important
		height: 500px !important
	#fbplus-content
		border: 0 !important
	#fbplus-overlay
		opacity: .5 !important
		background-color: $negro !important
	#fbplus-title
		display: none !important
	#fbplus-close
		background: none !important
		top: 20px !important
		right: 20px !important
		&:before
			content: "\e605"
			font-family: icomoon
			position: absolute
			top: 0
			left: 0
			color: $c-1
			font-size: 24px
	#fbplus-right-ico, #fbplus-left-ico
		background: none !important
		&:before
			font-family: icomoon
			position: absolute
			top: 0
			left: 0
			color: $c-1
			font-size: 35px
	#fbplus-left-ico:before
		content: "\e607"
	#fbplus-right-ico:before
		content: "\e606"
.ZoomContainer
	z-index: 2 !important

	// ***************************

.producto_detalle_block1
	padding-top: 56px
	padding-bottom: 54px
	box-sizing: border-box
.producto_detalle_block1_content
	width: 100%
	max-width: 1100px
	height: auto
	margin: 0 auto
	box-sizing: border-box
	padding: 0 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: flex-start

.producto_detalle_block1_box2_title
	padding-bottom: 26px
	box-sizing: border-box
	p
		font-family: $t-0
		font-size: 13px
		color: $c-0
		margin-bottom: 0
		strong
			font-family: $t-0
			color: $c-0
			font-weight: normal
	h2
		font-family: $t-1
		font-weight: normal
		font-size: 27px
		color: $c-1
		max-width: 326px
		margin: 0
		margin-top: 12px
		strong
			font-family: $t-1
			font-weight: normal

.producto_detalle_block1_box1
	width: 640px
.producto_detalle_block1_box1_slider
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	img
		max-width: 100%
		display: block
		height: auto
.producto_detalle_block1_box1_slider_nav
	width: 70px
	.slick-slide
		margin: 0 0 10px 0
		cursor: pointer
	.slick-current
		border-color: $c-3
.producto_detalle_block1_box1_slider_img
	width: calc(100% - 140px)
	height: 500px
	overflow: hidden
	position: relative

.producto_detalle_block1_box1_slider_img_item
	width: 100%
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	z-index: -1
	&.active
		opacity: 1
		visibility: visible
		position: relative
		z-index: 1

.producto_detalle_block1_box1_slider_nav_thumb
	a
		display: block
		border: 1px solid transparent
		outline: none
		padding: 2px
	a.active
		border: 1px solid $c-7

.producto_detalle_block1_box1_btn
	text-align: center
	margin-top: 20px

.producto_detalle_block1_box2_buy_title
	font-family: $t-0
	font-weight: bold
	font-size: 13px
	color: $c-0
	margin-top: 30px
	p
		margin-bottom: 0

.producto_detalle_block1_box2_buy
	display: flex
	flex-direction
	flex-wrap: wrap
	justify-content: space-between
	box-sizing: border-box
	padding-bottom: 30px	
	margin: 15px 0 0 0
	.item__car__cant__select
		width: 106px
		height: 50px
		box-sizing: border-box
	.item__car__more
		width: 35.5px
		top: 10px
		font-size: 16px
		height: 50px
		line-height: 50px
		top: 0
		font-weight: bold
		color: $c-0
	.iten__car__minus
		width: 35.5px
		bottom: 10px
		font-size: 16px
		height: 50px
		line-height: 50px
		font-weight: bold
		color: $c-0
	.btn__general__text
		padding: 0 30px
.ctn__producto__detalle__info__btn
	padding: 0 0
	box-sizing: border-box
	margin-left: 17px
.producto_detalle_block1_box2_country
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	color: $c-0
	font-family: $t-2
	font-size: 13px
	img, p
		display: inline-block
		vertical-align: middle
	img
		width: 20px
		height: 12px
		margin: 0
		padding-right: 10px
	p
		margin: 0

.producto_detalle_block1_box2_button
	border-top: 1px solid $c-7
	padding-top: 19px
	text-align: center
	a
		color: $c-0
		font-family: $t-2
		font-size: 13px
		position: relative
		padding-left: 20px
		&:before
			position: absolute
			top: 0
			left: 0
			content: "\e90c"
			font-size: 15px
			font-family: $icomoon
			color: $c-0
.producto_detalle_block1_box2_description
	max-width: 273px
	width: 100%
	line-height: 22.8px
	font-size: 15px
	font-family: $t-0
	color: $c-0
	margin-top: 26px
	margin-left: 0
	strong
		font-family: $t-0
		font-weight: bold
.producto_detalle_block1_box2_registro
	max-width: 273px
	width: 100%
	line-height: 22.8px
	font-size: 15px
	font-family: $t-0
	color: $c-0
	margin-left: 0
	strong
		font-family: $t-0
		font-weight: bold
.producto_detalle_block1_box2
	width: calc(100% - 640px)
	padding-left: 94px
	box-sizing: border-box


@media screen and (max-width: 1100px)
	.producto_detalle_block1_content
		max-width: 860px

	.producto_detalle_block1_box1_slider
		flex-direction: column-reverse
		justify-content: flex-start
	.producto_detalle_block1_box1_slider_nav
		max-width: 258px
		width: 100%
		margin: 0 auto
		.slick-current
			a
				border: 1px solid $c-7 !important
				box-sizing: border-box
	.producto_detalle_block1_box1_slider_nav_thumb
		a.active
			border: 1px solid transparent
	.producto_detalle_block1_box1
		width: 400px
	.producto_detalle_block1_box1_slider_img
		width: 100%
		height: auto
		overflow: inherit
		margin-bottom: 30px
	.producto_detalle_block1_box2
		width: calc(100% - 400px)
	.producto_detalle_block1_box1_slider_nav_thumb
		box-sizing: border-box
		padding: 0 5px
@media screen and (max-width: 960px)
	.producto_detalle_block1_box1
		width: 100%
		max-width: 400px
		margin: 0 auto
	.producto_detalle_block1_content
		flex-direction: column
	.producto_detalle_block1_box2
		width: 80%
		margin: 0 auto
		padding-left: initial
	.producto_detalle_block1_box2_title
		h2
			max-width: 100%

	.producto_detalle_block1_box1_btn
		margin-top: 30px
		margin-bottom: 30px

	.producto_detalle_block1_box2_buy
		justify-content: flex-start
			
@media screen and (max-width: 767px)
	.producto_detalle_block1
		padding-top: 30px
	.producto_detalle_block1_box1
		max-width: 90%
		margin: 0 auto
	.producto_detalle_block1_box1_slider_nav
		width: 90%
		max-width: 360px
		margin: 15px auto 0 auto
		padding: 0 1px
		box-sizing: border-box
		order: 2
		.slick-slide
			margin: 0 8px 0 8px
	.producto_detalle_block1_box1_slider_nav_ul
		padding: 0 1px
		box-sizing: border-box
	.producto_detalle_block1_box1_slider_img
		width: 100%
		max-width: 480px
		margin: 0 auto
		order: 1
	.producto_detalle_block1_box1_slider
		flex-direction: column
		width: 90%
		margin: 0 auto

	// .producto_detalle_block1_box2_buy
	// 	justify-content: center

	.producto_detalle_block1_box1_slider_img
		height: auto
	.producto_detalle_block1_box2
		padding-top: 30px
@media screen and (max-width: 480px)
	.producto_detalle_block1_box2
		width: 100%

@media screen and (max-width: 370px)
	.producto_detalle_block1_box2_buy
		flex-direction: column
		justify-content: flex-start
		// align-items: center
	.ctn__producto__detalle__info__btn
		margin-top: 30px
		margin-left: 0