.restore__password__container
	padding: 82px 0px

.restore__password__content
	max-width: 530px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto

.restore__password__title
	padding-bottom: 20px
	text-align: center
	h3
		font-family: $t-1
		font-size: 30px
		color: $c-4
		margin-bottom: 0

.restore__password__text
	font-family: $t-0
	font-size: 14px
	color: $c-0
	padding-bottom: 45px
	text-align: center
	line-height: 1.2
	p
		margin-bottom: 0

.restore__password__input
	max-width: 430px
	width: 100%
	box-sizing: border-box
	margin: auto

.restore__password__btn
	padding-top: 42px
	text-align: center
	a
		border-radius: 3px

@media screen and (max-width: 640px)
	.restore__password__container
		padding: 70px 0px

	.restore__passwor__content
		padding: 0px 15px

	.restore__password__title h3
		font-size: 26px

@media screen and (max-width: 480px)
	.restore__password__title h3
		font-size: 22px

	.restore__password__text
		font-size: 13px
		padding-bottom: 35px

	.restore__password__container
		padding: 50px 0px

	.restore__password__btn
		padding-top: 35px

