// block3 *************************
.servicio_block3
	display: flex
	flex-direction: row
	flex-wrap: wrap
	height: auto
	width: 100%

.servicio_block3_left, .servicio_block3_right
	width: 50%
	box-sizing: border-box

.servicio_block3_left
	padding-top: 20px

.servicio_block3_left_wrap
	background: $c-6
	padding-left: 20px

.servicio_block3_box1_content
	max-width: 463px
	width: 100%
	box-sizing: border-box
	position: relative
	box-sizing: border-box
	padding-top: 85.5px
	padding-bottom: 85.5px
	padding-right: 121px
	margin-right: 0
	margin-left: auto

.servicio_block3_span
	position: absolute
	left: -100%
	top: 50%
	z-index: 2
	transform: translateY(-50%)

.servicio_block3_box2
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	align-items: flex-start
	justify-content: flex-start
	position: relative

.servicio_block3_box1_h2
	font-family: $t-1
	color: $c-2
	h2
		font-weight: normal
		font-size: 30px

.servicio_block3_box1_p, .servicio_block3_box1_ul
	font-family: $t-0
	font-size: 15px
	color: $c-0
	line-height: 22px
	margin-top: 22px
.servicio_block3_box1_ul
	li
		margin-top: 20px
		position: relative
		padding-left: 40px
		&:before
			content: "\e918"
			position: absolute
			top: 0
			left: 0
			font-family: $icomoon
			font-size: 20px
			color: $c-2
.servicio_block3_box2_span
	position: absolute
	left: 32px
	top: 4.7%
	width: 12%
	height: auto
	z-index: 2

.servicio_block3_box2_video
	height: auto
	width: 100%
	position: relative
	figure
		img
			margin: 0
			display: block
.servicio_block3_box2_video_a
	position: absolute
	height: 100%
	width: 100%
	z-index: 3
	top: 0
	left: 0
	
	&:before
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin: 0 auto
		content: ""
		width: 30px
		height: 30px
		background-color: #283440
		transition-duration: .2s
	&:after
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin: 0 auto
		content: "\e920"
		font-family: $icomoon
		font-size: 70px
		color: $blanco
		transition-duration: .2s
.servicio_block3_box2_video_a_capa
	width: 100%
	height: 100%
	background: rgba(240,125,48,0.2)
	opacity: 0
.servicio_block3_box2_video_a:hover
	@media screen and (min-width: 1025px)
		&:after
			font-size: 75px
		&:before
			background-color: $c-3
		.servicio_block3_box2_video_a_capa
			
			opacity: 1

.servicio_block3_box2_p
	background-color:  $c-3
	padding: 56.5px 15.37%
	box-sizing: border-box
	color: $blanco
	font-family: $t-2
	margin-top: -3px
	p
		font-size: 20px
		line-height: 28px
		margin-bottom: 0

@media screen and (max-width: 1024px)
	.servicio_block3_box2_p
		padding: 45px 13%
		p
			margin: 0
	.servicio_block3_box1_content
		flex-direction: column
		max-width: none
		padding-top: 50px
		padding-bottom: 50px

@media screen and (max-width: 960px)
	.servicio_block3
		flex-direction: column

	.servicio_block3_left, .servicio_block3_right
		width: 100%

	.servicio_block3_left
		padding-top: 0

	.servicio_block3_left_wrap
		padding: 50px 20px

	.servicio_block3_box1_content
		padding: 0

	.servicio_block3_box2_p
		padding: 50px 20px

@media screen and (max-width: 767px)
	.servicio_block3_left_wrap
		padding: 40px 15px

	.servicio_block3_box1_h2
		h2
			font-size: 24px
	
	.servicio_block3_box2_p
		padding: 40px 15px
		p
			font-size: 16px