.servicio_tecnico_consultas
	background: $c-2
	padding: 0 20px
	.formError
		.formErrorContent,
		.formErrorArrow div
			background-color: $c-3
			color: $blanco
			border: none
			font-size: 12px
			font-family: $t-0
		.formErrorArrow
			.line1,.line2,.line3
				display: none

.stc_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1140px
	width: 100%
	margin: auto

.stc_left
	display: flex
	flex-direction: column
	justify-content: flex-end
	width: 41%

.stc_right
	display: flex
	flex-direction: column
	justify-content: center
	width: 59%
	box-sizing: border-box
	padding: 10px 0 10px 50px

.stc_img
	max-width: 467px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.stc-info
	max-width: 567px
	width: 100%
	margin: 0

.stc_title
	max-width: 332px
	width: 100%
	margin-right: auto
	margin-bottom: 25px
	margin-left: 0
	h2
		line-height: 36px
		color: $blanco
		font-family: $t-1
		font-size: 35px
		margin-bottom: 0

.stc_form
	margin-bottom: 45px

.stc_form_campo
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.stc_form_input
	width: calc(100% - 205px)
	input
		width: 100%
		height: 50px
		background: $blanco
		color: $c-4
		font-family: $t-0
		font-size: 14px
		border: none
		border-radius: 3px
		box-sizing: border-box
		padding: 0 20px

.stc_form_button
	width: 195px
	button
		width: 100%
	.btn__general
		display: block
	.btn__general__text
		padding: 0

.stc_text
	line-height: 20px
	color: $blanco
	font-family: $t-0
	font-size: 14px
	margin-bottom: 30px
	p
		margin-bottom: 0

.stc_links
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: center
	li
		margin: 0 60px 0 0
		&:last-child
			margin-right: 0

.stc_link
	display: inline-block
	line-height: 1
	background: $c-3
	color: $blanco
	font-family: $t-2
	font-size: 14px
	padding: 16px 26px
	border-radius: 6px

// TABLA
.servicio__table
	width: 100%
	height: 220px
	// overflow: auto

.table__list
	color: $c-4
	margin: 0
	font-size: 15px

.table__list__title
	text-align: center
	color: $c-4
	font-size: 14px
	font-family: $t-1

.table__list__subtitle
	background: $c-2
	color: $blanco
	font-family: $t-2
	font-size: 14px
	td
		&:first-child
			padding-left: 5px

.table__list__content
	font-family: $t-0
	font-size: 13px
	color: $c-4
	border-bottom: 1px solid #E4E4E4
	&:last-child
		border-bottom: none
	span
		padding-right: 20px
		display: block

.pop-up
	width: 100%
	height: 100%
	padding: 0px 15px
	box-sizing: border-box
	max-height: 550px
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 210
	transition: all .3s ease-in-out
	visibility: hidden
	opacity: 0
	&.active
		opacity: 1
		visibility: visible
		transition: all .4s ease-in-out

.pop-up-container
	max-width: 700px
	width: 100%
	height: 100%
	background: $blanco
	position: relative
	box-sizing: border-box
	margin: auto
	border-radius: 20px

.pop-up-close
	width: 25px
	height: 25px
	line-height: 25px
	margin: auto
	margin-right: 0
	text-align: center
	cursor: pointer
	z-index: 10
	margin-bottom: 40px
	span
		color: #D3D3D3
		font-size: 25px

.pop-up-content
	width: 100%
	height: 100%
	overflow: auto
	overflow-y: auto
	padding: 28px 43px 54px
	box-sizing: border-box
	margin: auto

.pop-up-title
	text-align: center
	padding-bottom: 45px
	h3
		font-family: $t-1
		font-size: 35px
		color: $c-2
		margin-bottom: 0

.pop-up-table
	width: 100%
	box-sizing: border-box
	overflow: auto
	margin-bottom: 55px

.overlay-popup
	width: 100%
	height: 100%
	position: fixed
	z-index: 100
	top: 0
	left: 0
	background: #000
	opacity: 0
	visibility: hidden
	transition: all .4s ease-in-out
	&.active
		opacity: 0.85
		visibility: visible
		z-index: 200
		transition: all .3s ease-in-out



@media screen and (max-width: 960px)
	.servicio_tecnico_consultas
		padding: 50px 20px

	.stc_left
		display: none

	.stc_right
		width: 100%
		padding: 0

	.stc-info
		max-width: none

	.stc_title
		h2
			line-height: 1.2
			font-size: 30px

	.stc_form
		margin-bottom: 30px

	.stc_text
		margin-bottom: 20px

@media screen and (max-width: 767px)
	.servicio_tecnico_consultas
		padding: 40px 15px

	.stc_title
		h2
			font-size: 26px

	.stc_form_input
		input
			height: 40px
			padding: 0 15px

	.stc_form_button
		.btn__general
			height: 40px
		.btn__general__text
			line-height: 40px

	.pop-up-title
		padding-bottom: 45px
		h3
			font-size: 28px

	.pop-up-content
		padding: 40px 25px 45px

	.stc_links li
		margin: 0 30px 0 0

	.stc_link
		font-size: 13px

@media screen and (max-width: 480px)
	.stc_form_input
		width: calc(100% - 120px)

	.stc_form_button
		width: 110px

	.stc_links
		ul
			flex-direction: column
			align-items: inherit
		li
			margin-bottom: 15px
			margin-right: 0
			text-align: center
			&:last-child
				margin-bottom: 0

	.pop-up-table
		margin-bottom: 35px

	.pop-up-close
		margin-right: -15px
		margin-bottom: 20px

	.pop-up-content
		padding: 20px 25px 30px

	.pop-up-title h3
		font-size: 25px