.servicio a
	outline: none
// block2 *************************
.servicio_block2
	display: flex
	flex-direction: row
	flex-wrap: wrap
.servicio_block2_left, .servicio_block2_right
	width: 50%
	box-sizing: border-box
.servicio_block2_left
	padding-top: 50px
	padding-bottom: 69px
	padding-left: 20px
.servicio_block2_right
	padding-top: 50px
	padding-right: 20px
	padding-bottom: 69px
.servicio_block2_box1
	max-width: 463px
	width: 100%
	font-family: $t-1
	color: $c-2
	box-sizing: border-box
	padding-right: 153px
	margin-left: auto
	margin-right: 0
.servicio_block2_box2
	max-width: 580px
	width: 100%
	margin-left: 0
	margin-right: auto
.servicio_block2_box1_h2
	h2
		font-weight: normal
		font-size: 30px
.servicio_block2_box2_p
	font-family: $t-0
	color: $c-0
	padding-bottom: 30px
	box-sizing: border-box
	p
		font-size: 15px
		line-height: 22px
.servicio_block2_box2_phone
	position: relative
	padding-left: 48px
	box-sizing: border-box
	&:before
		content: "\e924"
		font-family: $icomoon
		position: absolute
		top: -3px
		left: 0
		font-size: 30px
		color: $c-3
	p
		font-family: $t-2
		color: $c-1
		font-size: 23px
.servicio_block2_box2_email
	position: relative
	padding-left: 48px
	box-sizing: border-box
	margin-top: 2m0px
	&:before
		content: "\e90d"
		font-family: $icomoon
		position: absolute
		top: -3px
		left: 0
		font-size: 30px
		color: $c-3
	a
		font-family: $t-2
		color: $c-1
		font-size: 23px

@media screen and (max-width: 1024px)
	.servicio_block2_left
		padding-top: 50px
		padding-bottom: 50px

	.servicio_block2_right
		padding-top: 50px
		padding-bottom: 50px

	.servicio_block2_box1
		max-width: none
		padding-right: 173.5px

@media screen and (max-width: 960px)
	.servicio_block2
		flex-direction: column
		padding: 50px 20px

	.servicio_block2_left, .servicio_block2_right
		width: 100%
		padding: 0

	.servicio_block2_left
		margin-bottom: 30px

	.servicio_block2_box1
		max-width: 310px
		width: 100%
		padding: 0
		margin-left: 0
		margin-right: auto
	.servicio_block2_box2
		max-width: none
	.servicio_block2_box2_p
		padding: 0
		margin-bottom: 30px
	.servicio_block2_box1
		padding-left: initial
	
@media screen and (max-width: 767px)
	.servicio_block2
		padding: 40px 15px

	.servicio_block2_box2_phone
		padding-left: 29px
		p
			font-size: 14px

	.servicio_block2_box2_email
		padding-left: 29px
		a
			font-size: 14px

	.servicio_block2_box2_phone:before
		font-size: 23px
	.servicio_block2_box2_email:before
		font-size: 23px
	.servicio_block2_box1_h2
		h2
			font-size: 24px