// block4 *************************

.servicio_block4_content
	max-width: 1051px
	height: auto
	margin: 0 auto
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	align-items: flex-start
	justify-content: center
	padding: 50px 20px 0 20px
	box-sizing: border-box
.servicio_block4_tab_items
	padding-top: 70px
	padding-bottom: 80px
	box-sizing: border-box
	width: 100%
	height: auto
	position: relative
	overflow: hidden !important
.servicio_block4_item
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: flex-start
	justify-content: center
	opacity: 0
	visibility: hidden
	transition: all .2 ease-in-out
	position: absolute
	top: 0
	left: 0
	&.active
		opacity: 1
		visibility: visible
		position: relative
.servicio_block4_item_box1, .servicio_block4_item_box2
	width: 50%
.servicio_block4_tab
	border-bottom: 1px solid $c-7
	width: 100%
	overflow-x: auto
	ul
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: flex-start
		justify-content: flex-start
	li
		text-align: left
		font-family: $t-1
		font-size: 14px
	a
		white-space: nowrap
		padding: 28px 80px 28px 20px
		box-sizing: border-box
		color: $c-1
		position: relative
		height: 100%
		display: block
		transition: all .2s ease-in-out
		&:before
			transition: all .2s ease-in-out
			position: absolute
			content: ""
			width: 100%
			bottom: 0
			left: 0
			opacity: 0
			visibility: hidden
		&:hover
			color: $c-3
			&:before
				border-bottom: 1px solid $c-3
				opacity: 1
				visibility: visible
		&.active
			color: $c-3
			&:before
				border-bottom: 1px solid $c-3
				opacity: 1
				visibility: visible
.servicio_block4_item_box2
	padding-left: 53px
	border-box: border-box
.servicio_block4_item_box1_imgbox
	position: relative
.servicio_block4_item_box1_img
	position: absolute
	height: 100%
	width: 100%
	z-index: 3
	top: 0
	left: 0
	&:before
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin: 0 auto
		content: ""
		width: 30px
		height: 30px
		background-color: #283440
		transition-duration: .2s
	&:after
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		margin: 0 auto
		content: "\e920"
		font-family: $icomoon
		font-size: 70px
		color: $blanco
		transition-duration: .2s
.servicio_block4_item_box1_capa
	width: 100%
	height: 100%
	background: rgba(240,125,48,0.2)
	opacity: 0
.servicio_block4_item_box1_img:hover
	@media screen and (min-width: 1025px)
		&:after
			font-size: 75px
		&:before
			background-color: $c-3
		.servicio_block4_item_box1_capa	
			opacity: 1
.servicio_block4_item_box2_h2
	font-family: $t-2
	color: $c-1
	h2
		font-size: 24px
		font-weight: normal
.servicio_block4_item_box2_p
	font-family: $t-0
	color: $c-0
	p
		font-size: 16px
		margin: 0
		line-height: 20px
	p:nth-child(2)
		margin-top: 25px
	ul
		margin-top: 25px
	li
		position: relative
		padding-left: 10px
		box-sizing: border-box
		margin-top: 10px
		&:before
			content: ""
			position: absolute
			width: 4px
			height: 4px
			border-radius: 30px
			background-color: #F17D30
			left: 0
			top: 5px

.servicio_block4_item_box1_a
	float: right
	margin-top: 31px
	a
		border-radius: 2px

@media screen and (max-width: 960px)
	.servicio_block4_item_box1
		width: 100%
	.servicio_block4_item_box2
		width: 100%
		padding-top: 40px
	
	.servicio_block4_content
		width: 90%
@media screen and (max-width: 767px)
	.servicio_block4_item
		flex-direction: column
	.servicio_block4_item_box2
		padding-left: initial
@media screen and (max-width: 575px)
	.servicio_block4_content
		padding: 29px 20px 0 20px
		width: 100%
	.servicio_block4_item_box2_h2 h2
		font-size: 21px
	.servicio_block4_item
		width: 100%
	.servicio_block4_item_box1_a
		float: initial