.servicio_tecnico_respaldo
	background: $c-14
	padding: 80px 20px 77px 20px

.str_content
	max-width: 1144px
	width: 100%
	margin: auto

.str_title
	text-align: center

.str_block
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

.str_box
	width: 25%
	border-right: 1px solid $blanco
	box-sizing: border-box
	padding: 20px 10px 0 10px
	margin: 50px 0 10px 0
	&:last-child
		border-right: none

.str_wrap
	max-width: 157px
	width: 100%
	margin: 0 auto

.str_group
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin: 0 0 13px 0

.str_box_number, .str_box_simbolo
	display: block
	line-height: 1
	color: $c-2
	font-family: $t-2
	font-size: 50px
	margin: 0

.str_text
	line-height: 23.26px
	color: $c-1
	font-family: $t-0
	font-size: 20px
	p
		margin-bottom: 0

// responsive
@media screen and (max-width: 1024px)
	.servicio_tecnico_respaldo
		padding: 50px 20px

	.str_box_number
		font-size: 35px

	.str_text
		line-height: 21px
		font-size: 18px

@media screen and (max-width: 960px)
	.str_title
		margin-bottom: 30px

	.str_box
		width: 50%
		padding: 30px 10px
		margin: 0
		&:nth-child(1)
			border-bottom: 1px solid $blanco
		&:nth-child(2)
			border-right: none
			border-bottom: 1px solid $blanco
		&:nth-child(3), &:nth-child(4)
			padding-bottom: 0

@media screen and (max-width: 767px)
	.servicio_tecnico_respaldo
		padding: 40px 15px

@media screen and (max-width: 480px)
	.str_box
		width: 100%
		border-right: none
		border-bottom: 1px solid $blanco !important
		padding-bottom: 30px !important
		&:last-child
			border-bottom: none !important
			padding-bottom: 0 !important

	.str_wrap
		max-width: none

	.str_box_number
		font-size: 30px

	.str_text
		line-height: 19px
		font-size: 16px