.terminos__politicas__wrap
	padding: 50px 20px 70px 20px

.terminos__politicas__container
	max-width: 937px
	width: 100%
	margin: auto

.terminos__politicas__lista__title
	margin-bottom: 35px
	h2
		line-height: 30px
		color: $c-4
		font-family: $t-1
		font-weight: normal
		font-size: 25px
		text-align: center
		margin-bottom: 0

.terminos__politicas__lista
	ol
		margin-top: 35px
		margin-left: 11px
		&:first-child
			margin-top: 0
	ol > li
		margin-bottom: 35px
		&:last-child
			margin-bottom: 0
	ol > li > ol
		margin-left: 0
		margin-top: 20px
		&:first-child
			margin-top: 20px
	ol > li
		line-height: 20px
		color: $c-0
		font-family: $t-0
		font-size: 15px
		list-style: upper-roman
	ol > li > ol > li
		list-style: decimal
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	ol > li > ol > li > .terminos__politicas__info
		padding-top: 20px

.terminos__politicas__lista--list
	li 
		list-style: inherit

.terminos__politicas__inside__info
	margin-top: 20px
	
.terminos__politicas__info
	line-height: 18.8px
	font-family: $t-0
	font-size: 14px
	text-align: justify
	padding-top: 35px
	margin-left: -12px
	p
		margin-top: 20px
		margin-bottom: 0
		&:first-child
			margin-top: 0

@media screen and (max-width: 1024px)
	.terminos__politicas__wrap
		padding: 50px 20px

@media screen and (max-width: 767px)
	.terminos__politicas__wrap
		padding: 40px 15px