extends ./_common/base.pug
//- NOTA: No olvidar sacar el punto que está al principio de las url de las imágenes , ese punto es solo para generales
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.banner__general
		.banner__general__container
			.banner__general__background(style=`background-image: url('.${STATIC_URL}img/banner-img.png');`)
				.banner__general__content
					.banner__general__box
						.banner_general__title
							h2 PROYECTOS INTEGRALES
						.banner__general__icon
							img(src=`.${STATIC_URL}img/banner-general-icon.png`, alt="")

//- js
append scripts 
	script(src=`.${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
		})