extends ./_common/base.pug
//- btn
block content

	//- BUTTONS-GENERALES

	a(href="#", class="btn__general btn__general--purple")
		.btn__general__text.btn__general__text1
			span.span__txt__black COTIZAR PRODUCTO
		.btn__general__text.btn__general__text2
			span.span__txt__black COTIZAR PRODUCTO
	
	br
	br

	a(href="#", class="btn__general btn__general--orange")
		.btn__general__text.btn__general__text1
			span.span__txt__black COTIZAR PRODUCTO
		.btn__general__text.btn__general__text2
			span.span__txt__black COTIZAR PRODUCTO

	br
	br

	//- LOGIN

	a(href="#", class="btn__general btn__general--gray")
		.btn__general__text.btn__general__text1
			span.span__txt__black CREAR CUENTA
		.btn__general__text.btn__general__text2
			span.span__txt__black CREAR CUENTA

	br
	br

	a(href="#", class="btn__general btn__general--lightgrey")
		.btn__general__text.btn__general__text1
			span.span__txt__black SOLICITAR INFORMACIÓN
		.btn__general__text.btn__general__text2
			span.span__txt__black SOLICITAR INFORMACIÓN

	br
	br

	a(href="#", class="btn__general btn__general--facebook")
		.btn__general__text.btn__general__text1.btn__general--icon
			span.span__txt__icon.icon-facebook
			span.span__txt__black CREAR CON FACEBOOK
		.btn__general__text.btn__general__text2.btn__general--icon
			span.span__txt__icon.icon-facebook
			span.span__txt__black CREAR CON FACEBOOK
	
	br
	br

	a(href="#", class="btn__general btn__general--google")
		.btn__general__text.btn__general__text1.btn__general--icon
			span.span__txt__icon.icon-google
			span.span__txt__black CREAR CON GMAIL
		.btn__general__text.btn__general__text2.btn__general--icon
			span.span__txt__icon.icon-google
			span.span__txt__black CREAR CON GMAIL

	br
	br

	//- PAGINADOR

	.btn__paginador
		.btn__paginador__prev
			span.icon-flecha-derecha
		ul.paginador__list
			li
				a(href="#") 1
			li
				a(href="#") 2
			li
				a(href="#") 3
			li
				a(href="#") 4
		.btn__paginador__next
			span.icon-flecha-izquierda

	br
	br

	//- SLIDER

	.btn__slider
		.btn__slider__prev
			span.icon-flecha-derecha
		.btn__slider__next
			span.icon-flecha-izquierda

	br
	br

	//- REDES

	.btn__redes
		ul
			li
				a(href="" class="btn__redes__icon btn__redes--facebook")
					span.icon-facebook
			li
				a(href="" class="btn__redes__icon btn__redes--skype")
					span.icon-skype
			li
				a(href="" class="btn__redes__icon btn__redes--youtube")
					span.icon-youtube
	br
	br

	//- TABS

	.btn__tabs.btn__tabs--green
		button(data-id="", class="btn__tabs__box") Todos
		button(data-id="", class="btn__tabs__box") Comercial
		button(data-id="", class="btn__tabs__box") Técnica
		button(data-id="", class="btn__tabs__box") Legal

	br
	br

	.btn__tabs.btn__tabs--gray
		button(data-id="", class="btn__tabs__box") Todos
		button(data-id="", class="btn__tabs__box") Comercial
		button(data-id="", class="btn__tabs__box") Técnica
		button(data-id="", class="btn__tabs__box") Legal

	br
	br