extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`.${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- input
block content
	form(id="formulario-general")
		h3(style="background: #30277D; color:white;padding: 10px 0; font-size:20px") INPUT TYPE TEXT

		.general__input.general__input--hover
			.general__input__inside
				input(type="text", placeholder="Nombre y Apellidos*", class="validate[required] general__input__input")

		br

		.general__input.general__input--hover
			.general__input__inside
				input(type="email", placeholder="Correo Electrónico*", class="validate[required,custom[email]] general__input__input")

		br

		.general__input.general__input--hover
			.general__input__inside
				input(type="number", placeholder="Teléfono", class="soloNumber validate[required,custom[phone]] general__input__input")
			
		br

		h3(style="background: #00AE8D; color:white;padding: 10px 0; font-size:20px") TEXTAREA

		.general__input.general__input--textarea.general__input--hover
			.general__input__inside
				textarea( class="validate[required] general__input__input", placeholder="Mensaje")

		br

		h3(style="background: #F07D30; color:white;padding: 10px 0; font-size:20px") SELECT

		.general__input.general__input--select.general__input__icon--right
			.general__input__inside
				.general__input__ico.general__input__ico__right.icon-flecha-abajo
				select(name="", class="general__input__input")
					option(value="0") Select0
					option(value="1") Select1
					option(value="2") Select2
		
		br

		.general__input.general__input--select.general__input__icon--right
			.general__input__inside
				.general__input__ico.general__input__ico__right.icon-flecha-abajo
				select(name="", class="general__input__input")
					option(value="0") Select0
					option(value="1") Select1
					option(value="2") Select2
		
		br
		
		h3(style="background: #2B2B29; color:white;padding: 10px 0; font-size:20px") CHECKBOX GENERALS

		.general__input.general__input--check--radio.general__input--checkbox
			.general__input__inside
				input(type="checkbox", id="check1")
				label(for="check1", class="general__input--check--radio--label")
					.general__input__inside__container
						.general__input__figure
						.general__input__text Checkbox

		br

		h3(style="background: #00AE8D; color:white;padding: 10px 0; font-size:20px") INPUT TYPE TEXT2

		br

		.input-one-line
			label.input-one__label Nombre y Apellidos*
			input(type="text", class="validate[required] input-one")
			span.input-one--span

		br

		.input-background(style="background-color: #545453; padding: 10px 0;")
			//- copiar desde aquí
			.input-one-line.input-one-line--white
				label.input-one__label Nombre y Apellidos*
				input(type="text", class="validate[required] input-one")
				span.input-one--span

		br

		h3(style="background: #F07D30; color:white;padding: 10px 0; font-size:20px") TEXTAREA2

		br

		.input-one-line
			label.input-one__label Mensaje*
			textarea(type="text", class="validate[required] input-one input-one--textarea")
			span.input-one--span

		br

		.input-background(style="background-color: #545453; padding: 10px 0;")
			//- copiar desde aquí
			.input-one-line.input-one-line--white
				label.input-one__label Mensaje*
				textarea(type="text", class="validate[required] input-one input-one--textarea")
				span.input-one--span

		br

		button(class="btnFormulario") Enviar


append scripts
	script(src=`.${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`.${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		$(function(){
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('btnFormulario').on('click', function(event) {
				event.preventDefault();
				var valid = $("#formulario-general").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#formulario-general").submit();
				}
			});
			//- <<< end >>>
		});


	

