extends ./_common/base.pug
//- items
//- NOTA: No olvidar sacar el punto que está al principio de las url de las imágenes , ese punto es solo para generales
block content

	.item__general(style="max-width: 270px; width: 100%;")
		a(href="").item__general__container
			.item__general__content
				.item__general__precio
					span Nuevo
				.item__general__img
					img(src=`.${STATIC_URL}img/item-general-img.png`, alt="")
				.item__general__info
					.item__general__title
						h3 EDAN
					.item__general__text
						p Monitor fetal gemelar pantalla color tactil 12'' sobremesa +ECG ,NIBP, SPO2, TEMP
			.item__general__btn
				span Cotizar Producto

	br
	br

	.item__general(style="max-width: 280px; width: 100%;")
		a(href="").item__general__container--cap
			.item__general__content--cap
				figure.item__general__img--cap
					img(src=`.${STATIC_URL}img/item-general-cap.png`, alt="", height="207")
				.item__general__box
					.item__general__title--cap(style="color: #F07D30;")
						h3 Técnica
					.item__general__text--cap
						p Gane contratos y adjudicaciones en licitaciones y concursos públicos
					.item__general__date
						p 13 de Diciembre 2017

	br
	br