extends ./_common/base.pug
//- btn
block content
	section.block_titles
		br

		.title.title-big.morado
			h2 Productos Destacados

		br

		.title.title-medium.blanco
			h2 Conoce las noticias del rubro médico

		br

		.title.title-small.gris
			h2 Aún no soy cliente