// BUTTONS
.btn__general
	box-sizing: border-box
	display: inline-block
	position: relative
	overflow: hidden
	transition: all .2s ease
	color: $blanco
	height: 50px
	border: none
	text-align: center
	border-radius: 4px
	@media screen and (min-width: 1025px)
		&:hover
			.btn__general__text1
				transform: translateX(0)
			.btn__general__text2
				transform: translateX(100%)
.btn__general__text
	line-height: 50px
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
	padding: 0 65px
	span
		display: block
		margin: 0
	
.btn__general__text1
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	transform: translateX(-100%)

.btn__general__text2
	transform: translateX(0)

.btn__general--icon
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center

.span__txt__icon
	font-size: 18px
	padding-right: 5px

@media screen and (max-width: 980px)
	.btn__general__text
		padding: 0px 45px
	.btn__general--facebook, .btn__general--google
		.btn__general__text
			padding: 0px 30px


// BUTTONS COLORS

.btn__general--purple
	font-family: $t-1
	font-size: 13px
	background-color: $c-2
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-15

.btn__general--orange
	font-family: $t-2
	font-size: 14px
	background-color: $c-3
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-10

.btn__general--gray
	font-family: $t-2
	font-size: 14px
	background-color: #9B9B9B
	@media screen and (min-width: 1025px)
		&:hover
			background-color: #B7B8BA

.btn__general--lightgrey
	font-family: $t-2
	font-size: 14px
	color: $c-0
	background-color: $c-14
	.btn__general__text
		padding: 0px 35px
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-14

.btn__general--facebook
	font-family: $t-4
	font-size: 13px
	background-color: #3B5996
	@media screen and (min-width: 1025px)
		&:hover
			background-color: #627AAB

.btn__general--google
	font-family: $t-4
	font-size: 13px
	background-color: #F14A38
	@media screen and (min-width: 1025px)
		&:hover
			background-color: #F46E60

@media screen and (max-width: 390px)
	.btn__general--purple, 
	.btn__general--facebook, 
	.btn__general--google
		font-size: 12px

	.btn__general--orange,
	.btn__general--gray
		font-size: 13px

// PAGINADOR
.btn__paginador
	max-width: 300px
	width: 100%
	box-sizing: border-box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	margin: auto
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		margin: 0
	li
		margin: 0px 5px
	a
		background-color: $c-6
		border-radius: 100%
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		font-family: $t-1
		font-size: 17px
		color: $c-0
		display: block
		transition: all .2s ease-in-out
		&:focus
			outline: none
		&.active
			background-color: $c-2
			color: $blanco
			transition: all .2s ease
		@media screen and (min-width: 1025px)
			&:hover 
				background-color: $c-2
				color: $blanco
				transition: all .2s ease

.btn__paginador__prev,
.btn__paginador__next
	background-color: $c-6
	margin: 0px 5px
	border-radius: 100%
	width: 40px
	height: 40px
	line-height: 45px
	text-align: center
	cursor: pointer
	color: $c-0
	transition: all .2s ease
	span
		font-size: 20px
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-2
			color: $blanco
			transition: all .2s ease

@media screen and (max-width: 360px)
	.btn__paginador
		a
			width: 35px
			height: 35px
			line-height: 35px
		li
			margin: 0px 3px
	.btn__paginador__prev,
	.btn__paginador__next
		width: 35px
		height: 35px
		line-height: 40px
		margin: 0px 3px


// BUTTONS SLIDER
.btn__slider__prev,
.btn__slider__next
	background-color: $blanco
	border-radius: 100%
	width: 45px
	height: 45px
	line-height: 62px
	text-align: center
	cursor: pointer
	display: inline-block
	box-shadow: 0px 8px 10px rgba(0,0,0,0.1)
	transition: all .3s ease
	span
		font-size: 34px
		color: $c-0
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-6
			transition: all .3s ease

@media screen and (max-width: 360px)
	.btn__slider__prev,
	.btn__slider__next
		width: 35px
		height: 35px
		line-height: 45px
		span
			font-size: 25px

// REDES
.btn__redes
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	li
		margin: 0 5px 10px

.btn__redes__icon
	width: 25px
	height: 25px
	border-radius: 100%
	line-height: 27px
	text-align: center
	font-size: 19px
	display: inline-block
	&:focus
		outline: none

.btn__redes--facebook
	background-color: $blanco
	color: #396BD1
	transition: all .3s ease

.btn__redes--skype
	background-color: $blanco
	color: #00AAF2
	transition: all .3s ease

.btn__redes--youtube
	background-color: $blanco
	color: #F61C0D
	transition: all .3s ease

.btn__redes--linkedin
	background-color: $blanco
	color: #396BD1
	transition: all .3s ease
	font-size: 13px
	line-height: 25px

.btn__redes--moodle
	background-color: $blanco
	color: #FA8001
	transition: all .3s ease
	font-size: 12px
	line-height: 25px
	position: relative
	img
		width: 16px
		height: 11px
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
	.icon_moodle_white
		opacity: 0
		transition: all .2s ease-in-out

@media screen and (min-width: 1025px)
	.btn__redes--facebook
		&:hover
			background-color: #396BD1
			color: $blanco
			transition: all .3s ease

	.btn__redes--skype
		&:hover
			background-color: #00AAF2
			color: $blanco
			transition: all .3s ease

	.btn__redes--youtube
		&:hover
			background-color: #F61C0D
			color: $blanco
			transition: all .3s ease

	.btn__redes--linkedin
		&:hover
			background-color:  #396BD1
			color: $blanco
			transition: all .3s ease

	.btn__redes--moodle
		&:hover
			background-color: #FA8001
			color: $blanco
			transition: all .3s ease
			.icon_moodle_white
				opacity: 1
				transition: all .2s ease-in-out
			.icon_moodle_color
				opacity: 0
				transition: all .2s ease-in-out

// TABS
.btn__tabs
	max-width: 510px
	width: 100%
	box-sizing: border-box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.btn__tabs__box
	width: 24.5%
	height: 45px
	line-height: 45px
	background-color: $blanco
	text-align: center
	border: none
	margin: 0
	border: 1px solid $c-8
	font-family: $t-2
	font-size: 13px
	transition: all .3s ease
	cursor: pointer
	&:nth-child(1)
		color: $c-0
	&:nth-child(2)
		color: $c-2
	&:nth-child(3)
		color: $c-3
	&:nth-child(4)
		color: $c-5

.btn__tabs--green
	.btn__tabs__box
		&.active
			background-color: $c-2
				color: $blanco
				transition: all .3s ease
		@media screen and (min-width: 1025px)
			&:hover
				background-color: $c-2
				color: $blanco
				transition: all .3s ease

.btn__tabs--gray
	.btn__tabs__box
		&.active
			background-color: $c-6
			transition: all .3s ease
		@media screen and (min-width: 1025px)
			&:hover
				background-color: $c-6
				transition: all .3s ease

@media screen and (max-width: 680px)
	.btn__tabs__box
		width: 24%

@media screen and (max-width: 480px)
	.btn__tabs__box
		width: 50%