.banner__general__container
	width: 100%
	height: 430px

.banner__general__box
	position: relative
	padding-right: 55px

.banner__general__background
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(34,34,32,0.4) 

.banner_general__title
	h2
		font-family: $t-1
		font-size: 40px
		color: $blanco
		margin-bottom: 0

.banner__general__content
	position: relative
	width: 100%
	height: 100%
	max-width: 1240px
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	justify-content: center
	align-items: center
	text-align: center


.banner__general__icon
	width: 80px
	position: absolute
	right: 0
	bottom: 10px

@media screen and (min-width: 681px)
	.banner__general
		&.active
			.banner_general__title h2
				opacity: 1
				transform: scale(1) translate3d(0, 0, 0)
			.banner__general__icon
				opacity: 1
				transition: all 1s ease-out
	.banner__general__icon
		opacity: 0
		transition: all 1s ease-out
	.banner_general__title
		overflow: hidden
		h2
			opacity: 0
			transition: transform 1s ease, opacity .3s ease, -webkit-transform 1s ease
			transform: scale(1) translate3d(0, 100%, 0)

@media screen and (max-width: 1024px)
	.banner__general__container
		height: 350px

	.banner__general__box h2
		font-size: 35px

	.banner__general__icon
		width: 65px

@media screen and (max-width: 800px)
	.banner__general__container
		height: 300px

	.banner__general__box h2
		font-size: 30px

	.banner__general__icon
		width: 50px

@media screen and (max-width: 680px)
	.banner__general__container
		height: 200px

	.banner__general__box 
		padding-right: 40px
		h2
			font-size: 28px

	.banner__general__icon
		width: 45px

	.banner__general__content
		padding: 0px 15px

@media screen and (max-width: 420px)
	.banner__general__box 
		padding-right: 0px
		h2
			font-size: 24px

	.banner__general__icon
		display: none
