.general__input
	.general__input__input
		width: 100%
		height: 50px
		line-height: 50px
		box-sizing: border-box
		border: 1px solid #E2E2E2
		margin: 0
		padding: 0
		border-radius: 0
		background: none 
		color: $c-4
		font-size: 14px
		font-family: $t-0
		border-radius: 3px
		padding-left: 15px
		padding-right: 15px
	.general__input__input::placeholder
		color: $c-4
		font-family: $t-0
		font-size: 14px
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0
	input[type="number"]
		-moz-appearance:textfield

.general__input--hover
	.general__input__input
		&:focus
			border: 1px solid $c-2

// textarea
.general__input--textarea
	.general__input__input
		height: 90px
		line-height: 1.1
		padding-top: 10px

// select
.general__input--select
	position: relative
	select
		padding-right: 35px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none

// icons
.general__input__inside
	position: relative

.general__input__ico
	display: block
	position: absolute
	top: 0
	font-size: 20px
	line-height: 50px
	pointer-events: none
	z-index: 2
	color: $c-0
	
.general__input__ico__right
	right: 10px
	
.general__input__icon--right
	.general__input__input 
		padding-right: 25px
	
.general__input__icon--all
	.general__input__input 
		padding-right: 35px
		padding-left: 35px

.general__input__button--right
	.general__input__button__right
		position: absolute
		top: 0
		right: 0
	.general__input__input
		padding-right: 50px


// input file

.general__input__file
	position: relative 
	input[type="file"]
		display: none
	
.general__input__file__label
	display: block
	position: relative
	width: 100%
	height: 50px
	line-height: 50px
	box-sizing: border-box
	border: 1px solid #E2E2E2
	border-radius: 0
	appearance: none
	margin-bottom: 0
	border-radius: 3px
	padding: 0 20px
	overflow: hidden

.general__input__file__text
	color: $c-0
	font-family: $t-0
	font-size: 14px
	letter-spacing: 1.05px
	
.general__input__file__ico
	display: block
	position: absolute
	top: 0
	right: 0
	line-height: 50px
	pointer-events: none
	z-index: 2
	padding: 0 25px
	box-sizing: border-box
	background: rgba(154, 178, 191, 0.3)

.general__input__file__ico--text
	display: block
	font-size: 14px	
	font-family: $t-2
	color: $c-4
	text-transform: uppercase
	letter-spacing: 1.05px

.general__input__file__ico--ico
	display: none
	line-height: 50px	

@media screen and (max-width: 1024px)
	.general__input__file__ico--ico
		display: block	

	.general__input__file__ico--text
		display: none

	.general__input__file__ico
		padding: 0 18px

	.general__input__file__label
		padding-right: 65px

// checkbox radio
.general__input--check--radio
	input[type="checkbox"], input[type="radio"]
		opacity: 0
		visibility: hidden

.general__input--check--radio--label
	display: inline-block

.general__input__inside__container
	display: flex
	align-items: flex-end

.general__input__figure
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0

.general__input__text
	font-size: 14px
	font-family: $t-0
	letter-spacing: 1px
	padding-left: 8px
	box-sizing: border-box
	color: $c-1

.general__input--radio
	.general__input__figure
		width: 18px
		height: 18px
		&:before
			width: 100%
			height: 100%
			border-radius: 100%
			border: 1px solid $c-0
			box-sizing: border-box
		&:after
			right: 0
			bottom: 0
			margin: auto
			width: 50%
			height: 50%
			border-radius: 100%
			background: $c-0
			opacity: 0
			visibility: hidden
			transition: all .2s linear

.general__input--check--radio
	input[type="radio"]:checked + .general__input--check--radio--label .general__input__figure:after
		opacity: 1
		visibility: visible

.general__input--checkbox
	.general__input__figure
		width: 20px
		height: 20px
		position: relative
		top: 2px
		&:before
			content: "\e907"
			font-family: $icomoon
			font-size: 20px
			color: $c-0
		&:after
			content: "\e909"
			font-family: $icomoon
			top: 50%
			transform: translateY(-50%)
			right: 0
			text-align: center
			margin: auto
			opacity: 0
			visibility: hidden
			font-size: 20px
			color: $c-3
			transition: all .2s linear

.general__input--check--radio
	input[type="checkbox"]:checked + .general__input--check--radio--label
		.general__input__figure:after
			opacity: 1
			visibility: visible
		.general__input__text
			color: $c-3


// INPUTS LINE
.input-one-line
	position: relative
	font-family: $t-0
	&.active
		.input-one__label
			top: -8px
			color: $c-3
		.input-one--span
			border-bottom: solid 1px $c-3
	.general__input__input::placeholder
		color: $c-4
		font-family: $t-0
		letter-spacing: 1.05px
		font-size: 14px
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0
	input[type="number"]
		-moz-appearance:textfield
.input-one
	box-sizing: border-box
	width: 100%
	border: none	
	height: 50px
	padding-left: 0px
	padding-right: 0px
	color: $c-0
	font-size: 16px
	font-size: 14px
	font-family: $t-0
	background: transparent
	position: relative
	z-index: 10

.input-one-line.active .input-one__label
	top: -8px
	font-size: 13px
.input-one-line.active
	.input-one--span
		border-bottom: solid 1px $c-3
		transition: all 1s ease
.input-one__label
	color: $c-1
	font-size: 14px
	font-family: $t-2
	top: 15px
	position: absolute
	transition: all .3s
	pointer: text
	z-index: 2
.input-one--span
	left: 0
	bottom: 0
	height: 1px
	width: 100%
	position: absolute
	border-bottom: solid 1px $c-2


.input-one--textarea
	height: 90px
	padding: 20px 0

.input-one-line--white
	.input-one__label
		color: $blanco
	.input-one
		color: $blanco
		background: transparent
	.input-one--span
		border-bottom: solid 1px $blanco
	&.input-one-line.active .input-one__label
		color: $blanco
		font-size: 13px
	&.input-one-line.active
		.input-one--span
			border-bottom: solid 1px $blanco

@media screen and (max-width: 680px)
	.general__input
		.general__input__input
			height: 45px
			line-height: 45px
	.general__input__ico
		line-height: 45px

// +++ style validation +++
.formError
	z-index: 90
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-2
		color: $blanco
		border: none
		font-size: 12px
		font-family: $t-0
	.formErrorArrow
		.line1,.line2,.line3
			display: none
// <<< end >>>