.item__general
	width: 100%

.item__general__container
	display: block
	transition: all .3s ease
	&:focus
		outline: none

.item__general__content
	width: 100%
	margin: auto
	box-sizing: border-box
	padding: 32px 35px 32px 35px
	position: relative

.item__general__precio
	font-family: $t-2
	font-size: 12px
	color: $blanco
	background-color: $c-3
	max-width: 60px
	width: 100%
	border-radius: 20px
	padding: 6px
	text-transform: uppercase
	text-align: center
	margin-bottom: 10px
	position: absolute
	top: 14px
	display: none
	span
		display: block

.item__general__img
	max-width: 200px
	width: 100%
	margin: auto

.item__general__info
	padding-top: 15px

.item__general__title
	padding-bottom: 12px 
	h3
		font-family: $t-0
		font-size: 12px
		color: $c-0
		margin-bottom: 0

.item__general__text
	line-height: 16.8px
	font-family: $t-1
	font-size: 14px
	color: $c-1
	p
		margin-bottom: 0

.item__general__btn
	width: 100%
	text-align: center
	display: block
	height: 50px
	background-color: $c-2
	color: $blanco
	font-family: $t-1
	font-size: 13px
	line-height: 50px
	text-transform: uppercase

.item__general__container--cap
	display: block

.item__general__img--cap
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto

.item__general__box
	background-color: $c-6
	padding: 28px 30px

.item__general__title--cap
	padding-bottom: 15px
	h3
		font-family: $t-2
		font-size: 12px
		margin-bottom: 0
		text-transform: uppercase
	&:focus
		outline: none

.item__general__text--cap
	height: 80px
	font-family: $t-2
	font-size: 20px
	color: $c-1
	margin-bottom: 35px
	p
		margin-bottom: 0

.item__general__date
	position: relative
	padding-left: 20px
	p
		font-family: $t-0
		font-size: 13px
		color: $c-1
		display: inline-block
		margin-bottom: 0
	&:before
		content: '\e903'
		position: absolute
		bottom: -1px
		left: 0
		font-family: $icomoon
		color: $c-1
		font-size: 15px

@media screen and (min-width: 1024px)
	.item__general__btn
		opacity: 0
		visibility: hidden
		transition: all .3s ease

	.item__general__container
		&:hover
			box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.1)
			transition: all .3s ease
			.item__general__btn
				opacity: 1
				visibility: visible
				transition: all .3s ease

	.item__general__container--cap
		.item__general__img--cap
			img
				transform: scale(1.1)
				transition: all 1s ease 0s
		&:hover
			.item__general__img--cap
				img
					transform: scale(1.03)

@media screen and (max-width: 1024px)
	.item__general__text--cap
		height: 64px