.block_titles
	background: #c6c6c6

.title
	h1, h2, h3, h4
		line-height: 1.2
		font-weight: normal
		margin-bottom: 0

	&.morado
		color: $c-2
	&.blanco
		color: $blanco
	&.gris
		color: $c-1


.title-big
	h1, h2, h3, h4
		font-family: $t-1
		font-size: 35px
	@media screen and (max-width: 1024px)
		h1, h2, h3, h4
			font-size: 30px
	@media screen and (max-width: 767px)
		h1, h2, h3, h4
			font-size: 26px

.title-medium
	h1, h2, h3, h4
		font-family: $t-1
		font-size: 30px

.title-small
	h1, h2, h3, h4
		font-family: $t-1
		font-size: 25px